// TODO: fix layout imports

*,
::after,
::before
{
  // We get this from Bootstrap's _reboot, but it may be necessary to include in other platforms
  box-sizing: border-box;
}

.baseline-grid
{
  // For testing vertical rhythm
  background-image: linear-gradient(to bottom, $accent-secondary-60 0, $neutral-100 1px);
  background-repeat: repeat-y;
  background-size: 100% space(sm);
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl
{
  padding: 0 space(4x); // override bootstrap's grid container padding
}

.grid-container
{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "header header header header"
    "main main main main";
  column-gap: 0;
  row-gap: 0;

  &.with-footer
  {
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "header header header header"
      "main main main main"
      "footer footer footer footer";
  }
}

header.navbar
{
  grid-area: header;
}

.app-body
{
  grid-area: main;
  padding-top: space(4x);
  padding-bottom: space(4x);
}

.app-content
{
  display: flex;
  flex-direction: column;
}

main
{
  overflow-y: auto;

  & img // TODO: find a better place for this
  {
    width: 100%;
    margin-top: space(3x);
  }
}

footer
{
  grid-area: footer;
  border-top: 1px solid var(--raven-grey-20);
  padding: space(sm);
}

.clear-storage
{
  position: fixed;
  bottom: space(md);
  right: space(md);
  z-index: 1000;

}

@media (min-width: 576px)
{
  .grid-container
  {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "header header header header"
      "main main main main";
    column-gap: 0;
    row-gap: 0;
  }
}

@media (min-width: 992px) {
  .main
  {
    flex-direction: row;
  }

  .app-content
  {
    flex-direction: row;

    .nav-secondary
    {
      flex: 1;
    }

    main
    {
      flex: 3;
    }
  }
}