// TODO: fix layout imports

*,
::after,
::before
{
  // We get this from Bootstrap's _reboot, but it may be necessary to include in other platforms
  box-sizing: border-box;
}

.app-root
{
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

.app-body
{
  padding: space(4x) - space(sm); // NOTE: the second value in this calc is the same as the padding on .app-content to prevent the left edge of focus indicators from being chopped off
}

.app-content
{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "nav-secondary" "main";

  .nav-secondary
  {
    grid-area: nav-secondary;
    padding: space(sm); // NOTE: this value is the same as the second padding value on .app-content to prevent the left edge of focus indicators from being chopped off
  }

  main
  {
    grid-area: main;
    display: grid;
    grid-template-areas:
      "intro"
      "nav-tertiary"
      "page-content";
    grid-template-columns: 1fr;
    justify-content: start;
    justify-items: start;
    overflow-y: auto;
    padding: space(sm); // NOTE: this value is the same as the second padding value on .app-content to prevent the left edge of focus indicators from being chopped off
  }
}

main
{
  & img // TODO: find a better place for this
  {
    width: 100%;
    margin-top: space(3x);
  }
}

.page-header
{
  grid-area: intro;
  width: 100%;
  margin-top: space(4x);
}

.page-content
{
  grid-area: page-content;
  width: 100%;
  overflow-y: auto;

  & > .demo-example:first-of-type
  {
    margin-top: space(6x);
  }
}

.app-footer
{
  display: flex;
  justify-content: center;
  margin-top: space(8x);
  border-top: space(xxs) solid $neutral-80;
  padding: space(4x);
}

.footer-logo
{
  width: space(12x);
}

@media (min-width: $lg)
{
  .app-body
  {
    width: 60rem;
    margin-right: auto;
    margin-left: auto;
  }

  .app-content
  {
    grid-template-columns: 1fr 4fr;
    grid-template-areas: "nav-secondary main";
    grid-column-gap: space(4x);
    grid-row-gap: 0;

    main
    {
      display: grid;
      grid-template-areas:
        "intro nav-tertiary"
        "page-content nav-tertiary";
      grid-template-columns: 4fr 1fr;
      grid-column-gap: space(4x);
      grid-row-gap: 0;
      justify-content: start;
      justify-items: start;
    }
  }

  .page-header
  {
    margin-top: 0;
  }
}

@media (min-width: $xl)
{

  .app-content{
    grid-template-columns: 1fr 5fr;
  }
  .app-body
  {
    width: 71.25rem;
  }
}

@media (min-width: $xxl)
{
  .app-body
  {
    width: 82.5rem;
  }
}