// TODO: ADS-129 fix layout imports

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: $neutral-100;
}

.docs-root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  // TODO: ADS-198 and ADS-297 find a better place for this
  img {
    width: 100%;
    margin-top: space(3x);
  }
}

.docs-body {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: 'nav-secondary' 'main';

  .bsds-nav-secondary {
    grid-area: nav-secondary;
  }

  main {
    grid-area: main;
    display: grid;
    grid-template-areas:
      'intro'
      'nav-tertiary'
      'page-content';
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
    justify-content: start;
    justify-items: start;
    overflow-y: auto;
    padding: space(4x) calc(space(4x) - space(md));
  }
}

.docs-page-header {
  width: 100%;
  padding: 0 space(sm);
  grid-area: intro;
}

.docs-page-content {
  width: 100%;
  overflow-x: auto;
  padding: 0 space(sm);
  grid-area: page-content;

  /* stylelint-disable-next-line selector-class-pattern */
  > .docs-preview- {
    &:first-of-type {
      margin-top: space(6x);
    }
  }
}

.docs-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: space(8x);
  border-top: space(xxs) solid $neutral-80;
  padding: space(4x);
  gap: space(4x);
}

.docs-footer-logo {
  width: space(12x);
}

.docs-body-minimal {
  width: var(--app-width);
  margin: 0 auto;
  flex: 1;

  main {
    padding: space(4x) calc(space(4x) - space(md));
  }

  h1 {
    margin-top: 0;
  }
}

@media (min-width: $lg) {
  .docs-body {
    width: var(--app-width);
    margin-right: auto;
    margin-left: auto;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: 'nav-secondary main';
    gap: 0 space(4x) - space(md);

    main {
      display: grid;
      grid-template-areas:
        'intro nav-tertiary'
        'page-content nav-tertiary';
      grid-template-columns: 4fr 1fr;
      grid-template-rows: auto 1fr;
      gap: 0 space(4x);
      justify-content: start;
      justify-items: start;
      margin-top: space(4x);
      padding: 0 space(sm);
    }

    > .bsds-nav-secondary {
      width: 12rem;
      margin-top: space(4x);
    }

    .bsds-nav-tertiary {
      width: 12rem;
      margin-top: space(lg);
    }
  }

  .docs-body-minimal {
    main {
      margin-top: space(4x);
      padding: 0 space(sm);
    }
  }
}

@media (min-width: $xl) {
  .docs-body {
    grid-template-columns: 1fr 5fr;
    width: var(--app-width);
  }
}

@media (min-width: $xxl) {
  .docs-body {
    width: var(--app-width);
  }
}
