@mixin nav-indicator-sm
{
  content: '';
  position: absolute;
  top: 25%;
  left: space(4x);
  width: space(xs);
  height: 50%;
}

@mixin nav-indicator-lg
{
  content: '';
  position: absolute;
  top: initial;
  left: 0;
  bottom: 0;
  width: 100%;
  height: space(xs);
}

.navbar
{
  z-index: 20;
  padding: 0;
  background: $neutral-100;
  box-shadow: $box-shadow-primary;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl
{
  padding: 0 space(4x); // override bootstrap's grid container padding
}

.navbar-brand
{
  margin: space(2x) space(4x);
  padding: 0;
}

.navbar-toggler
{
  @include button-subtle;
  margin: space(md) space(3x);
  padding: space(lg) space(md); // TODO: override button-subtle
  @include font-size($fs-body-subtle); // TODO: override button-subtle

  &[aria-expanded="false"]
  {
    .navbar-toggle-close-menu
    {
      display: none;
    }
  }

  &[aria-expanded="true"]
  {
    .navbar-toggle-open-menu
    {
      display: none;
    }
  }

  .navbar-toggler-wrapper
  {
    display: flex;
    align-items: center;

    .navbar-toggler-icon
    {
      width: space(2x);
    }
  }
}

.navbar-nav-primary
{
  .navbar-nav
  {
    margin-top: 0;
    border-top: space(xxs) solid $neutral-80;
    padding: space(md) 0;
  }

  .nav-item
  {
    margin-top: 0;
  }

  .nav-link
  {
    position: relative;
    padding: space(2x) space(4x) space(2x) space(6x);
    @include link-navigation;

    &.active
    {
      &::before
      {
        @include nav-indicator-sm;
        background: $neutral-00;
      }
    }

    &:hover
    {
      text-decoration: none; // TODO: override link-navigation

      &::before
      {
        @include nav-indicator-sm;
        background: $action-primary-40;
      }
    }

    &:active
    {
      &::before
      {
        @include nav-indicator-sm;
        background: $neutral-00;
      }
    }

    &:focus
    {
      @include focus-default-inset;
    }
  }
}

@media (min-width: 992px)
{
  .navbar-brand
  {
    margin-left: 0;
  }

  .navbar.navbar-expand-lg
  {
    .navbar-nav-primary
    {
      .navbar-nav
      {
        margin-top: 0;
        border: 0;

        .nav-link
        {
          margin-left: space(2x);
          border-top: 0;
          padding: space(sm);
          @include font-size($fs-body-subtle);

          &.active,
          &:hover,
          &:focus
          {
            &::before
            {
              @include nav-indicator-lg;
            }
          }

          &:focus
          {
            @include focus-default;
          }
        }
      }
    }
  }
}