@import "./../abstracts/variables";

.bsds-header
{
  display: flex;
  align-items: center;
  padding: 1rem;
  background: $white;
  box-shadow: $box-shadow-primary;
}

.bsds-logo
{
  max-height: 2.125rem;
  margin: 0 1rem;
}