@import "./../abstracts/variables";

.nav-primary
{
  position: absolute;
//  top: 80px; // change to 0
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  padding: 32px 40px;
  background: $white;
  text-align: left;
  box-shadow: $box-shadow-primary;
  z-index: 2;

  .nav-primary-btn-close
  {
    // width: 26px;
    // height: 26px;
    border-radius: 0;
    border: 0;
    padding: 0;
    margin: 0;
    background: transparent;
    color: $black;

    // &::before
    // {
    //   display: block;
    //   position: absolute;

    //   bottom: 0;
    //   left: 0;

    //   content: "";
    //   height: 4px;
    //   width: 32px;
    //   transform: rotate(-45deg);
    //   background-color: $black;
    // }

    // &::after
    // {
    //   content: "";
    //   height: 4px;
    //   width: 32px;
    //   transform: rotate(45deg);
    //   background-color: #000000;
    // }
  }

  .nav-primary-list-title
  {
    margin-top: 56px;
    margin-bottom: 0;
    font-family: $font-family-base-bold;
    font-size: 23.09px;
    line-height: 1.4; // 32.33px
    color: $black;
  }

  & > ul
  {
    margin: 0;
    padding: 0;
    list-style: none;

    & > li
    {
      margin-top: 24px;

      & > a
      {
        margin: 0;
        padding: 0;
        color: $black;
        font-family: $font-family-base;
        // font-size: ms(0, $ratio-alpha);
      
        &:hover,
        &:focus,
        &.active
        {
          color: $black;
          text-decoration: underline;
        }
      
        &:focus
        {
          outline: none;
          box-shadow: inset 0 0 0 2px $focus-indicator;
        }
      }
    }
  }
}

@media (min-width: 768px)
{
  .nav-primary
  {
    width: 420px;

    .nav-primary-list-title
    {
      font-size: 27.38px;
      line-height: 1.4; // 33.33px
    }

    & > ul
    {
      & > li
      {
        & > a
        {
          // font-size: ms(0, $ratio-beta);
        }
      }
    }
  }
}