.bsds-accordion {
  width: 100%;

  &:last-child {
    border-bottom: $border-width-xxs solid $border-color-subtle;
  }

  &.is-contained {
    border: $border-width-xxs solid $border-color-subtle;
    padding: space(lg);

    .bsds-accordion-heading {
      .bsds-accordion-trigger {
        padding: space(lg) space(md);
      }

      &[class*='bsds-accordion-stoplight'] {
        .bsds-accordion-trigger {
          padding: 0;
          padding-right: space(md);

          svg {
            margin-right: 0;
          }
        }

        .bsds-accordion-trigger-text {
          padding: space(lg) 0;
        }
      }

      &:first-of-type {
        .bsds-accordion-trigger {
          border-top: 0;
        }
      }
    }

    .bsds-accordion-panel-body {
      padding: space(lg) space(md);
    }
  }
}

.bsds-accordion-heading {
  margin-top: 0;
}

.bsds-accordion-trigger {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0;
  border-top: $border-width-xxs solid $border-color-subtle;
  border-right: 0;
  border-bottom: 0;
  border-left: 0;
  padding: space(3x);
  background: transparent;
  color: $text-color-primary;
  @include font-family-base-regular;
  @include font-size($fs-body);
  text-align: left;

  svg {
    margin-left: space(3x);
  }

  &[aria-expanded='true'] {
    @include font-family-base-heavy;

    svg {
      transform: rotate(180deg);
    }
  }

  &:not([disabled]) {
    &:hover {
      border-color: $border-color-subtle;
      background: transparent;
      color: $text-color-action;
      text-decoration: underline;

      svg {
        color: $action-primary-40;
      }
    }

    &:active {
      background: transparent;
      color: $text-color-action;

      svg {
        color: $action-primary-40;
      }
    }

    &:focus {
      background: transparent;
      @include focus-default-inset;
    }
  }

  &[disabled] {
    background: transparent;
    color: $text-color-disabled;
    cursor: not-allowed;
  }
}

.bsds-accordion-panel {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s ease;
}

.bsds-accordion-panel-body {
  padding: space(3x) space(3x) space(4x);
}

// Stoplight styles

[class*='bsds-accordion-stoplight'] {
  .bsds-accordion-trigger {
    position: relative;
    padding: 0;

    &::before {
      align-self: stretch;
      width: space(3x) + space(2x) + space(sm);
      margin-right: space(2x);
      border-left-width: $border-width-sm;
      border-left-style: solid;
      padding: space(3x) space(md);
      background-position: center;
      background-repeat: no-repeat;
      background-size: space(3x);
      content: '';
    }

    .bsds-accordion-trigger-text {
      flex: 1;
      padding: space(3x) 0;
    }

    svg {
      margin-right: space(3x);
    }

    &:focus {
      @include focus-default;
      z-index: 2;
    }
  }
}

.bsds-accordion-stoplight {
  &-red {
    .bsds-accordion-trigger {
      &::before {
        border-left-color: $border-color-error;
        background-color: $feedback-error-95;
        background-image: url('../../assets/images/icon-stoplight-red.svg');
      }
    }
  }

  &-yellow {
    .bsds-accordion-trigger {
      &::before {
        border-left-color: $feedback-warning-60;
        background-color: $feedback-warning-95;
        background-image: url('../../assets/images/icon-stoplight-yellow.svg');
      }
    }
  }

  &-green {
    .bsds-accordion-trigger {
      &::before {
        border-left-color: $border-color-success;
        background-color: $feedback-success-95;
        background-image: url('../../assets/images/icon-stoplight-green.svg');
      }
    }
  }
}
