$bsds-breadcrumb-divider: '/';

.bsds-breadcrumbs
{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.bsds-breadcrumb-item.bsds-breadcrumb-item
{
  margin-top: 0; // TODO: reduce specificity
  @include font-size($fs-body-subtle);

  & a
  {
    color: $neutral-darkest;
    font-family: $font-family-base-regular;
    text-decoration: none;

    // DEVELOPER NOTE:
    // The grandparent and parent anchor elements are missing their href attributes because they are placeholder links.
    // We added :not([href]) on line 27 so that we can demonstrate the hover state.
    // *** We should never do this on our actual site. ***
    &:not([href]):hover, // FOR DEMO ONLY
    &:hover
    {
      color: $neutral-darkest;
      text-decoration: underline;
    }

    &:focus
    {
      @include focus-default;
    }
  }

  & + .bsds-breadcrumb-item
  {
    padding-left: space(md);

    &::before
    {
      padding-right: space(md);
      content: $bsds-breadcrumb-divider;
      font-family: $font-family-base-regular;
    }
  }

  &.bsds-breadcrumb-item-active
  {
    font-family: $font-family-base-heavy;
  }
}