$bsds-breadcrumb-divider: '/';
$bsds-breadcrumb-divider-padding: 0.5rem;
$bsds-breadcrumb-focus-indicator-width: 0.125rem;
$bsds-breadcrumb-focus-indicator-offset: 0.125rem;

.bsds-breadcrumbs
{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.bsds-breadcrumb-item
{
  margin-top: 0 !important; // TODO: reduce specificity
  font-size: 0.875rem;

  & a
  {
    color: $neutral-darkest;
    font-family: $font-family-base-regular;
    text-decoration: none;

    &:hover
    {
      color: $neutral-darkest;
      text-decoration: underline;
    }

    &:active
    {
      color: $brand-primary;
    }

    &:focus
    {
      @include focus-default;
    }
  }

  & + .bsds-breadcrumb-item
  {
    padding-left: $bsds-breadcrumb-divider-padding;

    &::before
    {
      padding-right: $bsds-breadcrumb-divider-padding;
      content: $bsds-breadcrumb-divider;
      color: $neutral;
    }
  }

  &.bsds-breadcrumb-item-active
  {
    color: $neutral;
  }
}