.ads-button
{
  @include button-default;

  &-assertive
  {
    @include button-assertive;
  }

  &-subtle
  {
    @include button-subtle;
  }

  &-ghost
  {
    @include button-ghost;
  }

  &-icon
  {
    @include button-icon;
  }
}

//
// Link buttons
// This is not recommended -- we should use button styles on button elements, and link styles on link elements
// NOTE: these will need to be updated if we modify the link mixins
//

a[class*="ads-button"]
{
  text-decoration: none;

  &:hover,
  &:focus,
  &:active
  {
    text-decoration: none;
  }
}

a.ads-button,
a.ads-button-subtle
{
  &:visited
  {
    color: $action-primary-dark;
  }
}

a.ads-button-assertive,
a.ads-button-ghost
{
  &:visited
  {
    color: $neutral-100;
  }
}