.bsds-card-group 
{ 
  display: grid;
  grid-template-rows: auto;
  grid-gap: space(4x);

  &-2up 
  {
    @extend .bsds-card-group;
    grid-template-columns: repeat(2, 1fr);
  }

  &-3up
  {
    @extend .bsds-card-group;
    grid-template-columns: repeat(3, 1fr);
  }

  &-4up
  {
    @extend .bsds-card-group;
    grid-template-columns: repeat(4, 1fr);
  }

    @media (max-width: $md)
    {
      &-3up, 
      &-4up 
      {
        grid-template-columns: repeat(2, 1fr);
      }
    }
    
    @media (max-width: $sm)
    {
      &-2up,
      &-3up, 
      &-4up 
      {
        grid-template-columns: repeat(1, 1fr);
      }
    }
}
