.bsds-card-group {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  grid-gap: space(4x);

  &-two-up,
  &-three-up,
  &-four-up {
    @extend .bsds-card-group;
  }

  @media (min-width: $breakpoint-md-min) {
    &-two-up,
    &-three-up,
    &-four-up {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (min-width: $breakpoint-lg-min) {
    &-three-up {
      grid-template-columns: repeat(3, 1fr);
    }

    &-four-up {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
