.bsds-card {
    width: 6rem;
    display: block;  
}

.bsds-card-image {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    max-height: unset;
    object-fit: cover;
    object-position: right top;
}

.bsds-card-body {
    padding: space(sm) 0;
}