.bsds-card {
    width: 100%;
    flex-flow: column wrap;
}

.bsds-card-image {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    max-height: unset;
    object-fit: cover;
    object-position: right top;
}