.bsds-card-group
{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  grid-gap: space(4x);

  &-twoUp,
  &-threeUp,
  &-fourUp
  {
    @extend .bsds-card-group;
  }

  @media (min-width: $md)
  {
    &-twoUp,
    &-threeUp,
    &-fourUp
    {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (min-width: $lg)
  {
    &-threeUp
    {
      grid-template-columns: repeat(3, 1fr);
    }

    &-fourUp
    {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
