   .bsds-card 
   {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
    max-width: max-content;
    height: auto;
    padding: 0 0 0 space(sm);

    &-ghost 
    { 
      background-color: $neutral-00;
      color: $neutral-100;
    }

    &-border-light 
    {
      border: space(xxs) solid $border-color-subtle;
      background-color: $neutral-100;
    }

    &-image 
    {
      height: 100%;
      max-height: unset;
      object-fit: cover;
      object-position: top;
      margin: 0;
    }
  
    // &-content
    // {
    //   padding: space(3x);
    // }

    &-title 
    {
      margin: 0;
      color: inherit;
    }

    &-title-link 
    {
      @include link-subtle;
      margin: 0;
      width: max-content;
      text-decoration-thickness: space(xs);
    }

    &-description 
    {
      margin: space(2x) 0;
    }
  }

  .link-hitbox::before
  {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
  }

  