.lib-form
{
  width: 100%;
}

.lib-fieldset
{
  display: flex;
  flex-direction: column;
  border: 0;
  padding-left: 0;
  padding-right: 0;
}

.lib-legend
{
  margin: 0; // TODO: look at this after we rip out bootstrap
  font-family: $font-family-base-heavy;
  @include font-size($fs-base);
}

.lib-input
{
  width: 100%;
}

.lib-input-error
{
  display: flex;
  align-items: center;
  margin: space(md) 0 0 0;
  color: $feedback-error-40;

  &::before
  {
    content: '';
    flex-shrink: 0;
    align-self: flex-start;
    display: inline-block;
    width: space(3x);
    height: space(3x);
    margin-right: space(md);
    background-image: url("../../assets/images/icon-error.svg");
    background-size: 100%;
    background-repeat: no-repeat;
  }
}

.lib-input-help-text
{
  margin: space(sm) 0 0 0;
  @include font-size($fs-body-subtle);
  color: $neutral-40;
}

.lib-form-control
{
  margin-top: space(4x);
}

@media (min-width: 992px)
{
  .lib-input-error
  {
    &::before
    {
      transform: translateY(space(xs));
    }
  }
}