
.ads-fieldset[aria-invalid="true"] .ads-input-checkbox-input,
.ads-input-checkbox-input[aria-invalid="true"]
{
  + .ads-input-checkbox-label
  {
    &::before
    {
      border: space(xs) solid $feedback-error-40;
    }
  }

  &:checked,
  &[aria-checked="true"]
  {
    + .ads-input-checkbox-label
    {
      &::before
      {
        background: $feedback-error-40;
      }
    }
  }

  &:focus,
  &:focus:checked
  {
    + .ads-input-checkbox-label
    {
      &::before
      {
        @include focus-invalid;
      }
    }
  }
}

.ads-fieldset
{
   > .ads-input:not(:first-child)
  {
    .ads-input-checkbox
    {
      margin-top: space(2x);
    }
  }
}

.ads-input-checkbox
{
  display: flex;
}

 .ads-input-checkbox-input
{
  position: absolute;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  clip: rect(0,0,0,0);
  overflow: hidden;
  opacity: 0;
  -webkit-appearance: none;
  pointer-events: none;

  + .ads-input-checkbox-label
  {
    position: relative;
    padding-left: space(3x) + space(xs);
    cursor: pointer;

    &::before
    {
      content: "";
      position: absolute;
      top: calc(((1em * 1.5) - $ffs-body-assertive) / 2);
      left: 0;
      width: $ffs-body-assertive;
      height: $ffs-body-assertive;
      border: space(xxs) solid $neutral-00;
      background: $neutral-100;
    }
  }

  &:checked,
  &[aria-checked="mixed"],
  &[aria-checked="true"]
  {
    + .ads-input-checkbox-label
    {
      &::before
      {
        border: transparent;
        background: $neutral-00;
      }
    }
  }

  &:checked,
  &[aria-checked="true"]
  {
    + .ads-input-checkbox-label // checkmark
    {
      &::before
      {
        background: $neutral-00;
      }
      &::after
      {
        content: '';
        position: absolute;
        top: calc(((1em * 1.5) - $ffs-body-assertive) / 2);
        left: 0;
        color: $neutral-100;
        width: $ffs-body-assertive;
        height: $ffs-body-assertive;
        padding: space(xxs) + space(xs);
        background-image: url("../../assets/images/icon-check.svg");
        background-size: 100%;
        background-repeat: no-repeat;
        background-origin: content-box;
      }
    }
  }

  &:focus,
  &:focus:checked
  {
    + .ads-input-checkbox-label
    {
      &::before
      {
        @include focus-default;
      }
    }
  }

  &:disabled
  {
    + .ads-input-checkbox-label
    {
      cursor: not-allowed;

      &::before
      {
        background: $neutral-95;
        border: space(xxs) solid $neutral-80;
      }

      &::after
      {
        filter: invert(40%);
      }
    }
  }
}