$outer-circle-diameter: $ffs-body-assertive;
$inner-circle-diameter: space(md);

.ads-input-radio-input
{
  &[aria-invalid="true"]
  {
    + .ads-input-radio-label
    {
      &::before
      {
        border: space(xs) solid $feedback-error-40;
        background: $neutral-100;
      }
    }

    &:checked,
    &[aria-checked="true"]
    {
      + .ads-input-radio-label
      {
        &::before
        {
          border: transparent;
          background: $feedback-error-40;
        }

        &::after
        {
          background: $neutral-100;
        }
      }
    }

    &:focus,
    &:focus:checked
    {
      + .ads-input-radio-label
      {
        &::before
        {
          @include focus-invalid;
        }
      }
    }
  }
}

.ads-fieldset
{
  > .ads-input:not(:first-child)
  {
    .ads-input-radio
    {
      margin-top: space(2x);
    }
  }
}

.ads-input-radio
{
  display: flex;
}

.ads-input-radio-input
{
  position: absolute;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  clip: rect(0,0,0,0);
  overflow: hidden;
  opacity: 0;
  -webkit-appearance: none;
  pointer-events: none;

  + .ads-input-radio-label
  {
    position: relative;
    vertical-align: middle;
    padding-left: space(3x) + space(xs);
    cursor: pointer;

    &::before
    {
      content: "";
      position: absolute;
      top: calc((1.5em - $outer-circle-diameter) / 2);
      left: 0;
      width: $outer-circle-diameter;
      height: $outer-circle-diameter;
      border: space(xxs) solid $neutral-00;
      border-radius: 50%;
      background: $neutral-100;
    }
  }

  &:checked,
  &[aria-checked="true"]
  {
    + .ads-input-radio-label
    {
      &::before
      {
        border: transparent;
        background: $neutral-00;
      }

      &::after
      {
        content: '';
        position: absolute;
        top: calc((1.5em - ($outer-circle-diameter / 2)) / 2);
        left: calc(($outer-circle-diameter - $inner-circle-diameter) / 2);
        width: $inner-circle-diameter;
        height: $inner-circle-diameter;
        border-radius: 50%;
        background: $neutral-100;
      }
    }
  }

  &:focus,
  &:focus:checked
  {
    + .ads-input-radio-label
    {
      &::before
      {
        @include focus-default;
      }
    }
  }

  &:disabled
  {
    + .ads-input-radio-label.ads-input-radio-label // TODO: lower specificity after we refactor for form groups & validation
    {
      cursor: not-allowed;

      &::before
      {
        border: space(xxs) solid $neutral-80;
        background: $neutral-95;
        opacity: 1;
      }
    }

    &:checked,
    &[aria-checked="true"]
    {
      + .ads-input-radio-label.ads-input-radio-label // TODO: lower specificity after we refactor for form groups & validation
      {
        &::after
        {
          background: $neutral-60;
        }
      }
    }
  }
}