$checkbox-size: $ffs-body-assertive;
$checkmark-size: $ffs-body-assertive;

@mixin checkbox-invalid() {
  + .bsds-input-checkbox-label {
    &::before {
      border: $border-width-xs solid $border-color-error;
    }
  }

  &:checked,
  &[aria-checked='true'] {
    + .bsds-input-checkbox-label {
      &::before {
        background: $feedback-error-40;
      }
    }
  }

  &:focus {
    + .bsds-input-checkbox-label {
      &::before {
        @include focus-invalid;
      }
    }

    &:checked {
      + .bsds-input-checkbox-label {
        &::before {
          @include focus-invalid;
        }
      }
    }
  }
}

.bsds-input-checkbox {
  display: flex;
}

.bsds-fieldset {
  > .bsds-input {
    &:not(:first-child) {
      .bsds-input-checkbox {
        margin-top: space(2x);
      }
    }
  }

  &[aria-invalid='true'] {
    .bsds-input-checkbox-input {
      @include checkbox-invalid;
    }
  }
}

.bsds-input-checkbox-input {
  @include visually-hidden;
  pointer-events: none;

  + .bsds-input-checkbox-label {
    position: relative;
    padding-left: space(3x) + space(xs);
    cursor: pointer;

    &::before {
      position: absolute;
      top: calc((1.5em - $checkbox-size) / 2);
      left: 0;
      width: $checkbox-size;
      height: $checkbox-size;
      border: $border-width-xxs solid $border-color-assertive;
      background: $neutral-100;
      content: '';
    }
  }

  &:checked,
  &[aria-checked='mixed'],
  &[aria-checked='true'] {
    + .bsds-input-checkbox-label {
      &::before {
        border: transparent;
        background: $neutral-00;
      }
    }
  }

  &:checked,
  &[aria-checked='true'] {
    + .bsds-input-checkbox-label // checkmark
    {
      &::before {
        background: $neutral-00;
      }

      &::after {
        position: absolute;
        top: calc((1.5em - $checkmark-size) / 2);
        left: 0;
        width: $checkmark-size;
        height: $checkmark-size;
        padding: space(xxs) + space(xs);
        background-image: url('../../assets/images/icon-check.svg');
        background-origin: content-box;
        background-repeat: no-repeat;
        background-size: 100%;
        content: '';
        color: $neutral-100;
      }
    }
  }

  &:disabled {
    + .bsds-input-checkbox-label {
      cursor: not-allowed;

      &::before {
        border: $border-width-xxs solid $border-color-subtle;
        background: $neutral-95;
      }

      &::after {
        filter: invert(40%);
      }
    }
  }

  &:focus {
    + .bsds-input-checkbox-label {
      &::before {
        @include focus-default;
      }
    }

    &:checked {
      + .bsds-input-checkbox-label {
        &::before {
          @include focus-default;
        }
      }
    }
  }

  &[aria-invalid='true'] {
    @include checkbox-invalid;
  }
}
