@import '../abstracts/abstracts';
@import '../base/base';

.bsds-nav-tertiary {
  grid-area: nav-tertiary;
  width: 100%;
  margin: space(4x) 0 0;

  .bsds-nav-tertiary-title {
    margin: 0;
    border-bottom: $border-width-xxs solid $border-color-subtle;
    padding-bottom: space(lg);
    color: $text-color-subtle;
    @include font-family-base-regular;
    @include font-size($fs-small);
    line-height: 1.5; // NOTE: overriding h2's default line height
  }

  .bsds-nav {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-left: 0;
    list-style: none;
    @include font-size($fs-small);
  }

  .bsds-nav-item {
    margin-top: space(lg);
  }

  .bsds-nav-link {
    display: inline-flex;
    padding: 0;
    @include link-navigation;
  }
}

@media (min-width: $breakpoint-lg-min) {
  .bsds-nav-tertiary {
    margin-top: 0;
  }
}
