.bsds-product-card
{
  .bsds-product-card-ns-title
  {
    @include font-size($fs-base);
    width: fit-content;
    margin: 0;

    &-assertive
    {
      @extend .bsds-product-card-ns-title;
      @include font-size($fs-body-assertive);
    }

    &-ghost
    {
      @extend .bsds-product-card-ns-title;
      @extend .bsds-link-ghost;

      &-assertive
      {
        @extend .bsds-product-card-ns-title-assertive;
        @extend .bsds-product-card-ns-title-ghost;
      }
    }
  }


  [class*="bsds-link"]:not([class*="ghost"])
  {
    text-decoration: none;
    @extend .bsds-link;

    &:hover
    {
      @extend .bsds-link;
    }
  }

  [class*="-ghost"]
  {
    text-decoration: none;
    @extend .bsds-link-ghost;

    &:hover
    {
      @extend .bsds-link-ghost;
    }
  }

  img
  {
    cursor: pointer;

    ~[class$="title"]
    {
      margin-top: space(md);
    }
  }
}

.bsds-card-border-light
{
  &.bsds-product-card
  {
    padding: 0;

    [class*="bsds-tag"]
    {
      padding: space(3x) space(3x) 0 space(3x);

      ~[class$="title"]
      {
        margin-top: space(lg);
      }
    }

    [class$="title"]
    {
      margin: space(3x) space(3x) 0;
    }

    .bsds-card-description
    {
      padding: 0 space(3x) space(3x) space(3x);
    }
  }
}

[class*="bsds-tag"]
{
  & ~.bsds-product-card-ns-title
  {
    margin-top: space(lg);
  }
}

.bsds-product-card-even-split
{
  display: grid;
  grid-auto-rows: 1fr;

  .bsds-image-50-split
  {
    cursor: pointer;
  }

  [class$="title"]
  {
    margin-top: space(md);
  }
}
