.bsds-search {
  width: 100%;

  .bsds-input-text-input {
    height: 100%;
    margin-top: 0;
  }
}

.bsds-search-control {
  display: flex;
  flex-direction: column;
  gap: space(2x);
}

.bsds-input-search {
  position: relative;
  flex: 1;
}

.bsds-search-clear {
  position: absolute;
  right: 0;
  aspect-ratio: 1 / 1;
  height: 100%;
  border: 0;
  padding: space(2x);
  background: transparent;

  &:focus {
    @include focus-default-inset;
  }

  &:not(:disabled) {
    &:hover,
    &:active {
      background: transparent;

      &:not(:active) {
        fill: $action-primary-40;
      }
    }
  }
}

.bsds-search-results {
  position: absolute;
  width: 100%;
  margin: 0;
  box-shadow: $box-shadow-secondary;
  border: space(xxs) solid $border-color-subtle;
  padding: space(md) 0;
  background-color: $neutral-100;
  list-style: none;
}

.bsds-search-result {
  &:not(:first-of-type) {
    margin: 0;
  }

  &.bsds-search-result-none,
  .bsds-link {
    padding: space(lg) space(2x);
  }

  .bsds-link {
    display: block;

    &.active-descendant {
      @include focus-default-inset;
    }
  }
}

@media (min-width: $sm) {
  .bsds-search-control {
    flex-direction: row;
  }
}

input {
  &[type='search'] {
    /* clears the ‘X’ from Chrome */
    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
      display: none;
    }
  }
}
