$icon-size-sm: space(lg);

.bsds-input-text {
  &-input {
    &-select {
      position: relative;
      display: grid;
      grid-template-areas: 'select';
      align-items: center;
      margin-top: space(md);
      background-color: $neutral-100;

      select {
        @extend .bsds-input-text-input;
        grid-area: select;
        appearance: none;
        margin: 0;

        &.bsds-input-text-input-select-control {
          z-index: 1;
          background-color: transparent;

          &:hover,
          &::after,
          &:read-only {
            cursor: pointer;
          }

          &:focus {
            @include focus-default;
          }

          &:disabled {
            background: $neutral-95;

            &:hover {
              cursor: not-allowed;
            }
          }

          &[aria-invalid='true'] {
            border-color: $feedback-error-40;
          }
        }
      }

      &::after {
        position: absolute;
        top: calc(50% - ($icon-size-sm / 3));
        right: space(2x);
        width: $icon-size-sm;
        height: $icon-size-sm;
        background-color: $neutral-00;
        content: '';
        mask: url('../../assets/images/icon-chevron-down.svg') no-repeat 50% 50%;
        mask-size: cover;
      }
    }
  }
}
