.bsds-skip-link
{
  position: absolute;
  top: -3.125rem; // NOTE: this is a one-off size that needs to change if the height of the skip link changes
  z-index: 1000;
  display: flex;
  justify-content: center;
  padding: space(md);
  background: $neutral-95;

  &:focus
  {
    position: relative;
    top: 0;
    @include focus-default-inset
  }
}