.skip-link
{
  position: absolute;
  top: -3.125rem; // NOTE: this is a one-off size that needs to change if the height of the skip link changes
  left: space(sm);
  border: space(xs) solid $neutral-lightest;
  padding: space(lg) space(2x);
  background: $action-primary-dark;
  color: $neutral-lightest;
  @include font-size($fs-body-subtle);
  text-decoration: none;
  transition: top 1s ease-out;
  z-index: 100;

  &:hover
  {
    color: $neutral-lightest;
    text-decoration: underline;
  }

  &:focus
  {
    position: absolute;
    top: space(sm);
    transition: top 0.5s ease-in;
    @include focus-ghost-outline;
  }
}