[class*="ads-stoplight"]
{
  display: flex;
  align-items: center;

  &::before
  {
    display: inline-block;
    width: space(3x);
    height: space(3x);
    margin-right: space(md);
  }

  &.body-subtle
  {
    &::before
    {
      display: inline-block;
      width: space(2x);
      height: space(2x);
      margin-right: space(md);
      transform: translateY(-1px);
    }
  }
}

.ads-stoplight
{
  &-red
  {
    &::before
    {
      content: url("../../assets/images/icon-stoplight-red.svg");
    }

    &.ads-stoplight-ghost
    {
      &::before
      {
        content: url("../../assets/images/icon-stoplight-red-ghost.svg");
      }
    }
  }

  &-yellow
  {
    &::before
    {
      content: url("../../assets/images/icon-stoplight-yellow.svg");
    }
  }

  &-green
  {
    &::before
    {
      content: url("../../assets/images/icon-stoplight-green.svg");
    }
  }

  &-ghost
  {
    color: $neutral-100;
  }
}