[class*='bsds-stoplight'] {
  display: flex;
  align-items: center;

  &::before {
    display: inline-block;
    align-self: flex-start;
    width: space(3x);
    height: space(3x);
    margin-right: space(md);
    background-repeat: no-repeat;
    background-size: 100%;
    content: '';
    flex-shrink: 0;
  }

  &.bsds-body-subtle {
    &::before {
      width: space(2x);
      height: space(2x);
      transform: translateY(-1px);
    }
  }
}

.bsds-stoplight {
  &-red {
    &::before {
      background-image: url('../../assets/images/icon-stoplight-red.svg');
    }

    &.bsds-stoplight-ghost {
      &::before {
        background-image: url('../../assets/images/icon-stoplight-red-ghost.svg');
      }
    }
  }

  &-yellow {
    &::before {
      background-image: url('../../assets/images/icon-stoplight-yellow.svg');
    }
  }

  &-green {
    &::before {
      background-image: url('../../assets/images/icon-stoplight-green.svg');
    }
  }

  &-ghost {
    color: $neutral-100;
  }
}
