// NOTE: changes to class names need to be done in code and contentful (foundations > color/spacing/tokens)

@mixin swatch {
  width: space(15x);
  height: space(6x);
  margin-top: space(3x);
}

@mixin swatch-border($border-properties) {
  position: relative;

  &::after {
    position: absolute;
    top: 50%;
    display: block;
    width: 100%;
    height: 0;
    border-bottom: $border-properties;
    content: '';
  }
}

@mixin swatch-ghost($has-offset: true) {
  position: relative;

  &::before {
    position: absolute;
    top: calc(0rem - space(2x));
    bottom: calc(0rem - space(2x));
    left: calc(0rem - space(2x));
    @if $has-offset {
      right: calc(0rem - space(2x));
    } @else {
      right: 0;
    }
    z-index: -1;
    display: block;
    background: $neutral-00;
    content: '';
  }
}

@mixin swatch-space {
  /* stylelint-disable-next-line color-no-hex */
  background: rgba(#ff00b4, 0.3); // NOTE: this is a one-off to match sketch swatch
}

.docs-swatch {
  // brand color range
  &-bsc-blue {
    @include swatch;
    background: $brand-primary;
  }

  // neutral range
  &-neutral-00 {
    @include swatch;
    background: $neutral-00;
  }

  &-neutral-20 {
    @include swatch;
    background: $neutral-20;
  }

  &-neutral-40 {
    @include swatch;
    background: $neutral-40;
  }

  &-neutral-60 {
    @include swatch;
    background: $neutral-60;
  }

  &-neutral-80 {
    @include swatch;
    background: $neutral-80;
  }

  &-neutral-95 {
    @include swatch;
    background: $neutral-95;
  }

  &-neutral-100 {
    @include swatch;
    border: $border-width-xxs solid $border-color-assertive;
    background: $neutral-100;
  }

  // action color range
  &-action-primary-10 {
    @include swatch;
    background: $action-primary-10;
  }

  &-action-primary-20 {
    @include swatch;
    background: $action-primary-20;
  }

  &-action-primary-40 {
    @include swatch;
    background: $action-primary-40;
  }

  &-action-primary-60 {
    @include swatch;
    background: $action-primary-60;
  }

  &-action-primary-80 {
    @include swatch;
    background: $action-primary-80;
  }

  &-action-primary-95 {
    @include swatch;
    background: $action-primary-95;
  }

  &-action-primary-97 {
    @include swatch;
    background: $action-primary-97;
  }

  // accent color ranges
  &-accent-primary-20 {
    @include swatch;
    background: $accent-primary-20;
  }

  &-accent-primary-30 {
    @include swatch;
    background: $accent-primary-30;
  }

  &-accent-primary-40 {
    @include swatch;
    background: $accent-primary-40;
  }

  &-accent-primary-60 {
    @include swatch;
    background: $accent-primary-60;
  }

  &-accent-primary-80 {
    @include swatch;
    background: $accent-primary-80;
  }

  &-accent-primary-95 {
    @include swatch;
    background: $accent-primary-95;
  }

  &-accent-secondary-20 {
    @include swatch;
    background: $accent-secondary-20;
  }

  &-accent-secondary-40 {
    @include swatch;
    background: $accent-secondary-40;
  }

  &-accent-secondary-60 {
    @include swatch;
    background: $accent-secondary-60;
  }

  &-accent-secondary-80 {
    @include swatch;
    background: $accent-secondary-80;
  }

  &-accent-secondary-95 {
    @include swatch;
    background: $accent-secondary-95;
  }

  // feedback color ranges
  &-feedback-success-20 {
    @include swatch;
    background: $feedback-success-20;
  }

  &-feedback-success-40 {
    @include swatch;
    background: $feedback-success-40;
  }

  &-feedback-success-60 {
    @include swatch;
    background: $feedback-success-60;
  }

  &-feedback-success-80 {
    @include swatch;
    background: $feedback-success-80;
  }

  &-feedback-success-95 {
    @include swatch;
    background: $feedback-success-95;
  }

  &-feedback-warning-20 {
    @include swatch;
    background: $feedback-warning-20;
  }

  &-feedback-warning-40 {
    @include swatch;
    background: $feedback-warning-40;
  }

  &-feedback-warning-60 {
    @include swatch;
    background: $feedback-warning-60;
  }

  &-feedback-warning-80 {
    @include swatch;
    background: $feedback-warning-80;
  }

  &-feedback-warning-95 {
    @include swatch;
    background: $feedback-warning-95;
  }

  &-feedback-error-20 {
    @include swatch;
    background: $feedback-error-20;
  }

  &-feedback-error-40 {
    @include swatch;
    background: $feedback-error-40;
  }

  &-feedback-error-60 {
    @include swatch;
    background: $feedback-error-60;
  }

  &-feedback-error-80 {
    @include swatch;
    background: $feedback-error-80;
  }

  &-feedback-error-95 {
    @include swatch;
    background: $feedback-error-95;
  }

  // gradients
  &-gradient-brand {
    @include swatch;
    background: $gradient-brand;
  }

  &-gradient-primary {
    @include swatch;
    background: $gradient-primary;
  }

  &-gradient-secondary {
    @include swatch;
    background: $gradient-secondary;
  }

  &-gradient-accent {
    @include swatch;
    background: $gradient-accent;
  }

  &-gradient-assertive {
    @include swatch;
    background: $gradient-assertive;
  }

  &-gradient-subtle {
    @include swatch;
    background: $gradient-subtle;
  }

  // shadows
  &-shadow-primary {
    @include swatch;
    margin-left: space(2x);
    box-shadow: $box-shadow-primary;
  }

  &-shadow-secondary {
    @include swatch;
    margin-left: space(2x);
    box-shadow: $box-shadow-secondary;
  }

  &-shadow-tertiary {
    @include swatch;
    margin-left: space(2x);
    box-shadow: $box-shadow-tertiary;
  }

  // borders
  &-border-gradient-accent {
    @include swatch;
    @include border-gradient-accent;
  }

  &-border-color-action {
    @include swatch;
    @include swatch-border($border-width-xs solid $border-color-action);
  }

  &-border-color-assertive {
    @include swatch;
    @include swatch-border($border-width-xs solid $border-color-assertive);
  }

  &-border-color-error {
    @include swatch;
    @include swatch-border($border-width-xs solid $border-color-error);
  }

  &-border-color-ghost {
    @include swatch;
    @include swatch-border($border-width-xs solid $border-color-ghost);

    @include swatch-ghost(false);
  }

  &-border-color-subtle {
    @include swatch;
    @include swatch-border($border-width-xs solid $border-color-subtle);
  }

  &-border-color-success {
    @include swatch;
    @include swatch-border($border-width-xs solid $border-color-success);
  }

  &-border-color-warning {
    @include swatch;
    @include swatch-border($border-width-xs solid $border-color-warning);
  }

  &-border-radius-circle {
    @include swatch;
    width: space(6x);
    height: space(6x);
    border-radius: $border-radius-circle;
    border: $border-width-xs solid $border-color-assertive;
  }

  &-border-radius-sm {
    @include swatch;
    border-radius: $border-radius-sm;
    border: $border-width-xs solid $border-color-assertive;
  }

  &-border-width-xxs {
    @include swatch;
    @include swatch-border($border-width-xxs solid $border-color-assertive);
  }

  &-border-width-xs {
    @include swatch;
    @include swatch-border($border-width-xs solid $border-color-assertive);
  }

  &-border-width-sm {
    @include swatch;
    @include swatch-border($border-width-sm solid $border-color-assertive);
  }

  // backgrounds
  &-background-action {
    @include swatch;
    background: $action-primary-95;
  }

  // Size

  &-size-icon-decorative {
    img {
      display: block;
      width: $size-icon-decorative;
      margin: auto;
    }
  }

  &-letter-spacing-increase {
    letter-spacing: $letter-spacing-increase;
  }

  // Focus

  &-focus-default {
    @include swatch;
    @include focus-default;
    margin-left: space(2x);
    border: $border-width-xxs solid $border-color-assertive;
  }

  &-focus-default-inset {
    @include swatch;
    @include focus-default-inset;
    margin-left: space(2x);
    border: $border-width-xxs solid $border-color-assertive;
  }

  &-focus-ghost {
    @include swatch;
    @include focus-ghost;
    @include swatch-ghost;
    margin-left: space(2x);
    border: $border-width-xxs solid $border-color-ghost;
  }

  &-focus-ghost-inset {
    @include swatch;
    @include focus-ghost-inset;
    @include swatch-ghost;
    margin-left: space(2x);
    border: $border-width-xxs solid $border-color-ghost;
  }

  &-focus-readonly {
    @include swatch;
    @include focus-readonly;
    margin-left: space(2x);
    border: $border-width-xxs solid $border-color-assertive;
  }

  &-focus-invalid {
    @include swatch;
    @include focus-invalid;
    margin-left: space(2x);
    border: $border-width-xxs solid $border-color-assertive;
  }

  // Gradients

  &-animated-gradient-brand {
    @include swatch;
    @include animated-gradient-brand;
    position: relative;
  }

  &-animated-gradient-primary {
    @include swatch;
    @include animated-gradient-primary;
  }

  &-animated-gradient-secondary {
    @include swatch;
    @include animated-gradient-secondary;
  }

  &-animated-gradient-subtle {
    @include swatch;
    @include animated-gradient-subtle;
  }

  &-decorative-bar {
    position: relative;

    &::after {
      background: $neutral-00;
      content: '';
      @include decorative-bar;
    }
  }

  &-space-xxs,
  &-space-negative-xxs {
    @include swatch-space;
    width: space(xxs);
    height: space(xxs);
  }

  &-space-xs,
  &-space-negative-xs {
    @include swatch-space;
    width: space(xs);
    height: space(xs);
  }

  &-space-sm {
    @include swatch-space;
    width: space(sm);
    height: space(sm);
  }

  &-space-md {
    @include swatch-space;
    width: space(md);
    height: space(md);
  }

  &-space-lg {
    @include swatch-space;
    width: space(lg);
    height: space(lg);
  }

  &-space-2x {
    @include swatch-space;
    width: space(2x);
    height: space(2x);
  }

  &-space-3x {
    @include swatch-space;
    width: space(3x);
    height: space(3x);
  }

  &-space-4x {
    @include swatch-space;
    width: space(4x);
    height: space(4x);
  }

  &-space-6x {
    @include swatch-space;
    width: space(6x);
    height: space(6x);
  }

  &-space-8x {
    @include swatch-space;
    width: space(8x);
    height: space(8x);
  }

  &-space-12x {
    @include swatch-space;
    width: space(12x);
    height: space(12x);
  }

  &-space-15x {
    @include swatch-space;
    width: space(15x);
    height: space(15x);
  }
}
