.bsds-tab-controls {
  display: flex;
}

.bsds-tab-list {
  position: relative;
  display: flex;
  flex: 1;
  flex-wrap: nowrap;
  overflow-x: auto;
  white-space: nowrap;

  // NOTE: Never hide the scrollbar except under very specific situations.
  // Reach out to UX team before hiding a scrollbar.
  /* stylelint-disable-next-line property-disallowed-list */
  scrollbar-width: none; // Hide scrollbar in firefox

  &::-webkit-scrollbar {
    display: none; // Hide scrollbar in Safari and Chrome
  }

  &::after {
    position: sticky;
    right: 0;
    display: block;
    width: space(xxs);
    height: space(6x);
    box-shadow: calc(0rem - space(xxs)) 0 space(md) space(xs) rgba($neutral-00, 0.2);
    border-width: 0;
    content: '';
    pointer-events: none;
  }
}

.bsds-tab {
  position: relative;
  margin-right: space(2x);
  border: 0;
  padding: space(lg) space(2x);
  background: transparent;
  color: $text-color-subtle;
  @include font-family-base-regular;

  &::after {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: space(xs);
    background: transparent;
    content: '';
  }

  &:not([disabled]) {
    &:hover,
    &:active {
      background: transparent;
      color: $action-primary-40;

      &::after {
        background: $action-primary-40;
      }
    }

    &:focus {
      @include focus-default-inset;
    }
  }

  &[aria-selected='true'] {
    color: $text-color-primary;
    @include font-family-base-heavy;

    &::after {
      height: space(sm);
      background: $neutral-00;
    }
  }

  &[disabled] {
    background: transparent;
    color: $neutral-60;
    @include font-family-base-regular;
    cursor: not-allowed;
  }
}

.bsds-tab-overflow {
  display: flex;

  .bsds-tab-overflow-control {
    border: 0;
    border-color: transparent;
    padding: space(lg) space(2x);

    &:focus {
      @include focus-default-inset;
    }

    &:disabled {
      background: $neutral-100;
      color: $neutral-80;
    }
  }
}

.bsds-tab-panels {
  border-top: $border-width-xxs solid $border-color-subtle;
  padding-top: space(3x);
}

.bsds-tabs {
  width: 100%;

  &:not(.has-overflow) {
    .bsds-tab-overflow {
      display: none;
    }

    .bsds-tab-list {
      &::after {
        display: none;
      }
    }
  }
}

.bsds-tab-panel {
  &:not([disabled]) {
    &:focus {
      @include focus-default;
    }
  }
}
