.bsds-tabs
{
  width: 100%;
}

.bsds-tab-list
{
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  white-space: nowrap;

  &::after
  {
    // NOTE: this is a temporary solution for MVP overflow that depends on a white page background
    position: sticky;
    right: - space(xxs);
    display: block;
    width: space(xxs);
    height: space(6x);
    box-shadow: - space(sm) 0 space(lg) space(md) $neutral-100;
    border-width: 0;
    content: '';
    pointer-events: none;
  }
}

.bsds-tab
{
  position: relative;
  margin-right: space(2x);
  border: 0;
  padding: space(lg) space(2x);
  background: transparent;
  color: $neutral-40;
  font-family: $font-family-base-regular;

  &::after
  {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: space(xs);
    background: transparent;
    content: '';
  }

  &:not([disabled])
  {
    &:hover,
    &:active
    {
      background: transparent;
      color: $action-primary-40;

      &::after
      {
        background: $action-primary-40;
      }
    }

    &:focus
    {
      @include focus-default-inset;
    }
  }

  &[aria-selected="true"]
  {
    color: $neutral-00;
    font-family: $font-family-base-heavy;

    &::after
    {
      height: space(sm);
      background: $neutral-00;
    }
  }

  &[disabled]
  {
    background: transparent;
    color: $neutral-60;
    font-family: $font-family-base-regular;
    cursor: not-allowed;
  }
}

.bsds-tab-panels
{
  border-top: space(xxs) solid $neutral-80;
  padding-top: space(3x);
}

.bsds-tab-panel:not([disabled]):focus
{
  @include focus-default;
}