@import "./../partials/variables";

.nav-primary
{
  grid-area: navigation;
  overflow-y: auto;
  border-right: 1px solid $raven-grey-20;
  background: $white;


  & > ul
  {
    margin: 0;
    padding: 0;
    list-style: none;

    & > li
    {
      margin-top: 0;

      & > a
      {
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid $raven-grey-20;
        padding: 2rem 3rem;
        color: $raven-grey-70;
        font-family: $sst-bold;
        font-size: 1.125rem;
        text-align: center;
      
        &:hover,
        &:focus,
        &.active
        {
          color: $action-blue;
          text-decoration: underline;
        }
      
        &:focus
        {
          outline: none;
          box-shadow: inset 0 0 0 2px $focus-indicator;
        }
      }
    }
  }
}