@import '../../../styles/base/space';

.ads-icon-sm
{
  width: space(sm);
}

.ads-icon-md
{
  width: space(md);
}

.ads-icon-lg
{
  width: space(lg);
}

.ads-icon-2x
{
  width: space(2x);
}

.ads-icon-3x
{
  width: space(3x);
}

.ads-icon-4x
{
  width: space(4x);
}
