@import '../../../styles/base/space';

// TODO:
// validate fixed/responsive icon sizes that we'll need to support
// can we write something that will set the icon width to the parent's responsive/fixed font size?

.bsds-icon-base // use for icon-only buttons
{
  width: space(2x);

  @media (min-width: 992px)
  {
    width: 1.125rem; // NOTE: this is a one-off size
  }
}

.bsds-icon-sm
{
  width: space(sm);
}

.bsds-icon-md
{
  width: space(md);
}

.bsds-icon-lg
{
  width: space(lg);
}

.bsds-icon-2x // use for buttons with text + icon
{
  width: space(2x);
}

.bsds-icon-3x
{
  width: space(3x);
}

.bsds-icon-4x
{
  width: space(4x);
}

.bsds-icon-card
{
  width: space(8x);
  padding-bottom: space(2x) + space(sm);
}