@import "/src/styles/abstracts/abstracts";
@import "/src/styles/base/base";

.app-not-found
{
  flex: 1;
  margin: 0 auto;
  padding: space(4x);
  width: var(--app-width);

  h1
  {
    margin-top: 0;
  }
}