<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-10 col-lg-8 col-xl-7">
      <h1>Breadcrumbs</h1>
      <p>
        Breadcrumbs are a navigational pattern that show users their current location relative to the information architecture and enable users to quickly move up to a parent level. They are effective in experiences that have a large amount of content organized in a hierarchy of more than two levels.
      </p>
    </div>
    <div class="col-12">
      <div class="demo-wrapper">
        <div class="demo-example">
          <nav aria-label="breadcrumb">
            <ol class="bsds-breadcrumbs">
              <!--
                DEVELOPER NOTE:
                The grandparent and parent anchor elements are missing their href attributes because they are placeholder links. We added tabindex="0" so that we can tab to the placeholder link and demonstrate the focus indicator.
                *** We should never do this on our actual site. ***
              -->
              <li class="bsds-breadcrumb-item">
                <a tabindex="0">Grandparent Page</a>
              </li>
              <li class="bsds-breadcrumb-item">
                <a tabindex="0">Parent Page</a>
              </li>
              <li class="bsds-breadcrumb-item bsds-breadcrumb-item-active" aria-current="page">Current Page</li>
            </ol>
          </nav>
        </div>
        <div class="demo-code">
          <markdown
            [data]="breadcrumbsHtml"
            lineNumbers
          ></markdown>
        </div>
      </div>
    </div>
  </div>
</div>