<div class="container-fluid">

  <div class="row">
    <div class="col-12 col-md-10 col-lg-8 col-xl-7">
      <!-- <h1>Novagold<sup>TM</sup> High H1 Performance Guidewire</h1> -->
      <h1>Novagold High H1 Performance Guidewire</h1>
      <p class="text-size-lg">
        Jim is a great guy, he sells paper at Dunder Mifflin Paper Company.
      </p>
      <p class="text-size-sm">
        Note: The <a href="#">information</a> information on this page is for use by residents of the United States and Canada. It does not apply to patients moving to countries outside of the United States or Canada.
      </p>
      <p>
        The communicator can be used when away from home. The healthcare provider should be consulted before planning to travel.
      </p>
      <p>
        To make sure the Communicator can connect at the new destination, refer to "Checking the Communicator Can Connect to the LATITUDE System" in the LATITUDE Patient Manual.
      </p>
      <h2>Heading 2</h2>
      <p class="text-size-lg">
        Use the lookup tool below to determine if your communicator can be used in other countries.
      </p>
      <p>
        The results in the tool are based on the information submitted and are recommendations only. The recommendations are NOT intended to provide medical guidance. The healthcare provider should be consulted before planning to travel.
      </p>
      <p>
        A result of "No" means travel to the destination country with the Communicator is not recommended due to either.
      </p>
      <p>
        Prior to traveling, the Communicator must be set up in the patient's home country. (The country it was prescribed in.)
      </p>
      <h3>Heading 3</h3>
      <p>
        To make sure the Communicator can connect at the new destination, refer to "Checking the Communicator Can Connect to the LATITUDE System" in the LATITUDE Patient Manual.
      </p>
      <h4>Heading 4</h4>
      <p>
        For travel with telephone line (landline), the Communicator Switches on the bottom of the Communicator must be set to the destination country. Refer to "How to Set Configuration Switches for LATITUDE<sup>TM</sup> NXT Communicators".
      </p>
      <p>
        If additional information is needed, please contact:
        <span class="d-block">LATITUDE Patient Services: (866) 484-3268</span>
        <span class="d-block">LATITUDE Customer Support (for Clinicians/Reps): (800) 227-3422</span>
      </p>
      <p class="text-size-sm">
        To laugh like a brook when it trips and falls, over stones in its way, to sing through the night, like a lark who is learning to pray. I go to the hills when my heart is lonely, I know I will hear what I heard before, my heart will be blessed with the sound of music and I'll sing once more.
      </p>
      <h5>Heading 5</h5>
      <p class="text-size-lg">
        For travel with telephone line (landline), the Communicator Switches on the bottom of the Communicator must be set to the destination country. Refer to "How to Set Configuration Switches for LATITUDE<sup>TM</sup> NXT Communicators".
      </p>
      <h6>Heading 6</h6>
      <p>
        For travel with telephone line (landline), the Communicator Switches on the bottom of the Communicator must be set to the destination country. Refer to "How to Set Configuration Switches for LATITUDE<sup>TM</sup> NXT Communicators".
      </p>
      <p class="text-size-lg">
        Large paragraph. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ut dui vel dui pretium sollicitudin vitae et nunc. Vivamus eleifend placerat diam ut dignissim. Phasellus aliquam massa eu sapien venenatis vulputate. Phasellus placerat, augue nec porta vehicula, quam velit molestie neque, eu scelerisque lorem metus ut eros.
      </p>
      <p class="text-size-sm">
        Small paragraph. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ut dui vel dui pretium sollicitudin vitae et nunc. Vivamus eleifend placerat diam ut dignissim. Phasellus aliquam massa eu sapien venenatis vulputate. Phasellus placerat, augue nec porta vehicula, quam velit molestie neque, eu scelerisque lorem metus ut eros.
      </p>
      <p class="text-size-xs">
        Extra small paragraph. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ut dui vel dui pretium sollicitudin vitae et nunc. Vivamus eleifend placerat diam ut dignissim. Phasellus aliquam massa eu sapien venenatis vulputate. Phasellus placerat, augue nec porta vehicula, quam velit molestie neque, eu scelerisque lorem metus ut eros.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-10 col-lg-8 col-xl-7">
      <h1>CSS</h1>
      <p>CSS defines the visual presentation of a web application. The application should be fully functional without CSS.</p>
      <p>CSS is an unusual language which can easily lead to code bloat, inconsistencies in design, and/or clashing code techniques. It is easy to end up with CSS code that is so fragile it can cause site-wide regressions with small changes.</p>
      <ul>
        <li>
          CSS should be valid
          <ul>
            <li>No deprecated or non-standard code</li>
            <li>Do not use floats for layout
              <ul>
                <li>Floats are a legacy hack &mdash; they were invented to allow text to wrap around an image, and they were never intended to be used for layout</li>
                <li>Today, there are much better tools for layout, i.e., flexbox, CSS grid, and responsive layout grids</li>
              </ul>
            </li>
          </ul>
        </li>
        <li>
          CSS should maintain a separation of concerns
          <ul>
            <li>Do not apply styling and scripting with the same selector</li>
          </ul>
        </li>
        <li>
          CSS should be accessible
          <ul>
            <li>Avoid setting the pointer-events property to none on non-SVG elements
              <ul>
                <li>The use of pointer-events for non-SVG elements is experimental</li>
                <li>Users can still interact with the element if navigating using a keyboard, and there is no communication to assistive technology that the element is disabled</li>
              </ul>
            </li>
          </ul>
        </li>
        <li>
          CSS should be DRY
          <ul>
            <li>Avoid duplication in the same file and across multiple files</li>
            <li>Reuse existing global, component, and utility classes before writing custom classes</li>
            <li>Do not redefine or override global styles or component styles</li>
            <li>Do not redefine or delete utility classes</li>
            <li>Do not restate default property-value combinations, e.g.: display: block; on block-level elements</li>
            <li>Do not redefine the line-height property value &mdash; the value of this property is set globally to meet accessibility requirements, and it should not be overridden</li>
            <li>Avoid writing code specific to an OS, browser, locale, or language</li>
          </ul>
        </li>
        <li>
          CSS should have the lowest specificity possible
          <ul>
            <li>Use class selectors to apply styling, rather than id or element selectors
              <ul>
                <li>Classes are reusable and have lower specificity</li>
                <li>Ids can only be used once per page and have higher specificity</li>
              </ul>
            </li>
            <li>Use id selectors as hooks for JavaScript and/or automated testing frameworks</li>
          </ul>
        </li>
        <li>
          CSS should be maintainable
          <ul>
            <li>
              When it makes sense, use variables to semantically abstract styles in order to make future rebrand efforts easier and seamless, e.g.:
              <span class="code-do"><i class="fas fa-check-circle icon-left"></i>Do
                <code>
                  color: $font-color-primary;
                </code>
              </span>
              <span class="code-dont"><i class="fas fa-times-circle icon-left"></i>Don't
                <code>
                  color: #003c71;
                </code>
              </span>
            </li>
            <li>Add space to the top of elements in order to keep vertical spacing predictable while writing modular, component-based CSS</li>
            <li>Avoid setting fixed heights and widths</li>
            <li>When debugging, start by attempting to delete code before adding more</li>
            <li>Use a preprocessor when possible — we recommended <a href="https://sass-lang.com/" target="_blank">SCSS</a></li>
          </ul>
        </li>
      </ul>

      <h2>Specificity</h2>
      <p>Use the minimum specificity required to achieve the desired styling. For more information on CSS specificity, check out <a href="https://stuffandnonsense.co.uk/archives/css_specificity_wars.html" target="_blank">Specificity Wars</a> and <a href="https://codepen.io/mandymichael/full/pyggQd" target="_blank">Batificity</a>.</p>

      <h3>!important</h3>
      <p>The !important declaration fundamentally destroys the specificity feature and can even break accessibility for some users. There is almost always another way to achieve the same goal without using the !important declaration. Treat the !important declaration like the nuclear option, only to be used in the most extreme cases, like when overriding styling from an external library that is using the !important declaration in its code.</p>
      <p>In the rare case that using the !important declaration is absolutely necessary, add a comment in the code explaining why it is the only viable solution.</p>

      <h3>Inline Styles</h3>
      <p>Do not hard code styles into your HTML, either with the style attribute or with deprecated attributes such as align, border, or width. Inline styles violate the separation of concerns and DRY priniciples, make CSS difficult to maintain and scale, and introduce inconsistencies within design systems. They also negatively impact specificity, accessibility, SEO, and performance.</p>

      <h3>Selectors</h3>
      <p>CSS is most maintainable with the simplest selectors. The longer the selector, the higher the specificity. The higher the specificity, the harder the CSS becomes to maintain.</p>
      <ul>
        <li>Use the minimum specificity required to achieve the desired style</li>
        <li>Avoid nesting whenever possible</li>
        <li>Avoid unnecessary ancestor selectors, e.g.:
          <span class="code-do"><i class="fas fa-check-circle icon-left"></i>Do
            <code>
              .btn-primary
            </code>
          </span>
          <span class="code-dont"><i class="fas fa-times-circle icon-left"></i>Don't
            <code>
              button.button-primary
            </code>
          </span>
        </li>
      </ul>

      <h4>ID Selectors</h4>
      <p>Do not use ID selectors to apply styling. The ID selector is the most specific selector since it can only match one element. Styling should be applied using a class selector instead. ID selectors, if used at all, should be used only as access points for JavaScript or automated testing frameworks.</p>

      <h4>Class Selectors</h4>
      <p>Use class selectors to apply styling whenever possible.</p>

      <h4>Element Selectors</h4>
      <p>Avoid overriding the default styles of an element. Element selectors should only be used in global stylesheets to define the application’s defaults, e.g.: body &#123; background: $white; &#125;</p>

      <h4>Attribute Selectors</h4>
      <p>Avoid using several attribute selectors on commonly occurring components. Browser performance is known to be impacted by these.</p>

      <h2>Naming Conventions</h2>

      <h3>Semantics</h3>
      <ul>
        <li>All classes and ids should have semantic meaning</li>
        <li>Semantic names describe what an element is or does, rather than its current presentation</li>
        <li>What an element looks like (its presentation) can change across devices (responsive design) or over time (rebranding efforts)</li>
        <li>Semantic names remain logical even if the presentation changes
          <ul>
            <li>.nav-primary and .nav-secondary instead of .nav-top and .nav-left</li>
            <li>.btn-primary instead of .btn-blue</li>
            <li>$font-family-default instead of 'SST Roman'</li>
            <li>.u-m-0</li>
          </ul>
        </li>
        <li>Avoid excessive and arbitrary shorthand, e.g.: .btn is useful for buttons, but .s is meaningless</li>
      </ul>

      <h3>Base + Modifier Classes</h3>
      <ul>
        <li>Chain base and modifier classes in order to create modular, extensible CSS with reduced specificity and duplication. Don’t be afraid to apply many classes to an element!</li>
        <li>Use a parent-child / last-name-first approach to naming</li>
        <li>Create a base class that contains common styles, e.g.: .btn</li>
        <li>Create modifier classes, prefixed with the name of the base class, that modify/extend the base class, e.g.: .btn-primary and .btn-wide</li>
        <li>Prefix classes for nested elements with the name of the parent/component, e.g.: .card, .card-image, .card-content, .card-content-heading, .card-content-body</li>
        <li>This technique allows selectors to be bundled together when using a preprocessor, e.g.: .btn &#123; ... &-primary &#123; ... &#125; &#125;</li>
      </ul>

      <h3>State Modifier Classes</h3>
      <ul>
        <li>State modifier classes describe the state of a specific component or element</li>
        <li>State modifier classes should never appear on their own &mdash; they should always be scoped to a specific component or element via class chaining</li>
        <li>State modifier classes should be treated as a boolean, e.g.: true or false</li>
        <li>Consider using is-* prefix, e.g.: .btn.is-enabled, .btn-is-disabled, .form-control.is-valid, .form-control.is-invalid, .accordion.is-expanded, .accordion.is-collapsed</li>
      </ul>

      <h3>Utility Classes</h3>
      <ul>
        <li>Utility classes epitomize the single responsibility principle</li>
        <li>Utility classes apply a single rule or a very simple and universal pattern, without side effects</li>
        <li>Utility classes can be applied to any element, in any context, at any time</li>
        <li>Utility classes must always do exactly the same thing, so utility class declarations must never change</li>
        <li>Use sparingly &mdash; if you notice patterns, consider creating or modifying component classes</li>
        <li>Consider using u-* prefix, e.g.: .u-mx-auto, .u-p-0</li>
      </ul>

      <h3>JavaScript Hooks</h3>
      <ul>
        <li>Use only for JavaScript hooks &mdash; do not attach any styling</li>
        <li>Keep classes for JavaScript hooks out of CSS</li>
        <li>JavaScript hooks are event- or action-based, so consider using verbs when naming</li>
        <li>Use js-* prefix, e.g.: .js-toggle, .js-edit, .js-save, .js-delete</li>
        <li>The js-* prefix prevents unintentional breaking changes by informing future developers to look for uses of the class in JavaScript files rather than stylesheets</li>
      </ul>

      <h3>Variables</h3>
      <ul>
        <li>CSS variable names must be abstract and reusable</li>
        <li>Color palette:
          <ul>
            <li>$bsc-blue: #003c71;</li>
            <li>$font-color-primary: $raven-grey;</li>
          </ul>
        </li>
        <li>Utilities:
          <ul>
            <li>$icon-sort-up: "\f0d8";</li>
            <li>$icon-sort-down: "\f0d7";</li>
          </ul>
        </li>
      </ul>

      <h2>Formatting</h2>
      <p>In order to increase readability, please adhere to the following formatting standards.</p>
      <ul>
        <li>Separate selectors, declarations, and rulesets by new lines</li>
        <li>Use a new line for every selector</li>
        <li>Use a new line for opening and closing curly brackets</li>
        <li>Use a new line for every declaration</li>
        <li>Use one level of indentation (2 spaces) for nested declarations and rulesets</li>
        <li>Use double quotes for attribute values in selectors, e.g.: input[type=”text”]</li>
        <li>Use one space between the colon and value</li>
        <li>Use one space after each comma for comma-separated property values, e.g.: rgba($bsc-blue, 0.3)</li>
        <li>Use one space before and after binary operators, e.g.: +, -, =, !=, ==, >, etc.</li>
        <li>Include a trailing semicolon after the value for every declaration</li>
        <li>Include one line of white space between rulesets</li>
        <li>Remove trailing white space</li>
      </ul>

      <h3>Nesting</h3>
      <ul>
        <li>Avoid nesting whenever possible
          <ul>
            <li>HTML and CSS structure changes frequently, and nested parent-child styles can quickly become obsolete and result in breaking changes</li>
            <li>Nesting increases specificity</li>
            <li>When nesting, nest sparingly and intentionally</li>
            <li>Limit nesting to 1-2 layers</li>
            <li>Reassess any nesting more than 2 layers deep</li>
          </ul>
        </li>
      </ul>

      <h3>Comments</h3>
      <ul>
        <li>Mark TODOs and action items with a TODO comment
          <ul>
            <li><code>/* TODO: vanilla CSS action item */</code></li>
            <li><code>/* TODO: file-level or multi-line SCSS or vanilla CSS action item */</code></li>
            <li><code>// TODO: single-line SCSS action item</code></li>
          </ul>
        </li>
      </ul>

      <h3>Casing</h3>
      <ul>
        <li>Classes should be lowercase-and-hyphenated, e.g.: .my-class</li>
        <li>Ids should be camelCase, e.g.: #myId</li>
        <li>Elements should be lowercase, e.g.: h2</li>
        <li>Hex values should be uppercase &mdash; only use hex values in global variable files</li>
      </ul>

      <h3>Property Values</h3>
      <ul>
        <li>Include a leading 0 for property values and color parameters, e.g.: 0.5 instead of .5</li>
        <li>Use whole numbers when specifying values, e.g.: border-width: 1px; not border-width: .5px;</li>
        <li>Do not use shorthand hex values</li>
        <li>When allowed, use unitless 0
          <ul>
            <li>Avoid specifying units for 0 values, e.g.: margin: 0; instead of margin: 0px;</li>
            <li>0 values should not have units unless required, such as with transition-duration</li>
            <li>Line-height should be unitless unless it’s necessary to be defined as a specific pixel value</li>
          </ul>
        </li>
        <li>Shorthand
          <ul>
            <li>When setting property and value declarations around all four sides of an element, use one margin property and value declaration to set the values for all four sides at once, rather than using four different margin-based property and value declarations to set the margin for each individual side, e.g.:
              <span class="code-do"><i class="fas fa-check-circle icon-left"></i>Do
                <code>padding: 0 1rem 0.5rem;</code>
              </span>
              <span class="code-dont"><i class="fas fa-times-circle icon-left"></i>Don't
                <code>padding-top: 0; padding-right: 1rem; padding-bottom: 0.5rem; padding-left: 1rem;</code>
              </span>
            </li>
            <li>When setting property and value declarations for less than four sides of an element, shorthand should not be used. If a box only needs a bottom margin, use the margin-bottom property. This ensures that other property values will not be overwritten, and we can easily identify which side the property is being applied to without much cognitive effort, e.g.:
              <span class="code-do"><i class="fas fa-check-circle icon-left"></i>Do
                <code>margin-bottom: 1rem;</code>
              </span>
              <span class="code-dont"><i class="fas fa-times-circle icon-left"></i>Don't
                <code>margin: 0 0 1rem 0;</code>
              </span>
            </li>
          </ul>
        </li>
        <li>Vendor prefixes
          <ul>
            <li>Don’t include vendor prefixes if the application is using an autoprefixer</li>
            <li>Opt for handling prefixing with a SCSS mixin, if possible</li>
            <li>When using vendor prefixed features, put the standardized rule last to ensure browsers optimize and use the standard if they recognize it</li>
          </ul>
        </li>
      </ul>

      <h2>Organization</h2>
      <ul>
        <li>Large stylesheets should be broken down into several smaller stylesheets, e.g.: global styles, page-level styles, and component-level styles</li>
        <li>CSS rulesets should be ordered to match the order of the source code</li>
        <li>CSS declarations should be ordered using the “outside-in” method (based on the box model)</li>
      </ul>

      <h3>Declaration Order</h3>
      <p>Random ordering is chaos, not poetry. Related property declarations should be grouped together. Our declaration order is set in our linter's config.</p>
      <p>Our choice is logical or grouped ordering (“outside-in”), wherein properties are grouped by meaning and ordered specifically within those groups. The properties within groups are also strategically ordered to create transitions between sections, such as background directly before color. New features that are not yet used in our codebase may not have a prescribed place, but likely would fit into one of the categories in a logical manner. Just as CSS is evolving, so our standards will evolve with it.</p>

      <h3>Property Value Order</h3>
      <p>Top/Right/Bottom/Left (TRBL/trouble) should be the order for any relevant properties, e.g.: margin, much as the order goes in values.</p>
      <ol>
        <li>Top</li>
        <li>Right</li>
        <li>Bottom</li>
        <li>Left</li>
      </ol>
      <p>Corner specifiers, e.g.: border-radius-*-*, should be top-left, top-right, bottom-right, bottom-left. This is derived from how shorthand values would be ordered.</p>

      <h3>Media Queries</h3>
      <ul>
        <li>"Mobile-first" &mdash; XS styles are default &mdash; start with the smallest breakpoint and work upwards</li>
        <li>Keep media queries grouped by media at the bottom of the stylesheet</li>
        <li>Only override what is necessary &mdash; do not redefine styles that do not change</li>
      </ul>

      <h3>Nesting</h3>
      <p>Avoid unnecessary nesting. Just because you can nest, doesn't mean you always should. Reassess any nesting more than 2 levels deep in order to prevent overly-specific selectors.</p>
    </div>
  </div>
</div>

<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-10 col-lg-8 col-xl-7">
      <h1>Breadcrumbs</h1>
      <p>
        Breadcrumbs are a navigational pattern that show users their current location relative to the information architecture and enable users to quickly move up to a parent level. They are effective in experiences that have a large amount of content organized in a hierarchy of more than two levels.
      </p>
    </div>
    <div class="col-12">
      <div class="demo-wrapper">
        <div class="demo-example">
          <nav aria-label="breadcrumb">
            <ol class="bsds-breadcrumbs"> -->
              <!--
                DEVELOPER NOTE:
                The grandparent and parent anchor elements are missing their href attributes because they are placeholder links. We added tabindex="0" so that we can tab to the placeholder link and demonstrate the focus indicator.
                *** We should never do this on our actual site. ***
              -->
              <!-- <li class="bsds-breadcrumb-item">
                <a tabindex="0">Grandparent Page</a>
              </li>
              <li class="bsds-breadcrumb-item">
                <a tabindex="0">Parent Page</a>
              </li>
              <li class="bsds-breadcrumb-item bsds-breadcrumb-item-active" aria-current="page">Current Page</li>
            </ol>
          </nav>
        </div>
        <div class="demo-code">
          <markdown
            [data]="breadcrumbsHtml"
            lineNumbers
          ></markdown>
        </div>
      </div>
      <h2>Resources</h2>
      <ul>
        <li>
          <a href="/">Authoring Guide</a>
        </li>
      </ul>
  </div>
</div> -->