.component-lists
{
  display: flex;
  justify-content: space-between;
  flex-flow: column wrap;
  column-gap: 2rem;

  .component-list-block
  {
    flex: 1;
  }
}

@media (min-width: 992px) {
  .component-lists {
    flex-flow: row wrap;
  }
} 