@import "/src/styles/abstracts/abstracts";
@import "/src/styles/base/base";

.bsds-nav-tertiary
{
  grid-area: nav-tertiary;
  width: 100%;
  margin: space(4x) 0 0;

  .bsds-nav-tertiary-title
  {
    margin: 0;
    border-bottom: space(xxs) solid $neutral-80;
    padding-bottom: space(lg);
    color: $neutral-40;
    @include font-family-base-regular;
    @include font-size($fs-small);
    line-height: 1.5; // NOTE: overriding h2's default line height
  }

  .bsds-nav
  {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-left: 0;
    list-style: none;
    @include font-size($fs-small);
  }

  .bsds-nav-item
  {
    margin-top: space(lg);
  }

  .bsds-nav-link
  {
    display: inline-flex;
    padding: 0;
    @include link-navigation;
  }
}

@media (min-width: $lg)
{
  .bsds-nav-tertiary
  {
    margin-top: 0;
  }
}