.bsds-nav-primary {
  position: relative;
  box-shadow: inset 0 calc(0rem - space(xxs)) $border-color-subtle;

  .bsds-nav-bar {
    position: relative;
    z-index: $nav-bar-z-index;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: stretch;
    border-bottom: $border-width-xxs solid $border-color-subtle;
    background: $neutral-100;

    .bsds-nav-link-logo {
      display: flex;
      flex-wrap: wrap;
      margin: auto;
      padding: space(2x);

      &:focus {
        @include focus-default-inset;
      }
    }

    > .bsds-nav {
      justify-content: center;

      > .bsds-nav-item {
        margin-top: 0;

        > .bsds-nav-link {
          position: relative;
          border: 0;
          padding: space(3x) space(2x);

          &.current,
          &:active,
          &:hover,
          &[aria-expanded='true'] {
            background: initial;
            text-decoration: none;

            &::before {
              position: absolute;
              right: space(2x);
              bottom: 0;
              left: space(2x);
              border-bottom: $border-width-sm solid $border-color-assertive;
              content: '';
            }
          }

          &.current {
            @include font-family-base-heavy;
          }
        }

        &.bsds-nav-item-toggle,
        &.bsds-nav-item-search {
          .bsds-nav-link {
            border: 0;
            padding-right: space(2x);
            padding-left: calc(
              space(2x) + $icon-size + space(md)
            ); // Padding + icon width + space between icon and text

            &::after {
              position: absolute;
              top: calc(50% - ($icon-size / 2));
              left: space(2x);
              width: $icon-size;
              height: $icon-size;
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;
              content: '';
            }
          }
        }

        &.bsds-nav-item-search {
          .bsds-nav-link {
            /* stylelint-disable scss/selector-nest-combinators */
            &::after,
            &[aria-expanded='true']::after {
              /* stylelint-enable scss/selector-nest-combinators */
              background-image: url('../../../assets/images/icon-search.svg');
              content: '';
            }
          }
        }

        &.bsds-nav-item-toggle {
          .bsds-nav-link {
            &::after {
              background-image: url('../../../assets/images/icon-menu.svg');
            }

            &[aria-expanded='true'] {
              &::after {
                background-image: url('../../../assets/images/icon-close.svg');
              }
            }
          }
        }

        &.bsds-nav-item-root {
          display: none;

          > button {
            &.bsds-nav-link {
              padding-right: calc(
                space(2x) + $icon-size + space(md)
              ); // Padding + icon width + space between icon and text

              &::after {
                position: absolute;
                top: calc(50% - ($icon-size / 2));
                right: space(2x);
                width: $icon-size;
                height: $icon-size;
                background-image: url('../../../assets/images/icon-chevron-down.svg');
                content: '';
              }

              &[aria-expanded='true'] {
                &::after {
                  transform: rotate(180deg);
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: $breakpoint-sm-min) {
  .bsds-nav-primary {
    .bsds-nav-bar {
      flex-direction: row;

      .bsds-nav-link-logo {
        margin: 0;
        padding: space(sm) space(2x);
      }
    }
  }
}

@media (min-width: $breakpoint-lg-min) {
  .bsds-nav-primary {
    .bsds-nav-bar {
      position: static;

      > .bsds-nav {
        > .bsds-nav-item {
          > .bsds-nav-link {
            @include font-size($fs-body-subtle);
          }
        }
      }

      .bsds-nav {
        .bsds-nav-item {
          &.bsds-nav-item-root {
            display: block;
          }

          &.bsds-nav-item-toggle {
            display: none;
          }

          &.bsds-nav-item-search {
            .bsds-nav-link {
              box-sizing: content-box;
              width: $icon-size;
              height: $icon-size;
              padding: space(2x);
              background-image: url('../../../assets/images/icon-search.svg');
              background-position: center;
              background-repeat: no-repeat;
              background-size: $icon-size;

              &::after,
              &::before {
                display: none;
              }

              &:hover,
              &:focus,
              &[aria-expanded='true'] {
                background-color: $action-primary-95;
              }
            }

            .bsds-nav-link-search-text {
              @include visually-hidden;
            }
          }
        }
      }
    }
  }
}
