@import './vars-nav-primary';
@import './nav-utility';
@import './nav-primary-bar';
@import './nav-primary-menu';

.bsds-nav-utility,
.bsds-nav-primary,
.bsds-nav-menu,
.bsds-search-panel {
  background: $neutral-100;
}

.bsds-nav-utility,
.bsds-nav-primary {
  .bsds-nav {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .bsds-nav-link {
    display: block;
    @include font-size($fs-body);
    @include link-navigation;

    &:focus {
      @include focus-default-inset;
    }
  }
}

.bsds-nav-header {
  border-top-width: $border-width-xs;
  border-top-style: solid;
  border-right: 0;
  border-bottom: 0;
  border-left: 0;
  border-image-source: $gradient-brand;
  border-image-slice: 1;

  &:not(.bsds-nav-header-constrained) {
    /* stylelint-disable scss/selector-nest-combinators */
    .bsds-nav-utility .bsds-nav,
    .bsds-nav-primary .bsds-nav-bar {
      /* stylelint-enable scss/selector-nest-combinators */
      padding: 0 space(md);
    }
  }
}

@media (min-width: $breakpoint-lg-min) {
  .bsds-nav-header {
    /* stylelint-disable scss/selector-nest-combinators */
    .bsds-nav-utility .bsds-nav,
    .bsds-nav-bar,
    .bsds-nav-menu-panels,
    .bsds-search-panel .bsds-form-search {
      /* stylelint-enable scss/selector-nest-combinators */
      margin-right: auto;
      margin-left: auto;
    }

    &-constrained {
      $panels-width-lg: 60rem; // NOTE: This is a one off size to match the layout widths.

      /* stylelint-disable scss/selector-nest-combinators */
      .bsds-nav-utility .bsds-nav,
      .bsds-nav-bar,
      .bsds-nav-menu-panels,
      .bsds-search-panel .bsds-form-search {
        /* stylelint-enable scss/selector-nest-combinators */
        width: $panels-width-lg;
      }
    }
  }
}

@media (min-width: $breakpoint-xl-min) {
  .bsds-nav-header {
    &-constrained {
      $panels-width-xl: 71.25rem; // NOTE: This is a one off size to match the layout widths.

      /* stylelint-disable scss/selector-nest-combinators */
      .bsds-nav-utility .bsds-nav,
      .bsds-nav-bar,
      .bsds-search-panel .bsds-form-search {
        /* stylelint-enable scss/selector-nest-combinators */
        width: $panels-width-xl;
      }
    }
  }
}

@media (min-width: $breakpoint-xxl-min) {
  .bsds-nav-header {
    &-constrained {
      $panels-width-xxl: 82.5rem; // NOTE: This is a one off size to match the layout widths.
      /* stylelint-disable scss/selector-nest-combinators */
      .bsds-nav-utility .bsds-nav,
      .bsds-nav-bar,
      .bsds-search-panel .bsds-form-search {
        /* stylelint-enable scss/selector-nest-combinators */
        width: $panels-width-xxl;
      }
    }
  }
}
