$num-panels: 4;
$nav-bar-z-index: 103;
$nav-back-z-index: 102;
$nav-menu-z-index: 101;
$nav-list-z-index: 100;
$nav-search-z-index: 101;

// These are one of sizes to get the icons to match the font sizes
$icon-size-sm: space(lg);
$icon-size: 1em;
$icon-size-lg: space(2x);

// Used in nav-menu nav-links
$nav-link-padding: space(2x) space(3x);
$menu-padding: space(md) 0;
