@import '/src/styles/abstracts/abstracts';
@import '/src/styles/base/base';

.docs-home {
  flex: 1;
  position: relative;
  display: grid;
  padding: space(4x);
  background: $gradient-assertive;

  &::after {
    bottom: calc(0rem - space(sm));
    @include animated-gradient-brand;
  }

  .docs-page-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $neutral-100;
    text-align: center;
  }

  .docs-logo {
    max-width: 37.5rem; // NOTE: this is a one-off size
    padding: space(4x) 0;
  }

  + .docs-footer {
    margin-top: 0;
    border: 0;
  }
}

@media (min-width: 992px) {
  .docs-home {
    .docs-logo {
      padding: space(6x) 0;
    }
  }
}
