@import '../../../styles/abstracts/abstracts';
@import '../../../styles/base/base';


.nav-utility,
.nav-primary
{
  .nav
  {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

.nav-utility,
.nav-header
{
  border-bottom: space(xxs) solid $neutral-80;

  .nav
  {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .nav-link
    {
      @include link-navigation;
      @include font-size($fs-body-subtle);
    }
  }
}

.nav-utility
{
  display: none;

  .nav
  {
    .nav-item
    {
      margin-top: 0;

      .nav-link
      {
        color: $neutral-40;
      }
    }
  }
}

.nav-primary
{
  .nav-header
  {
    .nav
    {
      .nav-item
      {
        margin-top: 0;

        &.nav-item-root
        {
          display: none;
        }

        &.nav-item-logo
        {
          margin-right: auto;
          padding: space(2x) space(3x);

          .nav-link-logo
          {
            display: block;
          }
        }

        &.nav-item-trigger
        {
          .nav-link
          {
            border: 0;
            &:focus
            {
              @include focus-default-inset;
            }
          }
        }

        .nav-link
        {
          position: relative;
          padding: space(3x) space(2x);
          border: 0;

          &.active
          {
            &::before
            {
              content: '';
              position: absolute;
              right: space(2x);
              bottom: 0;
              left: space(2x);
              border-bottom: space(sm) solid $neutral-00;
            }
          }
        }
      }
    }
  }

  .nav-menu
  {
    border-bottom: space(xxs) solid $neutral-80;

    .nav-menu-panels
    {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-areas: "one two three four";

      > :not(:first-child)
      {
        border-left: 1px solid $neutral-80;
      }

      .nav-menu-panel
      {
        display: block;
        margin-top: 0;
        padding-left: 0;
        height: 100%;
      }

      .nav-menu-panel,
      .nav-menu-panel-custom
      {
        flex: 1;
      }
    }

    .nav-item-parent
    {
      .nav-link
      {
        display: flex;
        justify-content: space-between;
        border: 0;
        width: 100%;

        &:hover
        {
          background: transparent;
        }

        &.active
        {
          background: $neutral-95;
        }
      }
    }

    .nav-item,
    .nav-item-parent
    {
      margin-top: 0;
    }

    .nav-link
    {
      padding: space(lg) space(2x);
      @include font-size($fs-body-subtle);
      @include link-navigation;
    }
  }
}

@media (min-width: $lg)
{
  .nav-utility .nav,
  .nav-header .nav,
  .nav-menu-panels
  {
    width: 60rem;
    margin-right: auto;
    margin-left: auto;
  }

  .nav-utility
  {
    display: block;
  }

  .nav-primary
  {
    .nav-header
    {
      .nav
      {
        .nav-item
        {
          &.nav-item-root
          {
            display: block;
          }

          &.nav-item-trigger
          {
            display: none;
          }

          &.nav-item-logo
          {
            padding: 0;
          }
        }
      }
    }
  }
}

@media (min-width: $xl)
{
  .nav-utility .nav,
  .nav-header .nav,
  .nav-menu-panels
  {
    width: 71.25rem;
  }
}

@media (min-width: $xxl)
{
  .nav-utility .nav,
  .nav-header .nav,
  .nav-menu-panels
  {
    width: 82.5rem;
  }
}