//
// web fonts
//

@font-face {
  font-family: 'SST-Roman';
  src: url('/assets/fonts/SST-Roman/SST-Roman.eot');
  src: url('/assets/fonts/SST-Roman/SST-Roman.woff2') format('woff2'),
    url('/assets/fonts/SST-Roman/SST-Roman.woff') format('woff'),
    url('/assets/fonts/SST-Roman/SST-Roman.ttf') format('truetype'),
    url('/assets/fonts/SST-Roman/SST-Roman.svg#SST-Roman') format('svg'),
    url('/assets/fonts/SST-Roman/SST-Roman.eot?#iefix') format('embedded-opentype');
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'SST-Bold';
  src: url('/assets/fonts/SST-Bold/SST-Bold.eot');
  src: url('/assets/fonts/SST-Bold/SST-Bold.woff2') format('woff2'),
    url('/assets/fonts/SST-Bold/SST-Bold.woff') format('woff'),
    url('/assets/fonts/SST-Bold/SST-Bold.ttf') format('truetype'),
    url('/assets/fonts/SST-Bold/SST-Bold.svg#SST-Bold') format('svg'),
    url('/assets/fonts/SST-Bold/SST-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: 600;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'SST-Italic';
  src: url('/assets/fonts/SST-Italic/SST-Italic.eot');
  src: url('/assets/fonts/SST-Italic/SST-Italic.woff2') format('woff2'),
    url('/assets/fonts/SST-Italic/SST-Italic.woff') format('woff'),
    url('/assets/fonts/SST-Italic/SST-Italic.ttf') format('truetype'),
    url('/assets/fonts/SST-Italic/SST-Italic.svg#SST-Italic') format('svg'),
    url('/assets/fonts/SST-Italic/SST-Italic.eot?#iefix') format('embedded-opentype');
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'SST-BoldItalic';
  src: url('/assets/fonts/SST-BoldItalic/SST-BoldItalic.eot');
  src: url('/assets/fonts/SST-BoldItalic/SST-BoldItalic.woff2') format('woff2'),
    url('/assets/fonts/SST-BoldItalic/SST-BoldItalic.woff') format('woff'),
    url('/assets/fonts/SST-BoldItalic/SST-BoldItalic.ttf') format('truetype'),
    url('/assets/fonts/SST-BoldItalic/SST-BoldItalic.svg#SST-BoldItalic') format('svg'),
    url('/assets/fonts/SST-BoldItalic/SST-BoldItalic.eot?#iefix') format('embedded-opentype');
  font-weight: 600;
  font-style: normal;
  font-display: fallback;
}