//
// fonts
//

$sst-roman: "SST-Roman", sans-serif;
$sst-italic: "SST-Italic", sans-serif;
$sst-bold: "SST-Bold", sans-serif;
$sst-bold-italic: "SST-BoldItalic", sans-serif;

//
// colors
//

// primary colors
$bsc-blue: #003c71;
$action-blue: #007db3;

// blue range
$blue-light: #d8e8f2;
$blue: #2486bd;
$blue-medium: #006b99;

// grey range
$charcoal: #242526;
$shark-grey: #383838; // body text
$raven-grey: #6a737b; // headings, focus indicator
$raven-grey-70: #888e95; // disabled buttons, icons
$raven-grey-50: #b4b9bd; // dividers
$raven-grey-20: #e1e3e5; // backgrounds
$raven-grey-10: #f0f1f1; // backgrounds
$raven-grey-5: #f7f8f8; // backgrounds
$white: #ffffff; // backgrounds

// secondary colors
$caribbean: #3eb1c8;
$caribbean-30: #c5e7ee;
$lagoon: #00778b;
$plum: #470a68;
$snazzberry: #da1884;
$fire: #dc4405;

// feedback colors
$error: #c60f13;
$warning: #fbac32;
$success: #5da423;

// utility
$focus-indicator: $action-blue;
$focus-indicator-light: $white;
$focus-indicator-dark: $raven-grey;