// Brand Color Range

$brand-primary: #003c71;


// Neutral Range

$neutral-00: #000000;
$neutral-20: #333333;
$neutral-40: #666666;
$neutral-60: #999999;
$neutral-80: #cccccc;
$neutral-95: #f2f2f2;
$neutral-100: #ffffff;


// Action Color Range

$action-primary-20: #012965;
$action-primary-40: #0153cc; // default value
$action-primary-60: #3485fe;
$action-primary-80: #9ac2fe;
$action-primary-95: #e6f0ff;


// Accent Color Ranges
// TODO: 
// change to plum to primary, caribbean to secondary, lime to tertiary
// figure out naming, and what to call accent-plum-30

$accent-primary-20: #440066;
$accent-primary-30: #660099; // visited links only
$accent-primary-40: #8800cc;
$accent-primary-60: #bb33ff;
$accent-primary-80: #dd99ff;
$accent-primary-95: #f7e6ff;

$accent-secondary-20: #005f66;
$accent-secondary-40: #00becc;
$accent-caribbean: #00eeff;
$accent-secondary-80: #99f8ff;
$accent-secondary-95: #e6fdff;

$accent-lime-darker: #356600;
$accent-lime-dark: #69cc00;
$accent-lime: #9cff33;
$accent-lime-light: #ceff99;
$accent-lime-lighter: #f3ffe6;


// Feedback Color Ranges

$feedback-success-darker: #135325;
$feedback-success-dark: #26a64a;
$feedback-success: #59d97d;
$feedback-success-light: #acecbe;
$feedback-success-lighter: #eafaef;

$feedback-warning-darker: #644a02;
$feedback-warning-dark: #c99403;
$feedback-warning: #fcc736;
$feedback-warning-light: #fde39b;
$feedback-warning-lighter: #fff8e6;

$feedback-error-darker: #590d11;
$feedback-error-dark: #b31921;
$feedback-error: #e64d54;
$feedback-error-light: #f2a6aa;
$feedback-error-lighter: #fce9ea;


// Gradients

$gradient-brand: linear-gradient(90deg, $brand-primary, $accent-primary-60, $accent-caribbean);
$gradient-primary: linear-gradient(270deg, $action-primary-40 0%, $accent-caribbean 100%);
$gradient-secondary: linear-gradient(270deg, $action-primary-20 0%, $accent-primary-60 100%);
$gradient-assertive: linear-gradient(36deg, $neutral-00 0%, $action-primary-20 100%);
$gradient-subtle: linear-gradient(322deg, $neutral-100, $neutral-95);