// Text Utility Variables

$text-color-primary: $neutral-darkest;
$text-color-ghost: $neutral-lightest;


// Border Utility Variables

$border-color-primary: $neutral-darkest;
$border-color-ghost: $neutral-lightest;
$border-color-accent: $action-primary-dark;
$border-color-subtle: $neutral-light;

$border-radius: 0.25rem; // NOTE: this is a one-off size


// Shadow Utility Variables

$box-shadow-primary: 0 0 0.75rem 0 rgba($neutral-darkest, 0.2); // NOTE: this is a one-off size


// Breakpoint Utility Variables
// TODO: set up mixins for media queries

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;