// Text Utility Variables

$text-color-primary: $neutral-00;
$text-color-subtle: $neutral-40;
$text-color-disabled: $neutral-60;
$text-color-ghost: $neutral-100;
$text-color-action: $action-primary-40;

// Border Radius Utility Variables

$border-radius-circle: 50%;

// Icon Utility Variables

$icon-size-sm: space(lg);

// App Width Utility Variables

:root {
  --app-width: 100%;
}

@media (min-width: $breakpoint-lg-min) {
  :root {
    --app-width: 60rem;
  }
}

@media (min-width: $breakpoint-xl-min) {
  :root {
    --app-width: 71.25rem;
  }
}

@media (min-width: $breakpoint-xxl-min) {
  :root {
    --app-width: 82.5rem;
  }
}
