$font-family-base-regular: "SST-Roman", sans-serif;
$font-family-base-bold: "SST-Bold", sans-serif;
$font-family-base-heavy: "SST-Heavy", sans-serif;
$font-family-icon: "FontAwesome";

$font-weight-regular: 400;
$font-weight-bold: 600;
$font-weight-heavy: 900;