// Brand Color Range

$brand-primary: #003c71;


// Neutral Range

$neutral-00: #000000;
$neutral-20: #333333;
$neutral-40: #666666;
$neutral-60: #999999;
$neutral-80: #cccccc;
$neutral-95: #f2f2f2;
$neutral-100: #ffffff;


// Action Color Range

$action-primary-10: #001433;
$action-primary-20: #012965;
$action-primary-40: #0153cc; // default value
$action-primary-60: #3485fe;
$action-primary-80: #9ac2fe;
$action-primary-95: #e6f0ff;
$action-primary-97: #f2f7ff;


// Accent Color Ranges
// TODO:
// change to plum to primary, caribbean to secondary, lime to tertiary
// figure out naming, and what to call accent-plum-30

$accent-primary-20: #440066;
$accent-primary-30: #660099; // visited links only
$accent-primary-40: #8800cc;
$accent-primary-60: #bb33ff;
$accent-primary-80: #dd99ff;
$accent-primary-95: #f7e6ff;

$accent-secondary-20: #005f66;
$accent-secondary-40: #00becc;
$accent-secondary-60: #00eeff;
$accent-secondary-80: #99f8ff;
$accent-secondary-95: #e6fdff;

$accent-tertiary-20: #356600;
$accent-tertiary-40: #69cc00;
$accent-tertiary-60: #9cff33;
$accent-tertiary-80: #ceff99;
$accent-tertiary-95: #f3ffe6;


// Feedback Color Ranges

$feedback-success-20: #135325;
$feedback-success-40: #26a64a;
$feedback-success-60: #59d97d;
$feedback-success-80: #acecbe;
$feedback-success-95: #eafaef;

$feedback-warning-20: #644a02;
$feedback-warning-40: #c99403;
$feedback-warning-60: #fcc736;
$feedback-warning-80: #fde39b;
$feedback-warning-95: #fff8e6;

$feedback-error-20: #590d11;
$feedback-error-40: #b31921;
$feedback-error-60: #e64d54;
$feedback-error-80: #f2a6aa;
$feedback-error-95: #fce9ea;


// Gradients

$gradient-brand: linear-gradient(90deg, $brand-primary, $accent-primary-60, $accent-secondary-60);
$gradient-primary: linear-gradient(270deg, $action-primary-40 0%, $accent-secondary-60 100%);
$gradient-secondary: linear-gradient(270deg, $action-primary-20 0%, $accent-primary-60 100%);
$gradient-accent: linear-gradient(270deg, $accent-primary-60 0%, $action-primary-60 100%);
$gradient-accent-vertical: linear-gradient(180deg, $accent-primary-60 0%, $action-primary-60 100%);
$gradient-assertive: linear-gradient(36deg, $neutral-00 0%, $action-primary-20 100%);
$gradient-subtle: linear-gradient(322deg, $neutral-100, $neutral-95);

// Animated Gradient

@-webkit-keyframes animatedGradient
{
  0% { background-position: 100% 0; }
  100% { background-position: 0 0; }
}
@-moz-keyframes animatedGradient
{
  0% { background-position: 100% 0; }
  100% { background-position: 0 0; }
}
@-o-keyframes animatedGradient
{
  0% { background-position: 100% 0; }
  100% { background-position: 0 0; }
}
@keyframes animatedGradient
{
  0% { background-position: 100% 0; }
  100% { background-position: 0 0; }
}

@mixin animated-brand-gradient
{
  $gradient-brand-animated: linear-gradient(90deg, $brand-primary, $accent-primary-60, $accent-secondary-60, $brand-primary, $accent-primary-60);

  position: absolute;
  right: 0;
  left: 0;
  height: space(sm);
  background: $gradient-brand;
  background-image: $gradient-brand-animated;
  background-size: 400% 100%;
  content: '';
  -webkit-animation: animatedGradient 10s linear infinite;
  -moz-animation: animatedGradient 10s linear infinite;
  -o-animation: animatedGradient 10s linear infinite;
  animation: animatedGradient 10s linear infinite;

  @media (prefers-reduced-motion: reduce)
  {
    background-image: $gradient-brand;
    background-size: 100% 100%;
    animation: none;
  }
}