.bsds-icon-right {
  margin-left: space(md);
}

.bsds-icon-left {
  margin-right: space(md);
}

.bsds-mt-4x {
  margin-top: space(4x);
}

.bsds-mt-6x {
  margin-top: space(6x);
}

.bsds-mt-8x {
  margin-top: space(8x);
}

// TODO: ADS-631 Standardize utility names
.bsds-margin-top-remove {
  /* stylelint-disable-next-line declaration-no-important */
  margin-top: 0 !important; // Important is used here to ensure utility class overrides existing styles
}

.bsds-pt-0 {
  padding-top: 0;
}
