.bsds-h1,
.bsds-h2,
.bsds-h3,
.bsds-h4,
.bsds-h5,
.bsds-h6 {
  color: $text-color-primary;
  @include font-family-base-heavy;
}

.bsds-h1 {
  margin: space(8x) 0 0;
  @include font-size($fs-h1);
  line-height: 1.4;
}

.bsds-h2 {
  margin: space(6x) 0 0;
  @include font-size($fs-h2);
  line-height: 1.4;
}

.bsds-h3 {
  margin: space(6x) 0 0;
  @include font-size($fs-h3);
  line-height: 1.4;
}

.bsds-h4 {
  margin: space(4x) 0 0;
  @include font-size($fs-h4);
  line-height: 1.4;
}

.bsds-h5 {
  margin: space(3x) 0 0;
  @include font-size($fs-h5);
  line-height: 1.5;
}

.bsds-h6 {
  margin: space(3x) 0 0;
  @include font-size($fs-h6);
  line-height: 1.5;
}

.bsds-body-assertive {
  margin: space(3x) 0 0;
  @include font-size($fs-body-assertive);

  li {
    &:not(:first-of-type) {
      margin: space(3x) 0 0;
    }
  }
}

.bsds-body-subtle {
  @include font-size($fs-body-subtle);
}

small,
.bsds-font-size-sm {
  display: block;
  @include font-size($fs-small);

  li {
    &:not(:first-of-type) {
      margin: space(md) 0 0;
    }
  }
}

b,
strong,
.bsds-font-weight-bold,
.bsds-font-weight-heavy {
  @include font-family-base-heavy;
}
