@import '../../../../styles/abstracts/abstracts';
@import '../../../../styles/base/base';
@import '../../../../styles/utilities/utilities';

// These are one of sizes to get the icons to match the font sizes
$icon-size-sm: 0.75rem;
$icon-size: 1em;
$icon-size-lg: 1.15rem;

$panelsWidth: 100vw;
$numPanels: 4;

.nav-header
{
  border-image-source: $gradient-brand;
  border-image-slice: 1;
  border-top-width: space(xs);
  border-top-style: solid;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}

.nav-utility,
.nav-primary
{
  .nav
  {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .nav-link
  {
    @include link-navigation;
    @include font-size($fs-body-subtle);

    &:focus
    {
      @include focus-default-inset;
    }
  }
}

.nav-utility,
.nav-primary .nav-bar
{
  border-bottom: space(xxs) solid $neutral-80;
}

.nav-utility
{
  display: none;

  .nav
  {
    .nav-item
    {
      margin-top: 0;

      .nav-link
      {
        border: 0;
        color: $neutral-40;
      }

      .ads-dropdown
      {

        .ads-dropdown-trigger
        {
          position: relative;
          padding: space(md) space(lg);
          padding-right: calc(space(lg) + $icon-size-sm + space(md)); // Padding + icon width + space between icon and text

          &:hover
          {
            background: transparent;
            color: $text-color-primary;
          }

          &::after
          {
            right: space(lg);
            width: $icon-size-sm;
            height: $icon-size-sm;
          }
        }
      }
    }
  }
}

.nav-primary
{
  .nav-bar
  {
    .nav
    {
      .nav-item
      {
        margin-top: 0;

        &.nav-item-root
        {
          display: none;
        }

        &.nav-item-logo
        {
          margin-right: auto;
          padding: space(2x) space(3x);

          .nav-link-logo
          {
            display: block;
          }
        }

        &.nav-item-toggle,
        &.nav-item-search
        {
          .nav-link
          {
            border: 0;
            padding-left: calc(space(2x) + $icon-size + space(md)); // Padding + icon width + space between icon and text
            padding-right: space(2x);

            &::after
            {
              position: absolute;
              left: space(2x);
              top: calc(50% - ($icon-size / 2));
              width: $icon-size;
              height: $icon-size;
            }
          }
        }

        &.nav-item-search
        {
          .nav-link::after
          {
            content: url("../../../../assets/images/icon-search.svg");
          }
        }

        &.nav-item-toggle
        {
          .nav-link::after
          {
            content: url("../../../../assets/images/icon-menu.svg");
          }

          &.open
          {
            &::after
            {
              content: url("../../../../assets/images/icon-close.svg");
            }
          }
        }

        .nav-link
        {
          position: relative;
          padding: space(3x) space(2x);
          padding-right: calc(space(2x) + $icon-size + space(md)); // Padding + icon width + space between icon and text
          border: 0;
          @include font-size($fs-body-subtle);

          &::after
          {
            content: url("../../../../assets/images/icon-chevron-down.svg");
            position: absolute;
            top: calc(50% - ($icon-size / 2));
            right: space(2x);
            width: $icon-size;
            height: $icon-size;
          }

          &.open
          {
            &::before
            {
              content: '';
              position: absolute;
              right: space(2x);
              bottom: 0;
              left: space(2x);
              border-bottom: space(sm) solid $neutral-00;
            }

            &::after
            {
              content: url("../../../../assets/images/icon-chevron-up.svg");
            }
          }
        }
      }
    }
  }

  .nav-menu
  {
    $navLinkPadding: space(lg) space(2x);
    border-bottom: space(xxs) solid $neutral-80;

    .nav-menu-back
    {
      position: relative;
      width: 100%;
      justify-content: flex-start;
      box-shadow: $box-shadow-secondary;
      padding: $navLinkPadding;
      padding-left: calc(space(2x) + $icon-size + space(md)); // Padding + icon width + space between icon and text
      @include font-size($fs-base);

      &:focus
      {
        @include focus-default-inset;
      }

      &::after
      {
        content: url("../../../../assets/images/icon-chevron-left.svg");
        position: absolute;
        top: calc(50% - ($icon-size / 2));
        left: space(2x);
        width: $icon-size;
        height: $icon-size;
        @include font-size($fs-body-subtle);
      }
    }

    .nav-menu-panels
    {
      position: relative;
      margin: auto;
      width: $panelsWidth;

      > :not(:last-child)
      {
        border-right: space(xxs) solid $neutral-80;
      }

      .nav-menu-panel
      {
        position: absolute;
        top: 0;
        display: none;
        margin-top: 0;
        width: $panelsWidth;
        height: 100%;

        .nav-menu-panel
        {
          left: 0;
        }

        &:not(.nav-active-list)
        {
          > .nav
          {
            padding: 0;
          }

          & > .nav > .nav-item:not(.nav-item-parent),
          & > .nav > .nav-item-parent > .nav-link,
          > .nav-menu-panel-header
          {
            display: none;
          }

        }

        .nav
        {
          display: block;
          margin: 0;
          padding: space(3x) 0;
        }

        &:last-of-type
        {
          display: flex;
          flex-direction: column;
        }
      }

      .nav-menu-panel-header
      {
        padding: space(3x) space(2x) space(4x);
        border-bottom: space(xxs) solid $neutral-80;

        :first-child
        {
          margin-top: 0;
        }
      }

      .nav-menu-panel-header-link
      {
        display: block;
        margin-top: space(3x);
      }
    }

    .nav-item-parent
    {
      .nav-link
      {
        border: 0;
        width: 100%;
        text-align: left;

        &:hover
        {
          background: transparent;
          text-decoration: none;
        }

        &.active,
        &:hover
        {
          background: $neutral-95;
        }

        .nav-link-text
        {
          position: relative;
          padding-right: calc($icon-size + space(md)); // Padding + icon width + space between icon and text;

          &::after
          {
            content: url("../../../../assets/images/icon-chevron-right.svg");
            position: absolute;
            top: calc(50% - ($icon-size / 2));
            right: 0;
            width: $icon-size;
            height: $icon-size;
            @include font-size($fs-body-subtle);
          }
        }

        .nav-link-description
        {
          margin-top: space(md);
          @include font-size($fs-body-subtle);
          font-family: $font-family-base-regular;
          color: $neutral-40;
          width: 100%;
          text-align: left;
        }
      }
    }

    .nav-item,
    .nav-item-parent
    {
      margin-top: 0;
    }

    .nav-link
    {
      flex-wrap: wrap;
      padding: $navLinkPadding;
      @include font-size($fs-body-subtle);
      @include link-navigation;

      &:active
      {
        font-family: $font-family-base-heavy;
      }

      &.has-description
      {
        @include font-size($fs-base);
      }
    }

    .nav-link-see-all
    {
      @include link-default;
    }
  }

  .search-panel
  {
    margin: auto;
    border-bottom: space(xxs) solid $neutral-80;

    .search
    {
      display: flex;
      padding: space(2x) space(3x);
    }

    .search-control
    {
      position: relative;
      flex: 1;
      margin-right: space(2x);
    }

    .search-input
    {
      margin-top: 0;
      height: 100%;
    }

    .search-clear
    {
      position: absolute;
      right: 0;
      border: 0;
      padding: space(2x);
      height: 100%;
      aspect-ratio: 1 / 1;
      background: transparent;

      &:focus
      {
        @include focus-default-inset;
      }

      &:hover:not(:active)
      {
        fill: $action-primary-40;
      }
    }
  }
}

@media (min-width: $lg)
{
  $panelsWidth: 60rem; // NOTE: This is a one off size to match the layout widths.

  .nav-utility .nav,
  .nav-bar .nav,
  .nav-menu-panels,
  .search-panel .search
  {
    width: $panelsWidth;
    margin-right: auto;
    margin-left: auto;
  }

  .nav-utility
  {
    display: block;
  }

  .nav-menu-back
  {
    display: none;
  }

  .nav-primary
  {
    .nav-bar
    {
      .nav
      {
        .nav-item
        {
          &.nav-item-root
          {
            display: block;
          }

          &.nav-item-toggle
          {
            display: none;
          }

          &.nav-item-search
          {
            .nav-link
            {
              box-sizing: content-box;
              padding-left: space(2x);
              width: $icon-size-lg;
              height: $icon-size-lg;
            }

            .nav-link-search-text
            {
              @include visually-hidden;
            }
          }

          &.nav-item-logo
          {
            padding: 0;
          }
        }
      }
    }

    .nav-menu
    {
      .nav-menu-panels
      {
        width: $panelsWidth;

        .nav-menu-panel
        {
          width: calc($panelsWidth / $numPanels);

          .nav-menu-panel
          {
            left: calc($panelsWidth / $numPanels);
          }
        }

        .nav-menu-panel-header
        {
          padding: space(4x) space(2x) space(3x) 0;
          border-right: space(xxs) solid $neutral-80;
          border-bottom: 0;
        }

        .nav-menu-panel
        {
          display: block;

          &.has-header
          {
            display: flex;
            flex-direction: row;
            width: calc(($panelsWidth / $numPanels) * 2);
            left: 0;

            > *
            {
              flex: 1;
            }

            .nav-menu-panel
            {
              left: calc(($panelsWidth / $numPanels) * 2);

              .nav-menu-panel
              {
                left: calc(($panelsWidth / $numPanels));
              }
            }
          }
        }

        /* .nav-menu-panel:not(.nav-menu-panel-custom):first-of-type
        {
          display: none;
        } */
      }

      .nav
      {
        padding: space(4x) 0 space(3x);
      }
    }
  }

}

@media (min-width: $xl)
{
  $panelsWidth: 71.25rem; // NOTE: This is a one off size to match the layout widths.

  .nav-utility .nav,
  .nav-bar .nav,
  .search-panel .search
  {
    width: $panelsWidth;
  }

  .nav-primary
  {
    .nav-menu
    {
      .nav-menu-panels
      {
        width: $panelsWidth;

        .nav-menu-panel
        {
          width: calc($panelsWidth / $numPanels);

          .nav-menu-panel
          {
            left: calc($panelsWidth / $numPanels);
          }
        }
      }
    }
  }
}

@media (min-width: $xxl)
{
  $panelsWidth: 82.5rem; // NOTE: This is a one off size to match the layout widths.

  .nav-utility .nav,
  .nav-bar .nav,
  .search-panel .search
  {
    width: $panelsWidth;
  }

  .nav-primary
  {
    .nav-menu
    {
      .nav-menu-panels
      {
        width: $panelsWidth;

        .nav-menu-panel
        {
          width: calc($panelsWidth / $numPanels);

          .nav-menu-panel
          {
            left: calc($panelsWidth / $numPanels);
          }
        }
      }
    }
  }
}