@import '../../../../styles/abstracts/abstracts';
@import '../../../../styles/base/base';
@import '../../../../styles/utilities/utilities';

// These are one of sizes to get the icons to match the font sizes
$icon-size-sm: space(lg);
$icon-size: 1em;
$icon-size-lg: space(2x);

$panelsWidth: 100vw;
$numPanels: 4;

$navBarZIndex: 700;
$navBackZIndex: 600;
$navMenuZIndex: 550;
$navListZIndex: 500;

// Used in nav-menu nav-links
$navLinkPadding: space(2x) space(3x);
$menuPadding: space(md) 0;

.lib-nav-header
{
  border-image-source: $gradient-brand;
  border-image-slice: 1;
  border-top-width: space(xs);
  border-top-style: solid;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}

.lib-nav-utility,
.lib-nav-primary,
.lib-nav-menu,
.lib-search-panel
{
  background-color: $neutral-100;
}

.lib-nav-utility,
.lib-nav-primary
{
  .lib-nav
  {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .lib-nav-link
  {
    display: block;
    @include font-size($fs-base);
    @include link-navigation;

    &:focus
    {
      @include focus-default-inset;
    }
  }
}

// Utility Nav
.lib-nav-utility
{
  display: none;
  border-bottom: space(xxs) solid $neutral-80;

  .lib-nav
  {
    justify-content: flex-end;

    .lib-nav-item
    {
      margin-top: 0;

      .lib-nav-link
      {
        border: 0;
        padding: space(md) space(lg);
        color: $neutral-40;

        &:hover
        {
          color: $text-color-primary;
        }
      }

      .lib-dropdown
      {
        .lib-dropdown-trigger
        {
          display: inline-flex;
          padding: space(md) space(lg);
          padding-right: calc(space(md) + $icon-size-sm + space(lg));

          &[aria-expanded="true"],
          &:hover,
          &:active
          {
            background: transparent;
          }

          &::after
          {
            right: space(lg);
            width: $icon-size-sm;
            height: $icon-size-sm;
            background-color: $neutral-40;
          }
        }
      }
    }
  }
}

// Primary Nav

.lib-nav-primary
{
  position: relative;
  box-shadow: inset 0 calc(0rem - space(xxs)) $border-color-subtle;

  // Primary Nav Top Bar

  .lib-nav-bar
  {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    align-content: center;
    flex-direction: column;
    border-bottom: space(xxs) solid $neutral-80;
    background-color: $neutral-100;
    z-index: $navBarZIndex;

    .lib-nav-link-logo
    {
      display: flex;
      flex-wrap: wrap;
      margin: auto;
      padding: space(2x);

      &:focus
      {
        @include focus-default-inset;
      }
    }

    & > .lib-nav
    {
      justify-content: center;

       & > .lib-nav-item
      {
        margin-top: 0;

        &.lib-nav-item-root
        {
          display: none;

          & > button.lib-nav-link
          {
            padding-right: calc(space(2x) + $icon-size + space(md)); // Padding + icon width + space between icon and text

            &::after
            {
              content: url("../../../../assets/images/icon-chevron-down.svg");
              position: absolute;
              top: calc(50% - ($icon-size / 2));
              right: space(2x);
              width: $icon-size;
              height: $icon-size;
            }

            &[aria-expanded="true"]
            {
              &::after
              {
                content: url("../../../../assets/images/icon-chevron-up.svg");
              }
            }
          }
        }


        &.lib-nav-item-toggle,
        &.lib-nav-item-search
        {
          .lib-nav-link
          {
            border: 0;
            padding-left: calc(space(2x) + $icon-size + space(md)); // Padding + icon width + space between icon and text
            padding-right: space(2x);

            &::after
            {
              content: '';
              position: absolute;
              left: space(2x);
              top: calc(50% - ($icon-size / 2));
              width: $icon-size;
              height: $icon-size;
              background-position: center;
              background-size: cover;
              background-repeat: no-repeat;
            }
          }
        }

        &.lib-nav-item-search
        {
          .lib-nav-link::after,
          .lib-nav-link[aria-expanded="true"]::after
          {
            content: '';
            background-image: url("../../../../assets/images/icon-search.svg");
          }
        }

        &.lib-nav-item-toggle
        {
          .lib-nav-link
          {
            &::after
            {
              background-image: url("../../../../assets/images/icon-menu.svg");
            }

            &[aria-expanded="true"]::after
            {
              background-image: url("../../../../assets/images/icon-close.svg");
            }
          }
        }

        & > .lib-nav-link
        {
          position: relative;
          padding: space(3x) space(2x);
          border: 0;

          &.active,
          &:hover,
          &[aria-expanded="true"]
          {
            text-decoration: none;

            &::before
            {
              content: '';
              position: absolute;
              right: space(2x);
              bottom: 0;
              left: space(2x);
              border-bottom: space(sm) solid $neutral-00;
            }
          }

          &.active
          {
            font-family: $font-family-base-heavy;
          }
        }
      }
    }
  }

  // Primary Nav Menu

  .lib-nav-menu
  {
    position: absolute;
    left: 0;
    border-bottom: space(xxs) solid $neutral-80;
    width: 100%;
    @include font-size($fs-base);
    z-index: $navMenuZIndex;

    &:not(.open)
    {
      display: none;
    }

    .lib-nav-item,
    .lib-nav-item-parent
    {
      margin-top: 0;

      &:last-of-type
      {
        .lib-nav-link
        {
          border-bottom: 0;
        }
      }
    }

    .lib-nav-link
    {
      flex-wrap: wrap;
      border: 0;
      padding: $navLinkPadding;
      @include link-navigation;
    }
  }

  .lib-nav-menu-back
  {
    position: relative;
    width: 100%;
    justify-content: flex-start;
    border: 0;
    padding: $navLinkPadding;
    padding-left: calc(space(2x) + $icon-size + space(md)); // Padding + icon width + space between icon and text
    @include font-size($fs-base);
    box-shadow: $box-shadow-secondary;
    z-index: $navBackZIndex;

    &:focus
    {
      @include focus-default-inset;
    }

    &::after
    {
      content: '';
      -webkit-mask: url("../../../../assets/images/icon-chevron-left.svg") no-repeat 50% 50%;
      mask: url("../../../../assets/images/icon-chevron-left.svg") no-repeat 50% 50%;
      -webkit-mask-size: cover;
      mask-size: cover;
      background-color: $action-primary-40;
      position: absolute;
      top: calc(50% - ($icon-size-sm / 2));
      left: space(2x);
      width: $icon-size-sm;
      height: $icon-size-sm;
    }
    &:active::after
    {
      background-color: $text-color-primary;
    }
  }

  .lib-nav-menu-panels
  {
    position: relative;
    margin: auto;
    padding: $menuPadding;
    width: $panelsWidth;

    > :not(:last-child)
    {
      border-right: space(xxs) solid $neutral-80;
    }
  }

  .lib-nav-menu-panel
  {
    display: none;
    margin-top: 0;
    width: $panelsWidth;

    .lib-nav-menu-panel
    {
      left: 0;
    }


    &:not(.lib-nav-active-list)
    {
      > .lib-nav
      {
        padding: 0;
      }

      & > .lib-nav > .lib-nav-item:not(.lib-nav-item-parent),
      & > .lib-nav > .lib-nav-item-parent > .lib-nav-link,
      > .lib-nav-menu-panel-header
      {
        display: none;
      }
    }

    .lib-nav
    {
      display: block;
      margin: 0;
    }

    &:last-of-type
    {
      display: flex;
      flex-direction: column;
    }
  }

  .lib-nav-menu-panel-header
  {
    border-bottom: space(xxs) solid $neutral-80;
    padding: space(lg) space(3x) space(4x);

    .lib-nav-menu-panel-title
    {
      @extend .h3;
      margin-top: 0;
    }
  }

  .lib-nav-menu-panel-header-link
  {
    display: block;
    margin-top: space(3x);
  }

  .lib-nav-item-parent
  {
    > .lib-nav-link
    {
      width: 100%;
      text-align: left;

      &:hover
      {
        background: transparent;
        text-decoration: none;
      }

      &.active,
      &:hover
      {
        background: $neutral-95;
      }

      &[aria-expanded="true"]
      {
        .lib-nav-link-description
        {
          color: $text-color-primary;
        }
      }

      .lib-nav-link-description
      {
        @include font-size($fs-body-subtle);
      }

      .lib-nav-link-text
      {
        position: relative;
        padding-right: calc($icon-size-sm + space(md)); // Padding + icon width + space between icon and text;

        &::after
        {
          content: '';
          position: absolute;
          top: calc(50% - ($icon-size-sm / 2));
          right: 0;
          width: $icon-size-sm;
          height: $icon-size-sm;
          background-image: url("../../../../assets/images/icon-chevron-right.svg");
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
        }
      }

      .lib-nav-link-description
      {
        margin-top: space(md);
        font-family: $font-family-base-regular;
        color: $neutral-40;
        width: 100%;
        text-align: left;
      }
    }
  }

  .lib-nav-link-see-all
  {
    @include link-default;
    display: block;
    border-bottom: 0;
    padding: $navLinkPadding;
  }

  .lib-nav-block
  {
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
    border-top: space(xxs) solid $neutral-80;
    padding: $menuPadding;

    .lib-nav-link
    {
      border: 0;
      @include font-size($fs-base);
    }

    .lib-dropdown-trigger
    {
      display: inline-flex;
      padding-right: space(md) + $icon-size-sm + space(lg);

      &[aria-expanded="true"],
      &:hover,
      &:active
      {
        background: transparent;
        color: $text-color-primary;
      }

      &::after
      {
        right: space(lg);
        width: $icon-size-sm;
        height: $icon-size-sm;
        background-color: $neutral-40;
      }
    }
  }

  .lib-search-panel
  {
    display: none;
    position: absolute;
    margin: auto;
    border-bottom: space(xxs) solid $neutral-80;
    width: 100%;

    &.open
    {
      display: block;
    }

    .lib-form-search
    {
      padding: space(2x) space(3x);
    }
  }
}

@mixin panelSettings($menuWidth) {
  .lib-nav-menu-panel
  {
    width: calc($menuWidth / $numPanels);

    .lib-nav-menu-panel
    {
      left: calc($menuWidth / $numPanels);
    }

    &.has-header
    {
      width: calc(($menuWidth / $numPanels) * 2);
      left: 0;

      .lib-nav-menu-panel
      {
        left: calc(($menuWidth / $numPanels) * 2);
        width: calc($menuWidth / $numPanels);

        .lib-nav-menu-panel
        {
          left: calc(($menuWidth / $numPanels));
        }
      }
    }
  }
}

@media (min-width: $sm)
{
  .lib-nav-primary
  {
    .lib-nav-bar
    {
      flex-direction: row;

      .lib-nav-link-logo
      {
        margin: 0;
        padding: space(sm) space(2x);
      }
    }
  }
}

@media (min-width: $lg)
{
  $panelsWidth: 60rem; // NOTE: This is a one off size to match the layout widths.

  .lib-nav-utility .lib-nav,
  .lib-nav-bar,
  .lib-nav-menu-panels,
  .lib-search-panel .lib-form-search
  {
    width: $panelsWidth;
    margin-right: auto;
    margin-left: auto;
  }

  .lib-nav-utility
  {
    display: block;
  }

  .lib-nav-utility .lib-nav-link,
  .lib-nav-primary .lib-nav-bar > .lib-nav > .lib-nav-item > .lib-nav-link
  {
    @include font-size($fs-body-subtle);
  }

  .lib-nav-menu-back
  {
    display: none;
  }

  .lib-nav-primary
  {
    .lib-nav-bar
    {
      .lib-nav
      {
        .lib-nav-item
        {
          &.lib-nav-item-root
          {
            display: block;
          }

          &.lib-nav-item-toggle
          {
            display: none;
          }

          &.lib-nav-item-search
          {
            .lib-nav-link
            {
              box-sizing: content-box;
              padding: space(2x);
              width: $icon-size;
              height: $icon-size;
              background-image: url("../../../../assets/images/icon-search.svg");
              background-position: center;
              background-size: $icon-size;
              background-repeat: no-repeat;

              &::after,
              &::before
              {
                display: none;
              }

              &:hover,
              &:focus,
              &[aria-expanded="true"]
              {
                background-color: $action-primary-95;
              }
            }

            .lib-nav-link-search-text
            {
              @include visually-hidden;
            }
          }
        }
      }
    }

    .lib-nav-menu
    {
      border-top: space(xxs) solid $neutral-80;
      height: 60vh;

      .lib-nav
      {
        padding: space(4x) 0 space(3x);
        height: 100%;
        overflow-y: auto;
      }

      .lib-nav-link
      {
        border: 0;
        word-wrap: break-word;
      }

      &:not(.intermediate)
      {
        .lib-nav-menu-panels
        {
          @include panelSettings($panelsWidth);
        }
      }

      &.intermediate
      {
        .lib-nav-menu-panel
        {
          width: 100%;
        }

        .lib-nav-menu-panels .lib-nav-menu-panel.has-header .lib-nav-menu-panel-header
        {
          width: calc($panelsWidth / $numPanels);
          flex: unset;
        }

        .lib-nav
        {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          align-content: flex-start;
          align-items: flex-start;
        }
      }
    }

    .lib-nav-menu-panels
    {
      width: $panelsWidth;
      height: 100%;

      & > .lib-nav-active-list
      {
        .lib-nav-menu-panel
        {
          z-index: -1;
        }
      }

      .lib-nav-menu-panel-header
      {
        padding: space(4x) space(4x) space(3x);
        border-right: space(xxs) solid $neutral-80;
        border-bottom: 0;
      }

      & > .lib-nav-menu-panel .lib-nav-menu-panel .lib-nav-menu-panel
      {
        .lib-nav-link
        {
          @include font-size($fs-body-subtle);
        }
      }

      .lib-nav-menu-panel
      {
        position: absolute;
        top: 0;
        display: block;
        border-bottom: 0;
        height: 100%;

        &:first-child
        {
          border-left: space(xxs) solid $neutral-80;
        }

        &:not(:first-child)
        {
          border-right: space(xxs) solid $neutral-80;
        }

        &.lib-nav-list-history
        {
          z-index: $navListZIndex;

          > .lib-nav
          {
            padding: space(4x) 0 space(3x);
          }

          & > .lib-nav > .lib-nav-item:not(.lib-nav-item-parent),
          & > .lib-nav > .lib-nav-item-parent > .lib-nav-link,
          > .lib-nav-menu-panel-header
          {
            display: block;
          }
        }

        &.has-header
        {
          display: flex;
          flex-direction: row;

          > *
          {
            flex: 1;
          }
        }
      }
    }

    .lib-nav-link-see-all
    {
      @include font-size($fs-body-subtle);
    }

    .lib-nav-block
    {
      display: none;
    }
  }

}

@media (min-width: $xl)
{
  $panelsWidth: 71.25rem; // NOTE: This is a one off size to match the layout widths.

  .lib-nav-utility .lib-nav,
  .lib-nav-bar,
  .lib-search-panel .lib-form-search
  {
    width: $panelsWidth;
  }

  .lib-nav-primary
  {
    .lib-nav-menu:not(.intermediate)
    {
      .lib-nav-menu-panels
      {
        @include panelSettings($panelsWidth);
      }
    }

    .lib-nav-menu-panels
    {
      width: $panelsWidth;
    }
  }
}

@media (min-width: $xxl)
{
  $panelsWidth: 82.5rem; // NOTE: This is a one off size to match the layout widths.

  .lib-nav-utility .lib-nav,
  .lib-nav-bar,
  .lib-search-panel .lib-form-search
  {
    width: $panelsWidth;
  }

  .lib-nav-primary
  {
    .lib-nav-menu:not(.intermediate)
    {
      .lib-nav-menu-panels
      {
        @include panelSettings($panelsWidth);
      }
    }

    .lib-nav-menu-panels
    {
      width: $panelsWidth;
    }
  }
}
