.bsds-nav-primary {
  .bsds-nav-menu {
    position: absolute;
    left: 0;
    z-index: $nav-menu-z-index;
    width: 100%;
    border-bottom: $border-width-xxs solid $border-color-subtle;
    @include font-size($fs-body);

    &:not(.open) {
      display: none;
    }

    .bsds-nav-item-parent {
      > .bsds-nav-link {
        width: 100%;
        text-align: left;

        &:hover,
        &:active {
          background: transparent;
          text-decoration: none;
        }

        &.active,
        &:hover,
        &:active {
          background: $neutral-95;
        }

        .bsds-nav-link-text {
          position: relative;
          padding-right: calc($icon-size-sm + space(md)); // Padding + icon width + space between icon and text;

          &::after {
            position: absolute;
            top: calc(50% - ($icon-size-sm / 2));
            right: 0;
            width: $icon-size-sm;
            height: $icon-size-sm;
            background-image: url('../../../../assets/images/icon-chevron-right.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            content: '';
          }
        }

        &.current {
          .bsds-nav-link-text {
            @include font-family-base-heavy;
          }
        }

        .bsds-nav-link-description {
          width: 100%;
          margin-top: space(md);
          color: $text-color-subtle;
          text-align: left;
          @include font-size($fs-body-subtle);
          @include font-family-base-regular;
        }

        &[aria-expanded='true'] {
          .bsds-nav-link-description {
            color: $text-color-primary;
          }
        }
      }
    }

    .bsds-nav-link {
      flex-wrap: wrap;
      border: 0;
      padding: $nav-link-padding;
      @include link-navigation;
    }

    .bsds-nav-item,
    .bsds-nav-item-parent {
      margin-top: 0;

      &:last-of-type {
        .bsds-nav-link {
          border-bottom: 0;
        }
      }
    }
  }

  .bsds-button-nav-back {
    z-index: $nav-back-z-index;
    justify-content: flex-start;
    width: 100%;
    box-shadow: $box-shadow-secondary;
    @include font-size($fs-body);

    &:focus {
      @include focus-default-inset;
    }
  }

  .bsds-nav-menu-panels {
    position: relative;
    width: $panels-width;
    margin: auto;
    padding: $menu-padding;

    > :not(:last-child) {
      border-right: $border-width-xxs solid $border-color-subtle;
    }
  }

  .bsds-nav-menu-panel {
    display: none;
    width: $panels-width;
    margin-top: 0;

    .bsds-nav-menu-panel {
      left: 0;
    }

    .bsds-nav {
      display: block;
      margin: 0;
    }

    .bsds-nav-menu-panel-header {
      border-bottom: $border-width-xxs solid $border-color-subtle;
      padding: space(lg) space(3x) space(4x);

      .bsds-nav-menu-panel-title {
        @extend .bsds-h3;
        margin-top: 0;
      }
    }

    &:not(.bsds-nav-active-list) {
      > .bsds-nav {
        padding: 0;

        /* stylelint-disable scss/selector-nest-combinators */
        > .bsds-nav-item:not(.bsds-nav-item-parent),
        > .bsds-nav-item-parent > .bsds-nav-link {
          /* stylelint-enable scss/selector-nest-combinators */
          display: none;
        }
      }

      > .bsds-nav-menu-panel-header {
        display: none;
      }
    }

    &:last-of-type {
      display: flex;
      flex-direction: column;
    }
  }

  .bsds-nav-menu-panel-header-link {
    display: inline-block;
    margin-top: space(3x);
  }

  .bsds-nav-link-see-all {
    @include link-default;
    display: block;
    border-bottom: 0;
    padding: $nav-link-padding;
  }

  .bsds-nav {
    &.bsds-nav-block {
      flex-direction: column;
      align-content: flex-start;
      align-items: flex-start;
      border-top: $border-width-xxs solid $border-color-subtle;
      padding: $menu-padding;

      .bsds-nav-link {
        border: 0;
        @include font-size($fs-body-subtle);
      }

      .bsds-dropdown {
        .bsds-dropdown-trigger {
          display: inline-flex;
          padding-right: space(md) + $icon-size-sm + space(lg);

          &[aria-expanded='true'],
          &:hover,
          &:active {
            background: transparent;
            color: $text-color-primary;
          }

          &::after {
            right: space(lg);
            width: $icon-size-sm;
            height: $icon-size-sm;
            background: $text-color-primary;
          }
        }
      }
    }
  }

  .bsds-search-panel {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: $nav-search-z-index;
    display: none;
    width: 100%;
    margin: auto;
    border-top: $border-width-xxs solid $border-color-subtle;
    border-bottom: $border-width-xxs solid $border-color-subtle;

    &.open {
      display: block;
    }

    .bsds-form-search {
      padding: space(2x) space(3x);
    }
  }
}

@media (min-width: $breakpoint-lg-min) {
  .bsds-nav-primary {
    .bsds-search-panel {
      border-top: 0;
    }

    .bsds-nav-menu-panels {
      height: 100%;

      .bsds-nav-menu-panel-header {
        border-right: $border-width-xxs solid $border-color-subtle;
        border-bottom: 0;
        padding: space(4x) space(4x) space(3x);
      }

      .bsds-nav-menu-panel {
        position: absolute;
        top: 0;
        display: block;
        height: 100%;
        border-bottom: 0;

        &:first-child {
          border-left: $border-width-xxs solid $border-color-subtle;
        }

        &:not(:first-child) {
          border-right: $border-width-xxs solid $border-color-subtle;
        }

        &.bsds-nav-list-history {
          z-index: $nav-list-z-index;

          > .bsds-nav {
            padding: space(4x) 0 space(3x);

            /* stylelint-disable scss/selector-nest-combinators */
            > .bsds-nav-item:not(.bsds-nav-item-parent),
            > .bsds-nav-item-parent > .bsds-nav-link {
              /* stylelint-enable scss/selector-nest-combinators */
              display: block;
            }
          }

          > .bsds-nav-menu-panel-header {
            display: block;
          }
        }

        &.has-header {
          display: grid;
          grid-template-columns: 1fr 1fr;
        }
      }

      > .bsds-nav-menu-panel {
        .bsds-nav-menu-panel {
          .bsds-nav-menu-panel {
            .bsds-nav-link {
              @include font-size($fs-body-subtle);
            }
          }
        }
      }

      > .bsds-nav-active-list {
        .bsds-nav-menu-panel {
          z-index: -1;
        }
      }
    }

    .bsds-nav-menu {
      height: 60vh;
      border-top: $border-width-xxs solid $border-color-subtle;

      .bsds-nav {
        height: 100%;
        overflow-y: auto;
        padding: space(4x) 0 space(3x);
      }

      .bsds-nav-link {
        border: 0;
        word-wrap: break-word;
      }

      &:not(.intermediate) {
        .bsds-nav-menu-panels {
          @include panel-settings($panels-width);
        }
      }

      &.intermediate {
        .bsds-nav-menu-panel {
          width: 100%;

          &.has-header {
            grid-template-columns: 1fr 3fr;
          }
        }

        .bsds-nav {
          display: flex;
          flex-flow: column wrap;
          align-content: flex-start;
          align-items: flex-start;
        }
      }
    }

    .bsds-nav-link-see-all {
      @include font-size($fs-body-subtle);
    }

    .bsds-nav-block {
      display: none;
    }

    .bsds-button-nav-back {
      display: none;
    }
  }

  .bsds-nav-header {
    &.is-constrained {
      $panels-width-lg: 60rem; // NOTE: This is a one off size to match the layout widths.

      .bsds-nav-menu-panels {
        width: $panels-width-lg;
      }

      .bsds-nav-menu {
        &:not(.intermediate) {
          .bsds-nav-menu-panels {
            @include panel-settings($panels-width-lg);
          }
        }
      }
    }
  }
}

@media (min-width: $breakpoint-xl-min) {
  .bsds-nav-header {
    &.is-constrained {
      $panels-width-xl: 71.25rem; // NOTE: This is a one off size to match the layout widths.

      .bsds-nav-primary {
        .bsds-nav-menu {
          &:not(.intermediate) {
            .bsds-nav-menu-panels {
              @include panel-settings($panels-width-xl);
            }
          }
        }

        .bsds-nav-menu-panels {
          width: $panels-width-xl;
        }
      }
    }
  }
}

@media (min-width: $breakpoint-xxl-min) {
  .bsds-nav-header {
    &.is-constrained {
      $panels-width-xxl: 82.5rem; // NOTE: This is a one off size to match the layout widths.
      .bsds-nav-primary {
        .bsds-nav-menu {
          &:not(.intermediate) {
            .bsds-nav-menu-panels {
              @include panel-settings($panels-width-xxl);
            }
          }
        }

        .bsds-nav-menu-panels {
          width: $panels-width-xxl;
        }
      }
    }
  }
}
