/* stylelint-disable scss/selector-nest-combinators */
// TODO: ads-463 Figure out how to make nesting work for this file

@import '../../../../styles/abstracts/abstracts';
@import '../../../../styles/base/base';
@import '../../../../styles/utilities/utilities';

// These are one of sizes to get the icons to match the font sizes
$icon-size-sm: space(lg);
$icon-size: 1em;
$icon-size-lg: space(2x);
$panels-width: 100vw;
$num-panels: 4;
$nav-bar-z-index: 700;
$nav-back-z-index: 600;
$nav-menu-z-index: 550;
$nav-list-z-index: 500;
$nav-search-z-index: 550;

// Used in nav-menu nav-links
$nav-link-padding: space(2x) space(3x);
$menu-padding: space(md) 0;

.bsds-nav-utility,
.bsds-nav-primary,
.bsds-nav-menu,
.bsds-search-panel {
  background-color: $neutral-100;
}

.bsds-nav-utility,
.bsds-nav-primary {
  .bsds-nav {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .bsds-nav-link {
    display: block;
    @include font-size($fs-base);
    @include link-navigation;

    &:focus {
      @include focus-default-inset;
    }
  }
}

// Utility Nav
.bsds-nav-utility {
  display: none;
  border-bottom: space(xxs) solid $border-color-subtle;

  .bsds-nav {
    justify-content: flex-end;

    .bsds-nav-item {
      margin-top: 0;

      .bsds-nav-link {
        border: 0;
        padding: space(md) space(lg);
        color: $neutral-40;

        &:hover {
          color: $text-color-primary;
        }
      }

      .bsds-dropdown {
        .bsds-dropdown-trigger {
          display: inline-flex;
          padding: space(md) space(lg);
          padding-right: calc(space(md) + $icon-size-sm + space(lg));

          &::after {
            right: space(lg);
            width: $icon-size-sm;
            height: $icon-size-sm;
            background-color: $neutral-40;
          }

          &[aria-expanded='true'],
          &:hover,
          &:active {
            background: transparent;
            color: $text-color-primary;
            text-decoration: underline;

            &::after {
              background-color: $text-color-primary;
            }
          }
        }
      }
    }
  }
}

// Primary Nav

.bsds-nav-primary {
  position: relative;
  box-shadow: inset 0 calc(0rem - space(xxs)) $border-color-subtle;

  .bsds-nav-menu {
    position: absolute;
    left: 0;
    z-index: $nav-menu-z-index;
    width: 100%;
    border-bottom: space(xxs) solid $border-color-subtle;
    @include font-size($fs-base);

    &:not(.open) {
      display: none;
    }

    .bsds-nav-item,
    .bsds-nav-item-parent {
      margin-top: 0;

      &:last-of-type {
        .bsds-nav-link {
          border-bottom: 0;
        }
      }
    }

    .bsds-nav-link {
      flex-wrap: wrap;
      border: 0;
      padding: $nav-link-padding;
      @include link-navigation;
    }
  }

  // Primary Nav Top Bar

  .bsds-nav-bar {
    position: relative;
    z-index: $nav-bar-z-index;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: stretch;
    border-bottom: space(xxs) solid $border-color-subtle;
    background-color: $neutral-100;

    .bsds-nav-link-logo {
      display: flex;
      flex-wrap: wrap;
      margin: auto;
      padding: space(2x);

      &:focus {
        @include focus-default-inset;
      }
    }

    > .bsds-nav {
      justify-content: center;

      > .bsds-nav-item {
        margin-top: 0;

        > .bsds-nav-link {
          position: relative;
          border: 0;
          padding: space(3x) space(2x);

          &.current,
          &:active,
          &:hover,
          &[aria-expanded='true'] {
            background: initial;
            text-decoration: none;

            &::before {
              position: absolute;
              right: space(2x);
              bottom: 0;
              left: space(2x);
              border-bottom: space(sm) solid $border-color-primary;
              content: '';
            }
          }

          &.current {
            @include font-family-base-heavy;
          }
        }

        &.bsds-nav-item-toggle,
        &.bsds-nav-item-search {
          .bsds-nav-link {
            border: 0;
            padding-right: space(2x);
            padding-left: calc(
              space(2x) + $icon-size + space(md)
            ); // Padding + icon width + space between icon and text

            &::after {
              position: absolute;
              top: calc(50% - ($icon-size / 2));
              left: space(2x);
              width: $icon-size;
              height: $icon-size;
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;
              content: '';
            }
          }
        }

        &.bsds-nav-item-search {
          .bsds-nav-link {
            &::after,
            &[aria-expanded='true']::after {
              background-image: url('../../../../assets/images/icon-search.svg');
              content: '';
            }
          }
        }

        &.bsds-nav-item-toggle {
          .bsds-nav-link {
            &::after {
              background-image: url('../../../../assets/images/icon-menu.svg');
            }

            &[aria-expanded='true'] {
              &::after {
                background-image: url('../../../../assets/images/icon-close.svg');
              }
            }
          }
        }

        &.bsds-nav-item-root {
          display: none;

          > button {
            &.bsds-nav-link {
              padding-right: calc(
                space(2x) + $icon-size + space(md)
              ); // Padding + icon width + space between icon and text

              &::after {
                position: absolute;
                top: calc(50% - ($icon-size / 2));
                right: space(2x);
                width: $icon-size;
                height: $icon-size;
                content: url('../../../../assets/images/icon-chevron-down.svg');
              }

              &[aria-expanded='true'] {
                &::after {
                  content: url('../../../../assets/images/icon-chevron-up.svg');
                }
              }
            }
          }
        }
      }
    }
  }

  // Primary Nav Menu

  .bsds-button-nav-back {
    z-index: $nav-back-z-index;
    justify-content: flex-start;
    width: 100%;
    box-shadow: $box-shadow-secondary;
    @include font-size($fs-base);

    &:hover,
    &:active {
      background-color: $neutral-100;
    }

    &:focus {
      @include focus-default-inset;
    }
  }

  .bsds-nav-menu-panels {
    position: relative;
    width: $panels-width;
    margin: auto;
    padding: $menu-padding;

    > :not(:last-child) {
      border-right: space(xxs) solid $border-color-subtle;
    }
  }

  .bsds-nav-menu-panel {
    display: none;
    width: $panels-width;
    margin-top: 0;

    .bsds-nav-menu-panel {
      left: 0;
    }

    .bsds-nav {
      display: block;
      margin: 0;
    }

    &:not(.bsds-nav-active-list) {
      > .bsds-nav {
        padding: 0;
      }

      > .bsds-nav > .bsds-nav-item:not(.bsds-nav-item-parent),
      > .bsds-nav > .bsds-nav-item-parent > .bsds-nav-link,
      > .bsds-nav-menu-panel-header {
        display: none;
      }
    }

    &:last-of-type {
      display: flex;
      flex-direction: column;
    }
  }

  .bsds-nav-menu-panel-header {
    border-bottom: space(xxs) solid $border-color-subtle;
    padding: space(lg) space(3x) space(4x);

    .bsds-nav-menu-panel-title {
      @extend .bsds-h3;
      margin-top: 0;
    }
  }

  .bsds-nav-menu-panel-header-link {
    display: inline-block;
    margin-top: space(3x);
  }

  .bsds-nav-item-parent {
    > .bsds-nav-link {
      width: 100%;
      text-align: left;

      &:hover,
      &:active {
        background: transparent;
        text-decoration: none;
      }

      &.active,
      &:hover,
      &:active {
        background: $neutral-95;
      }

      &[aria-expanded='true'] {
        .bsds-nav-link-description {
          color: $text-color-primary;
        }
      }

      &.current {
        .bsds-nav-link-text {
          @include font-family-base-heavy;
        }
      }

      .bsds-nav-link-text {
        position: relative;
        padding-right: calc($icon-size-sm + space(md)); // Padding + icon width + space between icon and text;

        &::after {
          position: absolute;
          top: calc(50% - ($icon-size-sm / 2));
          right: 0;
          width: $icon-size-sm;
          height: $icon-size-sm;
          background-image: url('../../../../assets/images/icon-chevron-right.svg');
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          content: '';
        }
      }

      .bsds-nav-link-description {
        width: 100%;
        margin-top: space(md);
        color: $neutral-40;
        text-align: left;
        @include font-size($fs-body-subtle);
        @include font-family-base-regular;
      }
    }
  }

  .bsds-nav-link-see-all {
    @include link-default;
    display: block;
    border-bottom: 0;
    padding: $nav-link-padding;
  }

  .bsds-nav-block {
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
    border-top: space(xxs) solid $border-color-subtle;
    padding: $menu-padding;

    .bsds-nav-link {
      border: 0;
      @include font-size($fs-body-subtle);
    }

    .bsds-dropdown {
      .bsds-dropdown-trigger {
        display: inline-flex;
        padding-right: space(md) + $icon-size-sm + space(lg);

        &[aria-expanded='true'],
        &:hover,
        &:active {
          background: transparent;
          color: $text-color-primary;
        }

        &::after {
          right: space(lg);
          width: $icon-size-sm;
          height: $icon-size-sm;
          background-color: $text-color-primary;
        }
      }
    }
  }

  .bsds-search-panel {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: $nav-search-z-index;
    display: none;
    width: 100%;
    margin: auto;
    border-top: space(xxs) solid $border-color-subtle;
    border-bottom: space(xxs) solid $border-color-subtle;

    &.open {
      display: block;
    }

    .bsds-form-search {
      padding: space(2x) space(3x);
    }
  }
}

.bsds-nav-header {
  border-top-width: space(xs);
  border-top-style: solid;
  border-right: 0;
  border-bottom: 0;
  border-left: 0;
  border-image-source: $gradient-brand;
  border-image-slice: 1;

  &:not(.is-constrained) {
    .bsds-nav-utility .bsds-nav,
    .bsds-nav-primary .bsds-nav-bar {
      padding: 0 space(md);
    }
  }
}

@mixin panel-settings($menu-width) {
  .bsds-nav-menu-panel {
    width: calc($menu-width / $num-panels);

    .bsds-nav-menu-panel {
      left: calc($menu-width / $num-panels);
    }

    &.has-header {
      left: 0;
      width: calc(($menu-width / $num-panels) * 2);

      .bsds-nav-menu-panel {
        left: calc(($menu-width / $num-panels) * 2);
        width: calc($menu-width / $num-panels);

        .bsds-nav-menu-panel {
          left: calc(($menu-width / $num-panels));
        }
      }
    }
  }
}

@media (min-width: $sm) {
  .bsds-nav-primary {
    .bsds-nav-bar {
      flex-direction: row;

      .bsds-nav-link-logo {
        margin: 0;
        padding: space(sm) space(2x);
      }
    }
  }
}

@media (min-width: $lg) {
  .bsds-nav-header {
    &.is-constrained {
      $panels-width-lg: 60rem; // NOTE: This is a one off size to match the layout widths.

      .bsds-nav-utility .bsds-nav,
      .bsds-nav-bar,
      .bsds-nav-menu-panels,
      .bsds-search-panel .bsds-form-search {
        width: $panels-width-lg;
      }

      .bsds-nav-menu {
        &:not(.intermediate) {
          .bsds-nav-menu-panels {
            @include panel-settings($panels-width-lg);
          }
        }
      }

      .bsds-nav-menu-panels {
        width: $panels-width-lg;
      }
    }
  }

  .bsds-nav-utility .bsds-nav,
  .bsds-nav-bar,
  .bsds-nav-menu-panels,
  .bsds-search-panel .bsds-form-search {
    margin-right: auto;
    margin-left: auto;
  }

  .bsds-nav-utility {
    display: block;
  }

  .bsds-nav-utility .bsds-nav-link,
  .bsds-nav-primary .bsds-nav-bar > .bsds-nav > .bsds-nav-item > .bsds-nav-link {
    @include font-size($fs-body-subtle);
  }

  .bsds-nav-primary {
    .bsds-search-panel {
      border-top: 0;
    }

    .bsds-nav-bar {
      position: static;

      .bsds-nav {
        .bsds-nav-item {
          &.bsds-nav-item-root {
            display: block;
          }

          &.bsds-nav-item-toggle {
            display: none;
          }

          &.bsds-nav-item-search {
            .bsds-nav-link {
              box-sizing: content-box;
              width: $icon-size;
              height: $icon-size;
              padding: space(2x);
              background-image: url('../../../../assets/images/icon-search.svg');
              background-position: center;
              background-repeat: no-repeat;
              background-size: $icon-size;

              &::after,
              &::before {
                display: none;
              }

              &:hover,
              &:focus,
              &[aria-expanded='true'] {
                background-color: $action-primary-95;
              }
            }

            .bsds-nav-link-search-text {
              @include visually-hidden;
            }
          }
        }
      }
    }

    .bsds-nav-menu {
      height: 60vh;
      border-top: space(xxs) solid $border-color-subtle;

      .bsds-nav {
        height: 100%;
        overflow-y: auto;
        padding: space(4x) 0 space(3x);
      }

      .bsds-nav-link {
        border: 0;
        word-wrap: break-word;
      }

      &:not(.intermediate) {
        .bsds-nav-menu-panels {
          @include panel-settings($panels-width);
        }
      }

      &.intermediate {
        .bsds-nav-menu-panel {
          width: 100%;

          &.has-header {
            grid-template-columns: 1fr 3fr;
          }
        }

        .bsds-nav {
          display: flex;
          flex-flow: column wrap;
          align-content: flex-start;
          align-items: flex-start;
        }
      }
    }

    .bsds-nav-menu-panels {
      height: 100%;

      > .bsds-nav-active-list {
        .bsds-nav-menu-panel {
          z-index: -1;
        }
      }

      .bsds-nav-menu-panel-header {
        border-right: space(xxs) solid $border-color-subtle;
        border-bottom: 0;
        padding: space(4x) space(4x) space(3x);
      }

      > .bsds-nav-menu-panel .bsds-nav-menu-panel .bsds-nav-menu-panel {
        .bsds-nav-link {
          @include font-size($fs-body-subtle);
        }
      }

      .bsds-nav-menu-panel {
        position: absolute;
        top: 0;
        display: block;
        height: 100%;
        border-bottom: 0;

        &:first-child {
          border-left: space(xxs) solid $border-color-subtle;
        }

        &:not(:first-child) {
          border-right: space(xxs) solid $border-color-subtle;
        }

        &.bsds-nav-list-history {
          z-index: $nav-list-z-index;

          > .bsds-nav {
            padding: space(4x) 0 space(3x);
          }

          > .bsds-nav > .bsds-nav-item:not(.bsds-nav-item-parent),
          > .bsds-nav > .bsds-nav-item-parent > .bsds-nav-link,
          > .bsds-nav-menu-panel-header {
            display: block;
          }
        }

        &.has-header {
          display: grid;
          grid-template-columns: 1fr 1fr;
        }
      }
    }

    .bsds-nav-link-see-all {
      @include font-size($fs-body-subtle);
    }

    .bsds-nav-block {
      display: none;
    }

    .bsds-button-nav-back {
      display: none;
    }
  }
}

@media (min-width: $xl) {
  .bsds-nav-header {
    &.is-constrained {
      $panels-width-xl: 71.25rem; // NOTE: This is a one off size to match the layout widths.

      .bsds-nav-utility .bsds-nav,
      .bsds-nav-bar,
      .bsds-search-panel .bsds-form-search {
        width: $panels-width-xl;
      }

      .bsds-nav-primary {
        .bsds-nav-menu:not(.intermediate) {
          .bsds-nav-menu-panels {
            @include panel-settings($panels-width-xl);
          }
        }

        .bsds-nav-menu-panels {
          width: $panels-width-xl;
        }
      }
    }
  }
}

@media (min-width: $xxl) {
  .bsds-nav-header {
    &.is-constrained {
      $panels-width-xxl: 82.5rem; // NOTE: This is a one off size to match the layout widths.
      .bsds-nav-utility .bsds-nav,
      .bsds-nav-bar,
      .bsds-search-panel .bsds-form-search {
        width: $panels-width-xxl;
      }

      .bsds-nav-primary {
        .bsds-nav-menu {
          &:not(.intermediate) {
            .bsds-nav-menu-panels {
              @include panel-settings($panels-width-xxl);
            }
          }
        }

        .bsds-nav-menu-panels {
          width: $panels-width-xxl;
        }
      }
    }
  }
}
