.demo-example
{
  margin-top: space(3x);
  border: 1px solid $neutral-00; // one-off to match markdown's background color
  padding: space(2x);
  background-image:
    linear-gradient(45deg, rgba($neutral-95, 0.5) 25%, transparent 25%),
    linear-gradient(135deg, rgba($neutral-95, 0.5) 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, rgba($neutral-95, 0.5) 75%),
    linear-gradient(135deg, transparent 75%, rgba($neutral-95, 0.5) 75%);
  background-size: 20px 20px;
  background-position: 0 0, 10px 0, 10px -10px, 0 10px;

  &.dark
  {
    border-bottom: 1px solid $neutral-00;
    background-color: $neutral-20;
    background-image:
      linear-gradient(45deg, rgba($neutral-00, 0.5) 25%, transparent 25%),
      linear-gradient(135deg, rgba($neutral-00, 0.5) 25%, transparent 25%),
      linear-gradient(45deg, transparent 75%, rgba($neutral-00, 0.5) 75%),
      linear-gradient(135deg, transparent 75%, rgba($neutral-00, 0.5) 75%);
  }

  &.demo-example-flex
  {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: space(2x);
  }

  > :first-child
  {
    margin-top: 0;
  }

  & .nav-tertiary
  {
    width: 100%;
  }
}

.u-margin-top-remove
{
  margin-top: 0 !important; // Important is used here to ensure utility class overrides existing styles
}

.demo-code
{
  markdown
  {
    pre[class*="language-"]
    {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: $border-radius;
      border-bottom-left-radius: $border-radius;
      margin: 0;
    }

    :not(pre) > code[class*="language-"]
    {
      border-radius: $border-radius;
    }
  }
}