.title
{
  margin-top: 0;
}

.datestamp
{
  margin-top: 0;
  @include font-size($fs-body-subtle);

  dt,
  dd
  {
    display: inline;
    font-weight: $font-weight-regular; 
  }

  dd
  {
    margin-left: space(md);
    margin-bottom: 0;
  }
}

.table-align-top
{
  table
  {
    td
    {
      vertical-align: top;
    }
  }
}

code 
{
  color: $code-snippet;
  word-wrap: break-word;
}

.twoColumn-lists
{
  display: flex;
  justify-content: space-between;
  flex-flow: column wrap;
  column-gap: space(4x);

  .twoColumn-list-block
  {
    flex: 1;
  }
}

@media (min-width: 992px) {
  .twoColumn-lists {
    flex-flow: row wrap;
  }
} 