.docs-title {
  margin-top: 0;
}

.docs-datestamp {
  margin-top: 0;
  @include font-size($fs-body-subtle);

  dt,
  dd {
    display: inline;
  }

  dd {
    margin-bottom: 0;
    margin-left: space(md);
  }
}

.docs-table-align-top {
  table {
    td {
      vertical-align: top;
    }
  }
}

code {
  color: $code-snippet;
  word-wrap: break-word;
}

.docs-list-flex {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  column-gap: space(4x);

  .docs-list-flex-item {
    flex: 1;
  }
}

.docs-table-responsive {
  overflow-x: auto;
}

@media (min-width: 992px) {
  .docs-list-flex {
    flex-flow: row wrap;
  }
}

.bsds-no-wrap {
  white-space: nowrap;
}
