// NOTE: changes to the swatch class names will need to be done in code and contentful (foundations > color)

@mixin swatch
{
  width: space(15x);
  height: space(6x);
  margin-top: space(3x);
}

.swatch
{
  // brand color range
  &-bsc-blue
  {
    @include swatch;
    background: $brand-primary;
  }

  // neutral range
  &-neutral-00
  {
    @include swatch;
    background: $neutral-00;
  }
  &-neutral-20
  {
    @include swatch;
    background: $neutral-20;
  }
  &-neutral-40
  {
    @include swatch;
    background: $neutral-40;
  }
  &-neutral-60
  {
    @include swatch;
    background: $neutral-60;
  }
  &-neutral-80
  {
    @include swatch;
    background: $neutral-80;
  }
  &-neutral-95
  {
    @include swatch;
    background: $neutral-95;
  }
  &-neutral-100
  {
    @include swatch;
    border: 1px solid black;
    background: $neutral-100;
  }

  // action color range
  &-action-primary-20
  {
    @include swatch;
    background: $action-primary-20;
  }
  &-action-primary-40
  {
    @include swatch;
    background: $action-primary-40;
  }
  &-action-primary-60
  {
    @include swatch;
    background: $action-primary-60;
  }
  &-action-primary-80
  {
    @include swatch;
    background: $action-primary-80;
  }
  &-action-primary-95
  {
    @include swatch;
    background: $action-primary-95;
  }

  // accent color ranges
  &-accent-primary-20
  {
    @include swatch;
    background: $accent-primary-20;
  }
  &-accent-primary-30
  {
    @include swatch;
    background: $accent-primary-30;
  }
  &-accent-primary-40
  {
    @include swatch;
    background: $accent-primary-40;
  }
  &-accent-primary-60
  {
    @include swatch;
    background: $accent-primary-60;
  }
  &-accent-primary-80
  {
    @include swatch;
    background: $accent-primary-80;
  }
  &-accent-primary-95
  {
    @include swatch;
    background: $accent-primary-95;
  }

  &-accent-secondary-20
  {
    @include swatch;
    background: $accent-secondary-20;
  }
  &-accent-secondary-40
  {
    @include swatch;
    background: $accent-secondary-40;
  }
  &-accent-secondary-60
  {
    @include swatch;
    background: $accent-caribbean;
  }
  &-accent-secondary-80
  {
    @include swatch;
    background: $accent-caribbean-light;
  }
  &-accent-secondary-95
  {
    @include swatch;
    background: $accent-secondary-95;
  }

  // feedback color ranges
  &-feedback-error-20
  {
    @include swatch;
    background: $feedback-error-darker;
  }
  &-feedback-error-40
  {
    @include swatch;
    background: $feedback-error-dark;
  }
  &-feedback-error-60
  {
    @include swatch;
    background: $feedback-error;
  }
  &-feedback-error-80
  {
    @include swatch;
    background: $feedback-error-light;
  }
  &-feedback-error-95
  {
    @include swatch;
    background: $feedback-error-lighter;
  }

  // gradients
  &-gradient-brand
  {
    @include swatch;
    background: $gradient-brand;
  }
  &-gradient-primary
  {
    @include swatch;
    background: $gradient-primary;
  }
  &-gradient-secondary
  {
    @include swatch;
    background: $gradient-secondary;
  }
  &-gradient-assertive
  {
    @include swatch;
    background: $gradient-assertive;
  }
  &-gradient-subtle
  {
    @include swatch;
    background: $gradient-subtle;
  }
}