.team-member-card
{
  display: flex;
  align-items: center;
  border-top: space(xxs) solid $neutral-80;
  padding: space(2x) 0;

  &:first-of-type
  {
    margin-top: space(4x);
  }

  &:last-of-type
  {
    border-bottom: space(xxs) solid $neutral-80;
  }

  img
  {
    width: space(8x);
    height: space(8x);
    margin: 0;
    border-radius: 50%;
  }

  .team-member
  {
    margin-left: space(4x);
  }

  .team-member-name
  {
    margin: 0;
    font-family: $font-family-base-heavy;
  }

  .team-member-title
  {
    margin: 0;
  }
}