// Text utility variables

$text-color-primary: $neutral-00;
$text-color-subtle: $neutral-40;
$text-color-disabled: $neutral-60;
$text-color-ghost: $neutral-100;
$text-color-action: $action-primary-40;

// Icon utility variables

$icon-size-sm: space(lg);

// Form utility variables

$field-control-margin-top: space(md);
