/* stylelint-disable declaration-empty-line-before */
@use 'sass:map';

// Gradient animation keyframes
@keyframes animated-gradient {
  0% {
    background-position: 100% 0;
  }

  100% {
    background-position: 0 0;
  }
}

@mixin linear-gradient($direction, $style) {
  background: linear-gradient($direction, $style);
}

@mixin border-gradient($direction, $style) {
  border-image-source: linear-gradient($direction, $style);
}

@mixin animated-gradient($style) {
  $animatedgradient: map.get($animatedgradients, $style);

  background: $animatedgradient;
  background-image: linear-gradient($vertical, $animatedgradient);
  background-size: 400% 100%;
  animation: animated-gradient 10s linear infinite;

  @if $style != $brand {
    background-size: 300% 100%;
  }

  @media (prefers-reduced-motion: reduce) {
    background-image: $animatedgradient;
    background-size: 100% 100%;
    animation: none;
  }
}
