/* stylelint-disable declaration-empty-line-before */
$gradient-accent-vertical: linear-gradient(
  180deg,
  $accent-primary-60,
  $action-primary-60
); // NOTE: accent gradient with different angle for tag

// Gradient color variables
$brand: $brand-primary, $accent-primary-60, $accent-secondary-60;
$primary: $accent-secondary-60, $accent-primary-40;
$secondary: $accent-primary-60, $accent-primary-20;
$accent: $action-primary-60, $accent-primary-60;
$assertive: $neutral-00, $action-primary-20;
$subtle: $neutral-95, $neutral-100 0%;

// Gradient direction variables
$degree-36: 36deg;
$degree-84: 84deg;
$degree-90: 90deg;
$degree-135: 135deg;
$degree-180: 180deg;
$degree-270: 270deg;
$degree-322: 322deg;

// Gradient animation keyframes
@keyframes animated-gradient {
  0% {
    background-position: 100% 0;
  }

  100% {
    background-position: 0 0;
  }
}

@mixin linear-gradient($direction, $style, $animated: false) {
  background: linear-gradient($direction, $style);

  @if $animated != false and $style == $brand {
    $gradient-brand-animated: $brand-primary, $accent-primary-60, $accent-secondary-60, $brand-primary,
      $accent-primary-60;

    background: $gradient-brand-animated;
    background-image: linear-gradient($degree-90, $gradient-brand-animated);
    background-size: 400% 100%;
    animation: animated-gradient 10s linear infinite;

    @media (prefers-reduced-motion: reduce) {
      background-image: $gradient-brand-animated;
      background-size: 100% 100%;
      animation: none;
    }
  } @else if $animated != false and $style == $primary {
    $gradient-primary-animated: $accent-secondary-60, $action-primary-40, $accent-secondary-60, $action-primary-40;

    background: $gradient-primary-animated;
    background-image: linear-gradient($degree-90, $gradient-primary-animated);
    background-size: 300% 100%;
    animation: animated-gradient 10s linear infinite;

    @media (prefers-reduced-motion: reduce) {
      background-image: $gradient-primary-animated;
      background-size: 100% 100%;
      animation: none;
    }
  } @else if $animated != false and $style == $secondary {
    $gradient-secondary-animated: $accent-primary-60, $action-primary-20, $accent-primary-60, $action-primary-20;

    background: $gradient-secondary-animated;
    background-image: linear-gradient($degree-90, $gradient-secondary-animated);
    background-size: 300% 100%;
    animation: animated-gradient 10s linear infinite;

    @media (prefers-reduced-motion: reduce) {
      background-image: $gradient-secondary-animated;
      background-size: 100% 100%;
      animation: none;
    }
  }
}

@mixin border-gradient($direction, $style, $animated: false) {
  border-image-source: linear-gradient($direction, $style);
}
