@import "/src/styles/abstracts/abstracts";
@import "/src/styles/base/base";
@import "/src/styles/utilities/utilities";

.ads-nav-wizard
{
  position: relative;
  padding: space(6x) space(8x);
  background-color: $neutral-100;
  box-shadow: 0 space(xs) 0.625rem 0 rgba($neutral-00, 0.2);

  .ads-nav-wizard-header
  {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-areas:
      'back preTitle .'
      'title title title'
      'description description description';
    text-align: center;
  }

  .ads-nav-back
  {
    grid-area: back;
    justify-self: start;
    @include font-size($fs-body-subtle);
  }

  .ads-pre-title
  {
    grid-area: preTitle;
    margin-top: 0;
    @include font-size($fs-body-subtle);
  }

  .ads-title
  {
    grid-area: title;
    margin-top: space(2x);
  }

  .ads-description
  {
    grid-area: description;
    margin-top: space(3x);
  }

  &::after
  {
    @include animated-brand-gradient;
    bottom: 0;
  }

  .ads-nav-menu
  {
    margin-top: space(4x);
    border-top: space(xxs) solid $border-color-subtle;
    padding-top: space(4x);
  }

  .ads-nav
  {
    display: block;
    margin-top: 0;
    list-style: none;
    padding: 0;

    &.ads-nav-active-list
    {
      display: grid;
      grid-template-columns: 1fr;
      grid-auto-flow: row;
      gap: space(2x) space(4x);
    }

    &:not(.ads-nav-active-list)
    {
      & > .ads-nav-item:not(.ads-nav-item-parent),
      & > .ads-nav-item-parent > .ads-nav-link
      {
        display: none;
      }
    }

    &.ads-nav-active-list
    {
      width: 100%;
    }
  }

  .ads-nav-item,
  .ads-nav-item-parent
  {
    margin-top: 0;
  }

  .ads-nav-item-parent
  {
    & > .ads-nav-link
    {
      display: flex;
      padding: 0;

      & > .ads-nav-link-text,
      & > .ads-nav-link-addon
      {
        padding: space(3x);
      }

      & > .ads-nav-link-addon
      {
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: stretch;
        color: $action-primary-40;
      }

      &:hover
      {
        text-decoration: none;

        & > .ads-nav-link-text
        {
          border: space(xxs) solid transparent;
          border-right: 0;
        }

        & > .ads-nav-link-addon
        {
          color: $neutral-100;
          background-color: $action-primary-40;
        }
      }

      &:active
      {
        font-family: $font-family-base-heavy;
      }
    }
  }

  .ads-nav-item
  {
    .ads-nav-link
    {
      &:hover
      {
        border: space(xxs) solid transparent;
        color: $action-primary-40;
        font-family: $font-family-base-heavy;
      }
    }
  }

  .ads-nav-item-overflow
  {
    grid-column-start: 1;
    grid-column-end: span 3;
    justify-self: end;
    align-self: end;
  }

  .ads-nav-link
  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border: 1px solid $border-color-subtle;
    padding: space(3x);
    width: 100%;
    height: 100%;
    text-align: left;
    @include link-navigation;

    &:hover
    {
      border: 0;
      box-shadow: 0 space(xxs) space(md) 0 rgba($neutral-00, 0.2);
    }

    &:focus
    {
      @include focus-default-inset;
    }
  }

  .ads-nav-link-back
  {
    justify-content: flex-start;
    padding-left: 0;
    @include font-size($fs-small);
    fill: $action-primary-40; // TODO: revisit in xdc-1892 (fill vs stroke here or in mixin)

    &:active
    {
      fill: $neutral-00;
    }
  }
}

@media (min-width: $lg)
{
  .ads-nav-wizard
  {
    .ads-nav-menu
    {
      border-top: 0;
      padding-top: 0;
    }

    .ads-nav
    {
      &.ads-nav-active-list
      {
        grid-template-columns: repeat(3, 1fr);

        &.has-one-col
        {
          .ads-nav-item
          {
            grid-column-start: 2;
          }
        }

        &.has-two-col
        {
          grid-template-columns: 1fr 1fr;
          max-width: 66.66%;
          margin: auto;
        }
      }
    }
  }
}