@import '~@boston-scientific/anatomy-tokens/lib/sass/tokens';

@import '/src/styles/abstracts/abstracts';
@import '/src/styles/base/base';
@import '/src/styles/utilities/utilities';

.bsds-nav-wizard {
  position: relative;
  box-shadow: $box-shadow-tertiary;
  padding: space(4x);
  background-color: $neutral-100;

  .bsds-nav-wizard-header {
    display: grid;
    grid-template-areas:
      'back'
      'breadcrumb'
      'title'
      'description';
    grid-template-columns: 1fr;
  }

  .bsds-button-nav-back {
    grid-area: back;
    justify-self: start;
    padding: 0;
    padding-left: calc(1em + space(md)); // 1em is icon size from bsds-button-nav-back styles in _buttons.scss

    &::before {
      left: 0;
    }
  }

  .bsds-nav-breadcrumb {
    grid-area: breadcrumb;
    margin-top: space(4x);
    @include font-size($fs-body-subtle);
  }

  .bsds-nav-title {
    grid-area: title;
    margin-top: space(2x);
  }

  .bsds-nav-description {
    grid-area: description;
    margin-top: space(3x);
  }

  &::after {
    @include animated-gradient-brand;
    bottom: 0;
  }

  .bsds-nav-wizard-menu {
    margin-top: space(4x);
    border-top: space(xs) solid $border-color-subtle;
    padding-top: space(4x);
  }

  .bsds-nav-item,
  .bsds-nav-item-parent {
    margin-top: 0;
  }

  .bsds-nav-link {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    border: space(xxs) solid $border-color-subtle;
    padding: space(3x);
    text-align: left;
    @include link-navigation;

    &:hover,
    &:active {
      border: space(xxs) solid $action-primary-40;
      background: initial;
    }

    &:focus {
      @include focus-default;
    }
  }

  .bsds-nav-item-parent {
    > .bsds-nav-link {
      display: flex;
      padding: 0;

      > .bsds-nav-link-text,
      > .bsds-nav-link-addon {
        padding: space(3x);
      }

      > .bsds-nav-link-addon {
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: stretch;
        color: $action-primary-40;
      }

      &:hover,
      &:active {
        text-decoration: none;

        > .bsds-nav-link-text {
          border-right: 0;
        }

        > .bsds-nav-link-addon {
          background-color: $action-primary-40;
          color: $neutral-100;
        }
      }
    }
  }

  .bsds-nav-link-back {
    justify-content: flex-start;
    padding-left: 0;
    @include font-size($fs-small);
    fill: $action-primary-40; // TODO: ADS-341 revisit fill vs stroke here or in mixin

    &:active {
      fill: $neutral-00;
    }
  }

  .bsds-nav {
    display: block;
    margin-top: 0;
    padding: 0;
    list-style: none;

    &.bsds-nav-active-list {
      display: grid;
      grid-auto-flow: row;
      grid-template-columns: 1fr;
      gap: space(2x) space(4x);
    }

    &:not(.bsds-nav-active-list) {
      /* stylelint-disable scss/selector-nest-combinators */
      > .bsds-nav-item:not(.bsds-nav-item-parent),
      > .bsds-nav-item-parent > .bsds-nav-link {
        /* stylelint-enable scss/selector-nest-combinators */
        display: none;
      }
    }
  }
}

@media (min-width: $breakpoint-lg-min) {
  .bsds-nav-wizard {
    padding: space(6x) space(8x);

    .bsds-nav-wizard-header {
      display: grid;
      grid-template-areas:
        'back breadcrumb .'
        'title title title'
        'description description description';
      grid-template-columns: 1fr auto 1fr;
      text-align: center;
    }

    .bsds-nav-breadcrumb {
      margin-top: 0;
    }

    .bsds-nav-wizard-menu {
      border-top: 0;
      padding-top: 0;
    }

    .bsds-nav {
      &.bsds-nav-active-list {
        grid-template-columns: repeat(3, 1fr);

        &.has-one-col {
          .bsds-nav-item {
            grid-column-start: 2;
          }
        }

        &.has-two-col {
          grid-template-columns: 1fr 1fr;
          max-width: 66.66%;
          margin: auto;
        }
      }
    }

    .bsds-nav-item-overflow {
      grid-column: 1 / span 3;
      justify-self: end;
      align-self: end;
    }
  }
}
