@import '/src/styles/abstracts/vars-type';
@import '/src/styles/base/space';

.page-title
{
  margin-top: 0;
}

.page-publish-date
{
  margin-top: 0;

  dt, dd
  {
    display: inline;
    font-weight: $font-weight-regular; // TODO: delete this when we rip out bootstrap
  }

  dd
  {
    margin-left: space(md);
    margin-bottom: 0;
  }
}