$bsds-breadcrumb-divider: url('../../assets/images/icon-slash.svg');

.bsds-breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: space(sm) space(md);
}

.bsds-breadcrumb-item {
  &.bsds-breadcrumb-item {
    margin-top: 0; // TODO: ADS-101 reduce specificity when we revisit default spacing on elements
    @include font-size($fs-body-subtle);

    &:not(:first-child) {
      display: flex;
      align-items: center;

      &::before {
        display: inline-block;
        width: 1ch;
        height: 1em;
        margin-right: space(md);
        background-image: $bsds-breadcrumb-divider;
        background-position: center;
        background-repeat: no-repeat;
        content: '';
      }
    }

    &[aria-current] {
      @include font-family-base-heavy;
    }
  }
}

.bsds-link {
  &.bsds-breadcrumb-link {
    @include link-navigation;
  }
}

.bsds-breadcrumb-overflow {
  .bsds-dropdown {
    .bsds-dropdown-trigger {
      &.has-icon {
        border-radius: 0;
        padding: space(lg) space(sm);

        &::after {
          display: none;
        }
      }
    }
  }
}
