.bsds-button {
  @include button-default;

  &-assertive {
    @include button-assertive;
  }

  &-subtle {
    @include button-subtle;
  }

  &-ghost {
    @include button-ghost;
  }

  &-icon {
    @include button-icon;
  }

  &-nav-back {
    $icon-size: 1em;

    @include button-subtle;
    position: relative;
    padding-left: calc(space(2x) + $icon-size + space(md)); // Padding + icon width + space between icon and text

    &::before {
      position: absolute;
      top: calc(50% - ($icon-size / 2));
      left: space(2x);
      width: $icon-size;
      height: $icon-size;
      background: $action-primary-40;
      content: '';
      mask: url('../../assets/images/icon-chevron-left.svg') no-repeat 50% 50%;
      mask-size: cover;
    }

    &:not([disabled]) {
      &:hover,
      &:active {
        background: transparent;
        color: $action-primary-40;
        text-decoration-line: underline;
        text-decoration-thickness: space(xs);
      }
    }
  }
}

// Link buttons
// This is not recommended -- we should use button styles on button elements, and link styles on link elements
// NOTE: these will need to be updated if we modify the link mixins

a {
  &[class*='bsds-button'] {
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
    }
  }

  &.bsds-button-assertive {
    color: $neutral-100;
  }

  &.bsds-button-subtle {
    color: $action-primary-40;

    &:hover {
      @include button-hover;
    }
  }

  &.bsds-button,
  &.bsds-button-subtle {
    &:visited {
      color: $action-primary-40;
    }
  }

  &.bsds-button-ghost,
  &.bsds-button-assertive {
    &:visited {
      color: $neutral-100;
    }
  }
}
