.bsds-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  &-content {
    display: contents;

    [class*='bsds-tag'] {
      &:not(:first-child) {
        display: none;
      }
    }
  }

  &-ghost {
    @extend .bsds-card;
    color: $text-color-ghost;
  }

  &-border-light {
    @extend .bsds-card;
    box-sizing: border-box;
    border: $border-width-xxs solid $border-color-subtle;
    padding: space(3x);
    background: $neutral-100;
  }

  &-border-ghost {
    @extend .bsds-card-ghost;
    @extend .bsds-card-border-light;
    background: rgba($neutral-100, 0.2);
  }

  &-title {
    margin: 0;
    color: inherit;
  }

  &-description {
    margin: space(2x) 0 0 0;
  }

  &-gradient {
    &:is(.bsds-card-border-light, .bsds-card-border-ghost) {
      &:not(.bsds-card-shadow) {
        &::before {
          bottom: 0;
          z-index: 1;
          opacity: 0;
          content: '';
          transition: opacity 0.4s linear;
          @include linear-gradient($direction: $degree-90, $style: $brand, $animated: true);
          @include decorative-bar;
        }

        &:hover,
        &:focus {
          &::before {
            opacity: 1;
          }
        }
      }
    }
  }

  &-shadow {
    &:is(.bsds-card-border-light, .bsds-card-border-ghost) {
      &:not(.bsds-card-gradient) {
        box-shadow: $box-shadow-secondary;

        &:hover {
          box-shadow: $box-shadow-tertiary;
        }
      }
    }
  }
}

.bsds-icon-8x {
  ~ .bsds-card-title {
    margin: space(2x) 0 0 0;
  }
}

.bsds-card-with-image {
  .bsds-card-title {
    margin-top: space(md);
  }

  .bsds-icon-8x {
    display: none;
  }
}

[class*='bsds-card'] {
  [class*='bsds-link'] {
    margin: space(2x) 0 0 0;
  }

  [class*='bsds-tag'] {
    width: max-content;
    margin: 0;

    ~ .bsds-card-title {
      margin: space(lg) 0 0 0;
    }
  }

  &:not(.bsds-product-card) {
    [class*='bsds-card-title'] {
      ~ .bsds-card-description {
        z-index: 1;
      }
    }
  }
}

.link-hitbox {
  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: block;
    content: '';
  }

  &:focus {
    @include focus-default;
    width: max-content;
  }
}
