$icon-size: 1em;

.bsds-dropdown {
  position: relative;
  display: inline-block;

  .bsds-dropdown-trigger {
    padding-right: calc(space(lg) + $icon-size + space(3x)); // gap + icon width + padding

    &.has-icon {
      padding-right: calc(space(md) + $icon-size + space(lg)); // gap + icon width + padding
      padding-left: space(lg);

      &::after {
        right: space(lg);
      }
    }

    &::after {
      position: absolute;
      right: space(3x);
      width: $icon-size;
      height: $icon-size;
      content: '';
      mask: url('../../assets/images/icon-chevron-down.svg') no-repeat 50% 50%;
      mask-size: cover;
    }

    &.bsds-button {
      &::after {
        background: $action-primary-40;
      }

      &[aria-expanded='true'] {
        @include button-active;
      }

      &:hover,
      &:active,
      &[aria-expanded='true'] {
        &::after {
          background: $neutral-100;
        }
      }

      &-assertive {
        &::after {
          background: $neutral-100;
        }

        &[aria-expanded='true'] {
          @include button-active;
        }
      }

      &-subtle {
        &::after {
          background: $action-primary-40;
        }

        &[aria-expanded='true'] {
          @include button-active;
        }

        &:hover,
        &:active,
        &[aria-expanded='true'] {
          &::after {
            background: $neutral-100;
          }
        }
      }

      &-ghost {
        &::after {
          background: $neutral-100;
        }

        &[aria-expanded='true'] {
          @include button-ghost-active;
        }
      }
    }

    &[aria-expanded='true'] {
      &::after {
        transform: rotate(180deg);
      }
    }
  }

  .bsds-dropdown-menu {
    position: absolute;
    z-index: 70;
    min-width: 10rem; // NOTE: This is a one off size.
    margin: 0;
    box-shadow: $box-shadow-secondary;
    padding: 0;
    background: $neutral-100;
    list-style: none;

    &.right {
      right: 0;
    }

    &.full {
      right: 0;
      left: 0;
    }

    .bsds-dropdown-item {
      margin-top: 0;
    }

    .bsds-dropdown-group-name {
      @include font-family-base-heavy;
    }

    .bsds-button,
    .bsds-link {
      @include font-family-base-regular;
    }

    .bsds-button,
    .bsds-link,
    .bsds-dropdown-group-name {
      position: relative;
      display: block;
      width: 100%;
      border: 0;
      padding: space(lg) space(2x);
      color: $text-color-primary;
      text-align: inherit;
      text-decoration: none;
      @include font-size($fs-body);

      &:focus {
        @include focus-default-inset;

        &::before {
          position: absolute;
          top: space(xs);
          right: space(xs);
          bottom: space(xs);
          left: space(xs);
          border: $border-width-xs solid $border-color-ghost;
          content: '';
        }
      }
    }

    .bsds-dropdown-item-highlighted {
      border-top: $border-width-xxs solid $border-color-subtle;
      padding: space(lg) 0;

      .bsds-button,
      .bsds-link {
        color: $text-color-action;
        @include font-family-base-heavy;
      }
    }

    .bsds-button {
      &:hover,
      &:active {
        color: $text-color-ghost;
      }

      &:hover {
        background: $action-primary-40;
      }

      &:active {
        background: $action-primary-20;
      }
    }

    .bsds-link {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
