%field-control {
  position: relative;
  width: 100%;
  margin-top: $field-control-margin-top;
  border: $border-width-xxs solid $border-color-assertive;
  padding: space(lg) space(2x);
  background: $neutral-100;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;

  &::placeholder {
    color: $text-color-subtle;
  }

  &:focus {
    @include focus-default;
  }

  &:disabled {
    border-color: $border-color-subtle;
    background: $neutral-95;

    &:hover {
      cursor: not-allowed;
    }
  }

  &:not(:disabled) {
    &[aria-invalid='true'] {
      &:focus {
        @include focus-invalid;
      }
    }
  }
}

.bsds-form {
  width: 100%;
}

.bsds-fieldset {
  display: flex;
  flex-direction: column;
  border: 0;
  padding-right: 0;
  padding-left: 0;
}

.bsds-legend {
  @include font-family-base-heavy;
  @include font-size($fs-body);
}

.bsds-field {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.bsds-field-label {
  width: 100%;
}

.bsds-field-label-text {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.bsds-field-error {
  display: flex;
  align-items: center;
  margin: space(md) 0 0 0;
  color: $feedback-error-40;

  &::before {
    display: inline-block;
    flex-shrink: 0;
    align-self: flex-start;
    width: space(3x);
    height: space(3x);
    margin-right: space(md);
    background-image: url('../../assets/images/icon-error.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    content: '';
  }
}

.bsds-field-help-text {
  margin: space(sm) 0 0 0;
  color: $text-color-subtle;
  @include font-size($fs-body-subtle);
}

.bsds-field-required-text {
  @extend .bsds-field-help-text;
}

// TODO: ADS-334 Should we have spacing here? If not, can we get rid of class bsds-margin-top-remove?
.bsds-form-control {
  margin-top: space(4x);
}

@media (min-width: $breakpoint-lg-min) {
  .bsds-field-error {
    &::before {
      transform: translateY(space(xs));
    }
  }
}
