.bsds-form {
  width: 100%;
}

.bsds-fieldset {
  display: flex;
  flex-direction: column;
  border: 0;
  padding-right: 0;
  padding-left: 0;
}

.bsds-legend {
  @include font-family-base-heavy;
  @include font-size($fs-body);
}

.bsds-input {
  width: 100%;
}

.bsds-input-error {
  display: flex;
  align-items: center;
  margin: space(md) 0 0 0;
  color: $feedback-error-40;

  &::before {
    display: inline-block;
    flex-shrink: 0;
    align-self: flex-start;
    width: space(3x);
    height: space(3x);
    margin-right: space(md);
    background-image: url('../../assets/images/icon-error.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    content: '';
  }
}

.bsds-input-help-text {
  margin: space(sm) 0 0 0;
  color: $text-color-subtle;
  @include font-size($fs-body-subtle);
}

// TODO: ADS-334 Should we have spacing here? If not, can we get rid of class bsds-margin-top-remove?
.bsds-form-control {
  margin-top: space(4x);
}

@media (min-width: $breakpoint-lg-min) {
  .bsds-input-error {
    &::before {
      transform: translateY(space(xs));
    }
  }
}
