/* stylelint-disable scss/selector-nest-combinators */

@mixin hover-reset {
  &:hover {
    + .bsds-input-radio-label {
      box-shadow: none;
      border-color: transparent;
    }
  }
}

.bsds-fieldset-button-group {
  @extend .bsds-fieldset;
  flex-flow: row wrap;
  gap: space(lg);

  .bsds-legend {
    @include font-family-base-regular;

    ~ .bsds-field {
      width: max-content;

      &:not(:first-child) {
        margin-top: space(lg);
      }
    }
  }

  .bsds-input-radio {
    + .bsds-input-radio-label {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      min-width: space(8x);
      border-radius: space(3x);
      border-width: space(xxs);
      border-style: solid;
      border-color: inherit;
      padding: space(md) space(3x);
      background: $neutral-100;
      color: $text-color-subtle;
      font-size: $ffs-body-assertive;
      line-height: inherit;
      text-align: center;
      @include font-family-base-regular;

      &::before,
      &::after {
        display: none;
      }

      &-unavailable {
        @extend .bsds-input-radio-label;
        border-style: dashed;
      }
    }

    &:not(:disabled) {
      &:hover,
      &:active {
        + .bsds-input-radio-label {
          border-color: transparent;
          background: $action-primary-20;
          color: $text-color-ghost;
          text-decoration: none;
          cursor: pointer;
        }
      }

      &:focus,
      &:focus:checked {
        + .bsds-input-radio-label {
          @include focus-default;
          box-shadow: inset 0 0 0 space(xxs) $border-color-action;
        }
        @include hover-reset;
      }
    }

    &:checked,
    &[aria-checked='true'] {
      + .bsds-input-radio-label {
        box-shadow: inset 0 0 0 space(xxs) $border-color-action;
        outline: none;
        border-style: solid;
        border-color: $border-color-action;
        color: $neutral-00;
      }
      @include hover-reset;
    }

    &:disabled {
      + .bsds-input-radio-label {
        border-style: solid;
        border-color: $border-color-subtle;
        background: $neutral-95;
        color: $text-color-subtle;
        cursor: not-allowed;

        &-unavailable {
          border-style: dashed;
        }
      }

      &:checked,
      &[aria-checked='true'] {
        + .bsds-input-radio-label {
          box-shadow: inset 0 0 0 space(xxs) $border-color-subtle;
          border-color: $border-color-subtle;
        }
      }
    }
  }

  &[aria-invalid='true'] {
    .bsds-legend {
      ~ .bsds-field {
        margin-top: 0;

        .bsds-input-radio {
          &:not(:disabled) {
            + .bsds-input-radio-label {
              border-color: $feedback-error-40;
            }
            @include hover-reset;

            &:focus,
            &:focus:checked {
              + .bsds-input-radio-label {
                @include focus-invalid;
                box-shadow: inset 0 0 0 space(xxs) $border-color-error;
              }
              @include hover-reset;
            }

            &:checked,
            &[aria-checked='true'] {
              + .bsds-input-radio-label {
                box-shadow: inset 0 0 0 space(xxs) $border-color-error;
                border-color: $border-color-error;
              }
              @include hover-reset;
            }
          }
        }
      }
    }
  }

  .bsds-field-error {
    width: 100%;
    margin: 0;

    + .bsds-field-help-text {
      margin-top: 0;
    }
  }

  .bsds-field-help-text {
    width: 100%;
    margin-top: space(lg);
  }
}
