.bsds-fieldset-button-group {
  @extend .bsds-fieldset;
  flex-flow: row wrap;
  gap: space(lg);

  &:not([aria-invalid='true']) {
    gap: space(xs) space(lg);
  }

  .bsds-legend {
    @include font-family-base-regular;

    ~ .bsds-field {
      width: max-content;
      margin-top: space(lg);

      &:not(:first-child) {
        .bsds-input-radio-control {
          min-width: space(4x);
          margin-top: 0;
        }
      }
    }
  }

  .bsds-input-radio {
    + .bsds-input-radio-label {
      @include button-default;
      @include font-family-base-regular;
      outline: space(xxs) solid $neutral-40;
      border-radius: space(3x);
      border: $border-width-xs solid transparent;
      padding: space(md) space(3x);
      color: $text-color-subtle;

      &:hover,
      &:active {
        outline: space(xxs) solid $action-primary-20;
      }

      &::before,
      &::after {
        display: none;
      }

      &-unavailable {
        @extend .bsds-input-radio-label;
        outline-style: dashed;
      }
    }

    &:checked,
    &[aria-checked='true'] {
      + .bsds-input-radio-label {
        outline: none;
        border-color: $border-color-action;
        color: $neutral-00;
      }
    }
    /* stylelint-disable scss/selector-nest-combinators */
    &:focus,
    &:focus:checked {
      + .bsds-input-radio-label {
        @include focus-default;
      }
    }

    &:disabled {
      + .bsds-input-radio-label {
        outline-color: $neutral-60;
        border-color: transparent;
        background: $neutral-95;
        color: $text-color-subtle;
        cursor: not-allowed;

        &:hover,
        &:active {
          @extend .bsds-input-radio-label;
        }

        &-unavailable {
          &:hover,
          &:active {
            outline-style: dashed;
          }
        }
      }

      &:checked,
      &[aria-checked='true'] {
        + .bsds-input-radio-label {
          border-width: $border-width-xs;
          border-color: $neutral-60;

          &:hover,
          &:active {
            border-color: $neutral-60;
            background: $neutral-95;
            color: $text-color-subtle;
          }
        }
      }
    }
  }

  &[aria-invalid='true'] {
    .bsds-legend {
      ~ .bsds-field {
        margin-top: 0;

        .bsds-input-radio-control {
          .bsds-input-radio-label {
            outline-color: $feedback-error-40;

            &:hover,
            &:active {
              outline-color: $action-primary-20;
              border-color: $action-primary-20;
            }
          }

          .bsds-input-radio {
            &:checked {
              + .bsds-input-radio-label {
                border-color: $border-color-error;

                &:hover,
                &:active {
                  border-color: $action-primary-20;
                }
              }
            }

            &:focus,
            &:focus:checked {
              + .bsds-input-radio-label {
                @include focus-invalid;
              }
            }
          }
        }
      }
    }
  }

  .bsds-field-error {
    width: 100%;
    margin: 0;

    + .bsds-field-help-text {
      margin-top: 0;
    }
  }

  .bsds-field-help-text {
    width: 100%;
    margin-top: space(lg);
  }
}
