.bsds-fieldset-button-group {
  @extend .bsds-fieldset;
  flex-flow: row wrap;
  gap: space(lg);

  &:not([aria-invalid='true']) {
    gap: space(xs) space(lg);
  }

  .bsds-legend {
    @include font-family-base-regular;

    ~ .bsds-field {
      width: max-content;

      &:not(:first-child) {
        min-width: space(4x);
        margin-top: space(lg);
      }
    }
  }

  .bsds-input-radio {
    + .bsds-input-radio-label {
      @include button-default;
      @include font-family-base-regular;
      min-width: space(8x);
      border-radius: space(3x);
      border-width: space(xxs);
      border-style: solid;
      border-color: inherit;
      padding: space(md) space(3x);
      color: $text-color-subtle;

      &::before,
      &::after {
        display: none;
      }

      &:hover,
      &:active {
        border-color: transparent;
      }

      &-unavailable {
        @extend .bsds-input-radio-label;
        border-style: dashed;
      }
    }

    &:checked,
    &[aria-checked='true'] {
      + .bsds-input-radio-label {
        box-shadow: inset 0 0 0 space(xxs) $border-color-action;
        outline: none;
        border-color: $border-color-action;
        color: $neutral-00;

        &:hover {
          box-shadow: none;
        }

        &-unavailable {
          border-style: solid;
        }
      }
    }
    /* stylelint-disable scss/selector-nest-combinators */
    &:focus,
    &:focus:checked {
      + .bsds-input-radio-label {
        @include focus-default;
        box-shadow: inset 0 0 0 space(xxs) $border-color-action;

        &:hover {
          box-shadow: none;
        }
      }
    }

    &:disabled {
      + .bsds-input-radio-label {
        border-color: $neutral-60;
        background: $neutral-95;
        color: $text-color-subtle;
        cursor: not-allowed;

        &:hover,
        &:active {
          @extend .bsds-input-radio-label;
        }

        &-unavailable {
          &:hover,
          &:active {
            border-style: dashed;
          }
        }
      }

      &:checked,
      &[aria-checked='true'] {
        + .bsds-input-radio-label {
          box-shadow: none;
          border-width: $border-width-xs;
          border-color: $neutral-60;

          &:hover,
          &:active {
            box-shadow: none;
            border-color: $neutral-60;
            background: $neutral-95;
            color: $text-color-subtle;
          }

          &-unavailable {
            &:hover,
            &:active {
              border-style: dashed;
            }
          }
        }
      }
    }
  }

  &[aria-invalid='true'] {
    .bsds-legend {
      ~ .bsds-field {
        margin-top: 0;

        .bsds-input-radio-label {
          border-color: $feedback-error-40;

          &::before {
            background-color: transparent;
          }

          &:hover,
          &:active {
            border-color: $action-primary-20;
          }
        }

        .bsds-input-radio {
          &:checked {
            + .bsds-input-radio-label {
              box-shadow: inset 0 0 0 space(xxs) $border-color-error;
              border-color: $border-color-error;

              &:hover,
              &:active {
                box-shadow: none;
                border-color: $action-primary-20;
              }
            }
          }

          &:focus,
          &:focus:checked {
            + .bsds-input-radio-label {
              @include focus-invalid;
              box-shadow: inset 0 0 0 space(xxs) $border-color-error;

              &:hover {
                box-shadow: none;
              }
            }
          }
        }
      }
    }
  }

  .bsds-field-error {
    width: 100%;
    margin: 0;

    + .bsds-field-help-text {
      margin-top: 0;
    }
  }

  .bsds-field-help-text {
    width: 100%;
    margin-top: space(lg);
  }
}
