.bsds-input {
  @extend %field-control;

  &:read-only {
    background: $neutral-95;

    &:hover {
      cursor: not-allowed;
    }

    &:focus {
      @include focus-readonly;
    }
  }

  &:not(:disabled) {
    &:not(:read-only) {
      &[aria-invalid='true'] {
        border-color: $border-color-error;

        &:hover,
        &:focus {
          border-color: $border-color-error;
        }
      }

      &:hover,
      &:focus {
        border-color: $border-color-action;
      }
    }
  }
}
