.bsds-link {
  @include link-default;

  &-subtle {
    @include link-subtle;
  }

  &-ghost {
    @include link-ghost;
  }

  &-nav {
    @include link-navigation;
  }

  &-cta {
    @include button-default;
    text-decoration: none;

    .bsds-link-cta-icon {
      width: $ffs-body-assertive;
      margin-left: space(md);
    }
  }
}
