.bsds-link {
  @include link-default;

  &-subtle {
    @include link-subtle;
  }

  &-ghost {
    @include link-ghost;
  }

  &-nav {
    @include link-navigation;
  }

  &-cta {
    @include button-default;
    text-decoration: none;

    .bsds-link-cta-icon {
      width: $ffs-body-assertive;
      margin-left: space(md);
    }
  }
}

// Button links
// This is not recommended -- we should use button styles on button elements, and link styles on link elements
// NOTE: these will need to be updated if we modify the link mixins
