@mixin icon-background($icon-size, $alignment: right) {
  position: absolute;
  box-sizing: content-box;

  // These are one offs for sizing/aligning icons
  width: 1em;
  height: 1em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: $icon-size;
  content: '';

  @if $alignment == left {
    left: 0;
  } @else if $alignment == right {
    right: 0;
  }
}

.bsds-nav-secondary {
  position: relative;
  z-index: 40;
  grid-area: nav-secondary;
  width: 100%;
  transition: width 0.25s ease-out;

  .bsds-nav-secondary-menu-trigger {
    position: relative;
    display: block;
    width: 100%;
    border: 0;
    border-bottom: $border-width-xxs solid $border-color-subtle;
    padding-right: space(4x);
    padding-left: space(4x);
    color: $text-color-primary;
    text-align: left;

    &:hover,
    &:active {
      border-color: $border-color-subtle;
      background: $neutral-100;
      color: initial;
    }

    &:focus {
      @include focus-default-inset;
    }

    &::after {
      @include icon-background($icon-size-sm);
      top: 0;
      padding: space(2x) space(4x);
      background-image: url('../../assets/images/icon-chevron-down.svg');
    }

    &[aria-expanded='true'] {
      &::after {
        transform: rotate(180deg);
      }
    }
  }

  .bsds-nav-secondary-menu {
    position: absolute;
    display: none;
    width: 100%;
    border-bottom: $border-width-xxs solid $border-color-subtle;
    padding: space(lg) space(2x);
    background: $neutral-100;

    &.is-expanded {
      display: block;
    }
  }

  .bsds-nav-item,
  .bsds-nav-item-parent {
    margin-top: 0;
  }

  .bsds-button-nav-back {
    display: flex;
    justify-content: flex-start;
    @include font-size($fs-small);
  }

  .bsds-nav-link {
    position: relative;
    display: flex;
    justify-content: space-between;
    border-left: 0;
    padding: space(lg) space(2x);
    @include link-navigation;
    @include font-size($fs-body-subtle);

    &.is-active {
      &::before {
        position: absolute;
        left: 0;
        height: space(3x);
        border-left: $border-width-sm solid $border-color-assertive;
        content: '';
      }
    }
  }

  .bsds-nav-link,
  .bsds-button-nav-back {
    align-items: center;
    width: 100%;
    text-align: left;

    &:focus {
      @include focus-default-inset;
    }
  }

  .bsds-nav-item-parent {
    > .bsds-nav-link {
      position: relative;

      &:hover,
      &:active {
        background: transparent;
      }

      &::after {
        @include icon-background($icon-size-sm);
        padding: space(lg);
        background-image: url('../../assets/images/icon-chevron-right.svg');
      }
    }
  }

  .bsds-nav {
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;

    &:not(.bsds-nav-active-list) {
      /* stylelint-disable scss/selector-nest-combinators */
      > .bsds-nav-item:not(.bsds-nav-item-parent),
      > .bsds-nav-item-parent > .bsds-nav-link {
        /* stylelint-enable scss/selector-nest-combinators */
        display: none;
      }
    }

    &.bsds-nav-active-list {
      width: 100%;
    }
  }
}

@media (min-width: $breakpoint-lg-min) {
  .bsds-nav-secondary {
    .bsds-nav-secondary-menu-trigger {
      display: none;
    }

    .bsds-nav-secondary-menu {
      position: relative;
      display: block;
      border-bottom: 0;
      padding: 0;
    }
  }
}
