.bsds-skip-link {
  position: absolute;
  top: -100%;
  z-index: 1000;
  display: flex;
  justify-content: center;
  padding: space(md);
  background: $neutral-95;

  &:focus {
    position: relative;
    top: 0;
    @include focus-default-inset;
  }
}
