@mixin tag-default {
  display: block;
  @include font-family-base-heavy;
  @include font-size($fs-small);
  text-transform: uppercase;
  letter-spacing: $letter-spacing-increase;
}

@mixin tag-assertive {
  @include tag-default;
  display: inline;
  padding: space(md) space(lg);
  box-decoration-break: clone;
}

@mixin tag-accent {
  @include tag-default;
  border-width: 0 0 0 $border-width-sm;
  border-style: solid;
  padding: space(xs) 0 space(xs) space(md);
}

.bsds-tag {
  @include tag-default;

  &-ghost {
    @include tag-default;
    color: $text-color-ghost;
  }

  &-accent {
    @include tag-accent;
    @include border-gradient($direction: $horizontal, $style: $accent);
    border-image-slice: 1;
  }

  &-accent-ghost {
    @include tag-accent;
    border-color: $accent-secondary-60;
    color: $text-color-ghost;
  }

  &-assertive {
    @include tag-assertive;
    background: $action-primary-20;
    color: $text-color-ghost;
  }

  &-assertive-ghost {
    @include tag-assertive;
    background: $neutral-100;
    color: $text-color-primary;
  }

  &-featured {
    @include tag-assertive;
    background: $accent-primary-30;
    color: $text-color-ghost;
  }

  &-featured-ghost {
    @include tag-assertive;
    background: $accent-primary-80;
    color: $text-color-primary;
  }

  &-subtle {
    @include tag-assertive;
    @include font-family-base-regular;
    padding: space(sm) space(md);
    background: $neutral-95;
    text-transform: none;
    letter-spacing: unset;
  }

  &-subtle-ghost {
    @extend .bsds-tag-subtle;
    background: $neutral-40;
    color: $text-color-ghost;
  }
}
