.bsds-textarea {
  @extend %field-control;
  max-width: 100%;
  min-width: calc(space(12x) * 3 + space(3x));
  min-height: space(12x);
  border-color: $neutral-40;

  &::placeholder {
    color: $text-color-subtle;
  }

  &:hover,
  &:active {
    border-color: $border-color-action;
  }

  &:read-only {
    background: $neutral-95;

    &:hover {
      border-color: $border-color-action;
      cursor: not-allowed;
    }

    &:focus {
      @include focus-readonly;
    }
  }

  &:disabled {
    background: $neutral-95;

    &:hover {
      border-color: $border-color-subtle;
      cursor: not-allowed;
    }
  }

  &:not(:disabled) {
    &:not(:read-only) {
      &[aria-invalid='true'] {
        border-color: $border-color-error;

        &:hover,
        &:focus {
          border-color: $border-color-error;
        }
      }

      &:hover,
      &:focus {
        border-color: $border-color-action;
      }
    }
  }
}
