.bsds-textarea {
  @extend %field-control;
  max-width: 100%;
  min-height: space(12x);

  &:hover,
  &:active {
    &:not(:read-only) {
      border-color: $border-color-action;
    }
  }

  &:read-only {
    background: $neutral-95;

    &:hover {
      cursor: not-allowed;
    }

    &:focus {
      @include focus-readonly;
    }
  }

  &:not(:disabled),
  &:not(:read-only) {
    &[aria-invalid='true'] {
      border-color: $border-color-error;
    }
  }

  &-autoresize {
    @extend .bsds-textarea;
    resize: none;
  }
}
