@import "/src/styles/abstracts/abstracts";
@import "/src/styles/base/base";

.nav-secondary
{
  grid-area: nav-secondary;
  z-index: 10;
  overflow-x: auto;
  background: $neutral-100;
  white-space: nowrap;
  transition: width .25s ease-out;

  .nav
  {
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 0;
  }

  .nav-item.nav-item
  {
    display: inline-flex;
    margin-top: 0;
  }

  .nav-link
  {
    display: inline-flex;
    align-items: center;
    border-bottom: space(xs) solid $neutral-80;
    padding: space(md) space(2x);
    @include link-navigation;
    text-align: center;

    &:focus
    {
      @include focus-default-inset;
    }

    &.active
    {
      border-color: $border-color-accent;
    }
  }
}


@media (min-width: 992px)
{
  .nav-secondary
  {
    height: 100%;
    overflow-y: auto;
    white-space: initial;

    .nav
    {
      flex-direction: column;
    }

    .nav-item
    {
      display: block;
    }

    .nav-link
    {
      border-bottom: 0;
      border-left: space(xs) solid $neutral-80;
      padding: space(md) space(2x);
      text-align: left;

      &.active
      {
        border-color: $border-color-accent;
      }
    }
  }
}