<!--
  TODO: clean up comments
  https://medium.com/codyhouse/create-your-design-system-part-6-buttons-58e2eda2173e
  https://www.w3.org/WAI/WCAG21/quickref/?currentsidebar=%23col_customize&versions=2.1only&tags=contrast&showtechniques=1411
  https://www.w3.org/WAI/WCAG21/Understanding/non-text-contrast.html
  https://www.w3.org/WAI/WCAG21/Techniques/general/G183.html
  https://zellwk.com/blog/style-hover-focus-active-states/
  https://cloudfour.com/thinks/designing-button-states/
  https://spectrum.adobe.com/page/button/
-->
<div class="container-fluid container-lg">
  <div class="row">
    <div class="col">
      <h1>Call to Action</h1>
      <p>
        While a call to action looks like a button, it's really more of a design concept that can be applied to an anchor element or a button element, depending on its functionality. Calls to action can be any one of three styles (default, assertive, or ghost) and three sizes (default, small, or large).
      </p>
      <h2>Accessibility</h2>
       <ul>
        <li>
          Use an anchor element if the call to action navigates users to another location &mdash; keep in mind that <a href="https://css-tricks.com/how-to-disable-links/" target="_blank">anchor elements cannot be disabled</a>!
        </li>
        <li>
          Use a button element if the call to action performs an action on the page, such as opening a modal or submitting a form
        </li>
        <li>
          Don't use the input element to create a call to action &mdash; the button element is more semantic and supports the custom focus indicator, which is required for WCAG compliance
        </li>
        <li>
          Validate keyboard interactions
          <ul>
            <li>
              <a href="https://www.w3.org/TR/wai-aria-practices/#keyboard-interaction-10">Anchor element keyboard interactions</a>
            </li>
            <li>
              <a href="https://www.w3.org/TR/wai-aria-practices/#keyboard-interaction-3">Button element keyboard interactions</a>
            </li>
          </ul>
        </li>
        <!--
        <li>
          Note: pressed (:active) behaves differently across browsers
          <ul>
            <li>In Chrome, :active & :focus applied when activated when activated via mouse or keyboard</li>
            <li>In Firefox, Safari, :active applied when activated via mouse, and :active and :focus applied when activated by keyboard</li>
          </ul>
        </li>
        -->
      </ul>
      <h2>Styles & Sizes</h2>
      <h3>Default</h3>
      <p>Default calls to action are a secondary style. They are the default call to action style unless otherwise specified.</p>
    </div>
    <div class="col-12">
      <div class="demo-wrapper">
        <div class="demo-example">
          <div class="row align-items-center">
            <div class="col-auto">
              <button type="button" class="bsds-cta">Default</button>
            </div>
            <div class="col-auto">
              <button type="button" class="bsds-cta bsds-cta-lg">Default Large</button>
            </div>
            <div class="col-auto">
              <button type="button" class="bsds-cta bsds-cta-sm">Default Small</button>
            </div>
          </div>
          <div class="row mt-5">
            <div class="col-auto">
              <button type="button" class="bsds-cta">Enabled</button>
            </div>
            <div class="col-auto">
              <button type="button" class="bsds-cta demo-hover">Hover</button>
            </div>
            <div class="col-auto">
              <button type="button" class="bsds-cta demo-focus">Focus</button>
            </div>
            <div class="col-auto">
              <button type="button" class="bsds-cta demo-focus demo-active">Pressed</button>
            </div>
            <div class="col-auto">
              <button type="button" class="bsds-cta demo-disabled" disabled>Disabled</button>
            </div>
          </div>
        </div>
        <div class="demo-code">
          <markdown
            [data]="defaultCallToActionHtml"
            lineNumbers
          ></markdown>
        </div>
      </div>
      <h3>Assertive</h3>
      <p>Assertive calls to action can be used once per page, for the most important action. If there is insufficient contrast between the assertive call to action and the background, use a ghost call to action instead.</p>
      <div class="demo-wrapper">
        <div class="demo-example">
          <div class="row align-items-center">
            <div class="col-auto">
              <button type="button" class="bsds-cta bsds-cta-assertive">Assertive</button>
            </div>
            <div class="col-auto">
              <button type="button" class="bsds-cta bsds-cta-assertive bsds-cta-lg">Assertive Large</button>
            </div>
            <div class="col-auto">
              <button type="button" class="bsds-cta bsds-cta-assertive bsds-cta-sm">Assertive Small</button>
            </div>
          </div>
          <div class="row mt-5">
            <div class="col-auto">
              <button type="button" class="bsds-cta bsds-cta-assertive">Enabled</button>
            </div>
            <div class="col-auto">
              <button type="button" class="bsds-cta bsds-cta-assertive demo-hover">Hover</button>
            </div>
            <div class="col-auto">
              <button type="button" class="bsds-cta bsds-cta-assertive demo-focus">Focus</button>
            </div>
            <div class="col-auto">
              <button type="button" class="bsds-cta bsds-cta-assertive demo-focus demo-active">Pressed</button>
            </div>
            <div class="col-auto">
              <button type="button" class="bsds-cta bsds-cta-assertive demo-disabled" disabled>Disabled</button>
            </div>
          </div>
        </div>
        <div class="demo-code">
          <markdown
            [data]="assertiveCallToActionHtml"
            lineNumbers
          ></markdown>
        </div>
      </div>
      <h3>Ghost</h3>
      <p>Ghost calls to action should only be used on dark backgrounds that provide sufficient contrast.</p>
      <div class="demo-wrapper">
        <div class="demo-example dark">
          <div class="row align-items-center">
            <div class="col-auto">
              <button type="button" class="bsds-cta bsds-cta-ghost">Ghost</button>
            </div>
            <div class="col-auto">
              <button type="button" class="bsds-cta bsds-cta-ghost bsds-cta-lg">Ghost Large</button>
            </div>
            <div class="col-auto">
              <a href="#" class="bsds-cta bsds-cta-ghost bsds-cta-sm">Ghost Small</a>
            </div>
          </div>
          <div class="row mt-5">
            <div class="col-auto">
              <button type="button" class="bsds-cta bsds-cta-ghost">Enabled</button>
            </div>
            <div class="col-auto">
              <button type="button" class="bsds-cta bsds-cta-ghost demo-hover">Hover</button>
            </div>
            <div class="col-auto">
              <button type="button" class="bsds-cta bsds-cta-ghost demo-focus">Focus</button>
            </div>
            <div class="col-auto">
              <button type="button" class="bsds-cta bsds-cta-ghost demo-focus demo-active">Pressed</button>
            </div>
            <div class="col-auto">
              <button type="button" class="bsds-cta bsds-cta-ghost demo-disabled" disabled>Disabled</button>
            </div>
          </div>
        </div>
        <div class="demo-code">
          <markdown
            [data]="ghostCallToActionHtml"
            lineNumbers
          ></markdown>
        </div>
      </div>
      <h2>Resources</h2>
      <ul>
        <li>
          <a href="/">Authoring Guide</a>
        </li>
      </ul>
    </div>
  </div>
</div>