@import "./../../../styles";

$bsds-cta-radius: 0.1875rem;
$bsds-cta-focus-indicator-width: 0.125rem;
$bsds-cta-focus-indicator-radius: 0.3125rem;
$bsds-cta-focus-indicator-offset: -0.375rem;
$bsds-cta-raven-grey-tint-5: #c3c6ca; // updated disabled buttons
$bsds-cta-blue-medium-shade-4: #00405b; // pressed/active primary buttons

.bsds-cta,
.btn
{
  display: inline-block;
  border: 1px solid $blue;
  border-radius: $bsds-cta-radius;
  padding: 1rem 1.5rem; // legacy is 14px 21px
  background: $white;
  color: $blue;
  font-family: $sst-bold;
  font-size: 1rem; // 16px
  line-height: 1.25; // 23px
  text-decoration: none;
  text-align: center;
  cursor: pointer; // button is default, link is pointer

  &:not([disabled])
  {
    &:hover,
    &.demo-hover
    {
      background: $blue-light;
      text-decoration: none;
    }

    &:focus,
    &.demo-focus
    {
      position: relative;
      outline: none;
      background: $blue-light;

      &::after
      {
        content: '';
        position: absolute;
        top: $bsds-cta-focus-indicator-offset;
        right: $bsds-cta-focus-indicator-offset;
        bottom: $bsds-cta-focus-indicator-offset;
        left: $bsds-cta-focus-indicator-offset;
        border: $bsds-cta-focus-indicator-width solid $focus-indicator-dark;
        border-radius: $bsds-cta-focus-indicator-radius;
      }
    }

    &:active,
    &.demo-active
    {
      // pressed state
      border-color: transparent;
      background: $action-blue;
      color: $white;
    }
  }

  &.bsds-cta-primary,
  &.btn-primary
  {
    border-color: transparent;
    background: $blue;
    color: $white;
    
    &:not([disabled])
    {
      &:hover,
      &:focus,
      &.demo-hover,
      &.demo-focus
      {
        background: $blue-medium;
      }

      &:active,
      &.demo-active
      {
        // pressed state
        border-color: transparent;
        background: $bsds-cta-blue-medium-shade-4;
        color: $white;
      }
    }
  }

  &[disabled]
  {
    opacity: 1;
    border-color: transparent;
    background: $bsds-cta-raven-grey-tint-5;
    color: $white;
  }

  &.bsds-cta-ghost,
  &.btn-ghost
  {
    border-color: $white;
    background: transparent;
    color: $white;

    &:not([disabled])
    {
      &:hover,
      &.demo-hover
      {
        background: rgba($white, 0.1);
      }

      &:focus,
      &.demo-focus
      {
        background: rgba($white, 0.1);

        &::after
        {
          border-color: $focus-indicator-light;
        }
      }

      &:active,
      &.demo-active
      {
        // pressed state
        border-color: $white;
        background: rgba($white, 0.3);
      }
    }

    &[disabled]
    {
      opacity: 0.5;
    }
  }

  &.bsds-cta-sm
  {
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
  }

  &.bsds-cta-lg
  {
    padding: 1.25rem 1.75rem;
    font-size: 1.125rem;
  }
}