@import "./styles/_global-variables";
@import "./styles/_markdown-theme";

// We get this from Bootstrap's _reboot, but it may be necessary to include in other platforms
// *, ::after, ::before
// {
//   box-sizing: border-box;
// }

html
{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1rem;
}

body
{
  margin: 0;
  padding: 0;
  color: $shark-grey;
  font-family: $sst-roman;
  line-height: 1.5;
}

app-root
{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app-wrapper
{
  display: flex;
  flex: 1 1 auto;
  overflow-y: hidden;
}

.app-main
{
  width: 100%;
  overflow-y: auto;
}

h1
{
  position: relative;
  margin-top: 0.5rem;
  margin-bottom: 1.875rem;
  padding-bottom: 1.5rem;

  &::after
  {
    content: "";
    display: block;
    position: absolute;
    width: 3rem;
    height: 0.5rem;
    bottom: 0;
    left: 0;
    background-color: $raven-grey;
  }
}

h2
{
  margin-top: 3rem;
  margin-bottom: 0.5rem;
}

h3
{
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

h4, h5, h6
{
  margin-top: 1.25rem;
  margin-bottom: 0.5rem;
}

li
{
  margin-top: 0.5rem;
}

a
{
  color: $action-blue;
  font-family: $sst-bold;
  text-decoration: none;

  &:hover
  {
    text-decoration: underline;
  }

  &:focus
  {
    outline: 0.125rem solid $focus-indicator;
    outline-offset: 0.125rem;
  }
}

.demo-example
{
  border: 1px solid #1e1e1e; // matches markdown bg color
  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  padding: 1rem;
  background-image: 
    linear-gradient(45deg, rgb(249, 249, 250) 25%, transparent 25%), 
    linear-gradient(135deg, rgb(249, 249, 250) 25%, transparent 25%), 
    linear-gradient(45deg, transparent 75%, rgb(249, 249, 250) 75%), 
    linear-gradient(135deg, transparent 75%, rgb(249, 249, 250) 75%);
  background-size: 20px 20px;
  background-position: 0 0, 10px 0, 10px -10px, 0 10px;

  &.dark
  {
    border-bottom: 1px solid #000000;
    background-color: #1e1e1e;
    background-image: 
      linear-gradient(45deg, rgb(0, 0, 0) 25%, transparent 25%), 
      linear-gradient(135deg, rgb(0, 0, 0) 25%, transparent 25%), 
      linear-gradient(45deg, transparent 75%, rgb(0, 0, 0) 75%), 
      linear-gradient(135deg, transparent 75%, rgb(0, 0, 0) 75%);
  }
}

.demo-code
{
  markdown
  {
    pre[class*="language-"]
    {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: .3em;
      border-bottom-left-radius: .3em;
      margin: 0;
    }

    :not(pre) > code[class*="language-"]
    {
      border-radius: .3em;
    }
  }
}