@import "./styles/abstracts/variables";
@import "./styles/base/fonts";
@import "./styles/base/type";

// We get this from Bootstrap's _reboot, but it may be necessary to include in other platforms
*, ::after, ::before
{
  box-sizing: border-box;
}

body
{
  margin: 0;
  padding: 0;
  color: $black;
}

@import "./styles/layout/layout";
@import "./styles/layout/header";
@import "./styles/layout/nav-primary";

a
{
  color: $action-blue;
  font-family: $font-family-base-bold;
  text-decoration: none;

  &:hover
  {
    color: $action-blue;
    text-decoration: underline;
    cursor: pointer;
  }

  &:focus
  {
    outline: 0.125rem solid $focus-indicator;
    outline-offset: 0.125rem;
  }
}

.skip-link
{
  position: absolute;
  top: -50px;
  left: 0;
  border: 0;
  padding: 0.5rem 1rem;
  background: $white;
  color: $action-blue;
  font-size: .875rem;
  text-decoration: none;
  transition: top 1s ease-out;
  z-index: 100;

  &:hover
  {
    text-decoration: underline;
  }

  &:focus
  {
    position: absolute;
    top: 0;
    left: 0;
    transition: top 0.5s ease-in;
  }
}

.demo-example
{
  border: 1px solid #1e1e1e; // matches markdown bg color
  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  padding: 1rem;
  background-image: 
    linear-gradient(45deg, rgb(249, 249, 250) 25%, transparent 25%), 
    linear-gradient(135deg, rgb(249, 249, 250) 25%, transparent 25%), 
    linear-gradient(45deg, transparent 75%, rgb(249, 249, 250) 75%), 
    linear-gradient(135deg, transparent 75%, rgb(249, 249, 250) 75%);
  background-size: 20px 20px;
  background-position: 0 0, 10px 0, 10px -10px, 0 10px;

  &.dark
  {
    border-bottom: 1px solid #000000;
    background-color: #1e1e1e;
    background-image: 
      linear-gradient(45deg, rgb(0, 0, 0) 25%, transparent 25%), 
      linear-gradient(135deg, rgb(0, 0, 0) 25%, transparent 25%), 
      linear-gradient(45deg, transparent 75%, rgb(0, 0, 0) 75%), 
      linear-gradient(135deg, transparent 75%, rgb(0, 0, 0) 75%);
  }
}

.demo-code
{
  markdown
  {
    pre[class*="language-"]
    {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: .3em;
      border-bottom-left-radius: .3em;
      margin: 0;
    }

    :not(pre) > code[class*="language-"]
    {
      border-radius: .3em;
    }
  }
}

// for testing vertical rhythm
.baseline-grid
{
  background-image: linear-gradient(to bottom, #0ff 0, rgba(255,255,255,0) 1px);
  background-repeat: repeat-y;
  background-size: 100% 0.25rem;
}

@import "./styles/themes/markdown-theme";
@import "./styles/components/breadcrumbs";
@import "./styles/components/call-to-action";
@import "./styles/vendor/font-awesome/fontawesome";