.docs-icon-decorative,
.docs-icon-system {
  display: flex;
}

.docs-icon-decorative {
  > img {
    width: $size-icon-decorative;
    height: $size-icon-decorative;
  }
}

.docs-icon-system {
  > img {
    width: $ffs-body-assertive;
    height: $ffs-body-assertive;
  }
}

.docs-code-do,
.docs-code-dont {
  position: relative;
  display: block;
  padding-left: calc(space(2x) + space(sm));
  @include font-family-base-heavy;
  text-transform: uppercase;

  code {
    text-transform: none;
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: space(2x);
    height: space(3x);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
  }
}

.docs-code-do {
  &::before {
    background-image: url('../../../library/assets/images/icon-check-circle.svg');
  }
}

.docs-code-dont {
  &::before {
    background-image: url('../../../library/assets/images/icon-times-circle.svg');
  }
}
