// NOTE: changes to the space class names will need to be done in code and contentful (foundations > spacing)

@mixin space {
  /* stylelint-disable-next-line color-no-hex */
  background: rgba(#ff00b4, 0.3); // NOTE: this is a one-off to match sketch swatch
}

.docs-space {
  &-xxs {
    @include space;
    width: space(xxs);
    height: space(xxs);
  }

  &-xs {
    @include space;
    width: space(xs);
    height: space(xs);
  }

  &-sm {
    @include space;
    width: space(sm);
    height: space(sm);
  }

  &-md {
    @include space;
    width: space(md);
    height: space(md);
  }

  &-lg {
    @include space;
    width: space(lg);
    height: space(lg);
  }

  &-2x {
    @include space;
    width: space(2x);
    height: space(2x);
  }

  &-3x {
    @include space;
    width: space(3x);
    height: space(3x);
  }

  &-4x {
    @include space;
    width: space(4x);
    height: space(4x);
  }

  &-6x {
    @include space;
    width: space(6x);
    height: space(6x);
  }

  &-8x {
    @include space;
    width: space(8x);
    height: space(8x);
  }

  &-12x {
    @include space;
    width: space(12x);
    height: space(12x);
  }

  &-15x {
    @include space;
    width: space(15x);
    height: space(15x);
  }
}
