.carbon-badge {
  @include font-size($fs-body-subtle);
  text-align: center;

  &-data {
    display: flex;
    border: $border-width-xxs solid $border-color-action;
    background: $action-primary-95;
  }

  &-link,
  &-co2 {
    padding: space(xs) space(md);
  }

  &-co2 {
    border-right: $border-width-xxs solid $border-color-action;
    padding-bottom: calc(space(xs) + space(xxs));
    background: $neutral-100;
  }

  &-link {
    padding-top: calc(space(xs) + space(xxs));
    @include font-family-base-heavy;
    color: $text-color-primary;
  }

  &-percent {
    margin-top: space(sm);
  }
}
