// NOTE: if we update button/link mixins, we'll also need to modify button-link and link-button overrides in _button.scss and _link.scss

@mixin button-hover
{
  &:not([disabled])
  {
    &:hover
    {
      border-color: transparent;
      background: $action-primary-darker;
      color: $neutral-lightest;
      text-decoration: none;
    }
  }
}

@mixin button-active
{
  &:not([disabled])
  {
    &:active
    {
      border-color: transparent;
      background: $action-primary-darker;
      color: $neutral-lightest;
    }
  }
}

@mixin button-focus
{
  &:not([disabled])
  {
    &:focus
    {
      @include focus-default;
    }
  }
}

@mixin button-disabled
{
  &[disabled]
  {
    border-color: $neutral-light;
    background: $neutral-lighter;
    color: $neutral-dark;
    font-family: $font-family-base-regular;
    cursor: not-allowed;
  }
}

@mixin button-base
{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-width: space(xs);
  border-style: solid;
  border-radius: 0;
  padding: space(lg) space(3x) 0.6875rem; // NOTE: this is a one-off size because space(lg) - space(xxs) was rounding up
  font-family: $font-family-base-heavy;
  font-size: $ffs-body-assertive;
  text-align: center;

  .ads-button-text
  {
    flex: 1;
    text-align: left;
  }

  @include button-hover;
  @include button-active;
}

@mixin button-default
{
  @include button-base;
  border-color: $action-primary-dark;
  background: $neutral-lightest;
  color: $action-primary-dark;
  font-family: $font-family-base-heavy;
  @include button-focus;
  @include button-disabled;
}

@mixin button-subtle
{
  @include button-default;
  border-color: transparent;
  background: transparent;
  @include button-focus;
  @include button-disabled;
}

@mixin button-assertive
{
  @include button-base;
  border-color: transparent;
  background: $action-primary-dark;
  color: $neutral-lightest;
  @include button-focus;
  @include button-disabled;
}

@mixin button-ghost
{
  @include button-base;
  border-color: $neutral-lightest;
  background: transparent;
  color: $neutral-lightest;

  &:not([disabled])
  {
    &:hover,
    &:active
    {
      border-color: $neutral-lightest;
      background: rgba($neutral-lightest, 0.3);
    }

    &:focus
    {
      @include focus-ghost;
    }
  }

  &[disabled]
  {
    border-color: $neutral;
    background: transparent;
    color: $neutral;
    font-family: $font-family-base-regular;
    cursor: not-allowed;
  }
}

@mixin button-icon
{
  border-radius: 50%;
  padding: space(2x) + space(xxs);
}

//
// Default Button Styles
//

button
{
  @include button-default;
}

//
// Link Mixins
//

@mixin link-default
{
  color: $action-primary-dark;
  font-family: $font-family-base-heavy;
  text-decoration: underline;

  &:visited
  {
    color: $accent-plum-30;
  }

  &:hover
  {
    color: $neutral-darkest;
    cursor: pointer;
  }

  &:active
  {
    color: $neutral-darkest;
  }

  &:focus
  {
    @include focus-default;
  }
}

@mixin link-subtle
{
  color: $neutral-darkest;
  font-family: $font-family-base-heavy;
  text-decoration: underline;

  &:visited
  {
    color: $accent-plum-30;
  }

  &:hover
  {
    color: $action-primary-dark;
    cursor: pointer;
  }

  &:active
  {
    color: $action-primary-dark;
  }

  &:focus
  {
    @include focus-default;
  }
}

@mixin link-ghost
{
  color: $neutral-lightest;
  font-family: $font-family-base-heavy;
  text-decoration: underline;

  &:visited
  {
    color: $neutral-light;
  }

  &:hover
  {
    color: $neutral;
    cursor: pointer;
  }

  &:active
  {
    color: $neutral;
  }

  &:focus
  {
    @include focus-ghost;
  }
}

@mixin link-navigation
{
  font-family: $font-family-base-regular;
  color: $neutral-darkest;
  text-decoration: none;

  &:visited
  {
    color: $neutral-darkest;
  }

  &:hover
  {
    color: $neutral-darkest;
    text-decoration: underline;
  }

  &:active
  {
    color: $neutral-darkest;
    text-decoration: underline;
  }

  &.active
  {
    font-family: $font-family-base-heavy;
  }
}

//
// Default Link Styles
//

a
{
  @include link-default;
}