$base-alpha-px: 16;
$base-beta-px: 18;
$ratio-alpha: 1.16;
$ratio-beta: 1.18;

@function pow($number, $exponent) {
  $value: 1;
  @if $exponent > 0 {
    @for $i from 1 through $exponent {
      $value: $value * $number;
    }
  } @else if $exponent < 0 {
    @for $i from 1 through -$exponent {
      $value: $value / $number;
    }
  }
  @return $value;
}

@function ms($value, $ms-ratio) {
  $size: pow($ms-ratio, $value) * 1;
  @return $size * 1em;
}

@function unitless-lh($fs, $unitless-lh, $base)
{
  $unitless-fs: ($fs / 1) * $base; // (2.1em / 1) * 16 = 33.6;
  $line-height: $unitless-fs * $unitless-lh; // $line-height = 33.6 * 1.2 = 40.32
  $rounded-line-height: ceil($line-height / 4) * 4; // ceil(x / to) * to; // $rounded-line-height: round(40.32 / 4) * 4 = 40;
  $rounded-unitless-line-height: ceil($unitless-fs / $rounded-line-height) * ($rounded-line-height / $unitless-fs); // $rounded-unitless-line-height: ceil( 33.6 / 40 ) * ( 40 / 33.6);
  @return $rounded-unitless-line-height;
}

@mixin setType($fs, $lh, $base)
{
  font-size: $fs;
  line-height: unitless-lh($fs, $lh, $base);
}

body
{
  font-family: $font-family-base;
  // TODO: see if we can get this working with setType
  // @include setType(ms(0, $ratio-alpha), 1.5, $base-alpha-px);
  font-size: 1rem;
  line-height: unitless-lh(1rem, 1.5, $base-alpha-px);

  @media (min-width: 992px)
  {
    // TODO: see if we can get this working with setType
    // @include setType(ms(0, $ratio-beta), 1.5, $base-beta-px);
    font-size: 1.125rem;
    line-height: unitless-lh(1rem, 1.5, $base-beta-px);
  }
}

h1, h2, h3, h4, h5, h6,
.display-1, .display-2, .display-3, .display-4, .display-5, .display-6, .display-7
{
  margin-top: 0;
  margin-bottom: 0;
  font-family: $font-family-base-bold;
}

.display-1
{
  @include setType(ms(7, $ratio-alpha), 1, $base-alpha-px);

  @media (min-width: 992px)
  {
    @include setType(ms(7, $ratio-beta), 1, $base-beta-px);
  }
}

.display-2
{
  @include setType(ms(6, $ratio-alpha), 1, $base-alpha-px);

  @media (min-width: 992px)
  {
    @include setType(ms(6, $ratio-beta), 1, $base-beta-px);
  }
}

h1
{
  // 33.61, 36
  @include setType(ms(5, $ratio-alpha), 1, $base-alpha-px);

  @media (min-width: 992px)
  {
    // 41.18, 44
    @include setType(ms(5, $ratio-beta), 1, $base-beta-px);
  }
}

h2
{
  @include setType(ms(4, $ratio-alpha), 1, $base-alpha-px);

  @media (min-width: 992px)
  {
    @include setType(ms(4, $ratio-beta), 1, $base-beta-px);
  }
}

h3
{
  @include setType(ms(3, $ratio-alpha), 1, $base-alpha-px);

  @media (min-width: 992px)
  {
    @include setType(ms(3, $ratio-beta), 1, $base-beta-px);
  }
}

h4
{
  @include setType(ms(2, $ratio-alpha), 1, $base-alpha-px);

  @media (min-width: 992px)
  {
    @include setType(ms(3, $ratio-beta), 1, $base-beta-px);
  }
}

h5
{
  @include setType(ms(1, $ratio-alpha), 1, $base-alpha-px);

  @media (min-width: 992px)
  {
    @include setType(ms(1, $ratio-beta), 1, $base-beta-px);
  }
}

h6
{
  @include setType(ms(0, $ratio-alpha), 1, $base-alpha-px);

  @media (min-width: 992px)
  {
    @include setType(ms(0, $ratio-beta), 1, $base-beta-px);
  }
}

.text-size-lg
{
  // 18.56, 28
  @include setType(ms(1, $ratio-alpha), 1.5, $base-alpha-px);

  @media (min-width: 992px)
  {
    // 21.24, 32
    @include setType(ms(1, $ratio-beta), 1.5, $base-beta-px);
  }
}

.text-size-sm
{
  // 13.79, 24
  @include setType(ms(-1, $ratio-alpha), 1.5, $base-beta-px);

  @media (min-width: 992px)
  {
    // 15.25, 24
    @include setType(ms(-1, $ratio-beta), 1.5, $base-beta-px);
  }
}

.text-size-xs
{
  font-size: 0.75rem;
  line-height: 1.5;
}